{% load static %}
<!DOCTYPE html>
<html lang="en">

<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Primary Meta Tags -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<title>
  Wayrem - {% block title %}{% endblock %} 
</title>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="Wayrem">
<meta name="author" content="Themesberg">
<meta name="description" content="Wayrem">
<meta name="keywords" content="Wayrem" />
{% comment %} <link rel="canonical" href="https://appseed.us/admin-dashboards/django-dashboard-volt"> {% endcomment %}

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="120x120" href="{% static '/assets/img/logo/Wayrem_logo..svg'%}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static '/assets/img/logo/Wayrem_logo..svg'%}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static '/assets/img/logo/Wayrem_logo..svg'%}">
<link rel="manifest" href="/static/assets/img/favicon/site.webmanifest">
<link rel="mask-icon" href="{% static '/assets/img/logo/Wayrem_logo..svg'%}" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<!-- Fontawesome -->
<link type="text/css" href="{% static 'assets/vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet">

<!-- Sweet Alert -->
<link type="text/css" href="{% static 'assets/vendor/sweetalert2/dist/sweetalert2.min.css' %}" rel="stylesheet">

<!-- Notyf -->
<link type="text/css" href="{% static 'assets/vendor/notyf/notyf.min.css' %}" rel="stylesheet">

<!-- Volt CSS -->
<link type="text/css" href="{% static 'assets/css/volt.css' %}" rel="stylesheet">
{% block stylesheets %}{% endblock stylesheets %}
{% block head %}{% endblock head %}

<script type="text/javascript" src="https://jointworks.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e-T/azc3hx/b/7/c95134bc67d3a521bb3f4331beb9b804/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=626c3fd9"></script>
</head>
<body>

  <nav class="navbar navbar-dark navbar-theme-primary px-4 col-12 d-md-none">
      <a class="navbar-brand me-lg-5" href="/">
          <img class="navbar-brand-dark" src="/static/assets/img/brand/light.svg" alt="Volt logo" /> <img class="navbar-brand-light" src="/static/assets/img/brand/dark.svg" alt="Volt logo" />
      </a>
      <div class="d-flex align-items-center">
          <button class="navbar-toggler d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      </div>
  </nav>

  {% include 'includes/sidebar.html' %} 
    
  <main class="content">

    {% include 'includes/navigation.html' %}

    {% block content %}{% endblock content %}

    {% comment %} {% include 'includes/settings-box.html' %} {% endcomment %}

    {% include 'includes/footer.html' %}

  </main>

  {% include 'includes/scripts.html' %}
  <script>
    // var alertElement = document.getElementById('hide')
    var alertElement = document.getElementsByClassName('alert-dismissible')
    window.setTimeout(function () {
      alertElement[0].style.display = 'none';
    }, 2322);
  </script>




{% block javascripts %}

{% endblock javascripts %}

</body>
</html>
<script>
  $(document).ready(function () {
    var path = window.location.pathname;
    $(".simplebar-mask .sidebar-inner ul.nav a").each(function(){
        // var path = window.location.pathname;
        $(".simplebar-mask .sidebar-inner ul.nav a[href*='"+path+"']").addClass("active");
        if(path== $(this).attr('href')){
          $(this).parent( "li" ).parent( "ul" ).parent( ".multi-level" ).addClass("active_div").parent('li.nav-item').addClass("active");
          $(this).parent( "li" ).parent( "ul" ).parent( ".multi-level" ).addClass("show");
          $(this).parent( "li.nav-item" ).parent( "ul.nav" ).parent( ".active_div" ).parent('li.nav-item').addClass("active");
        }
    });

    setTimeout(function() {   //calls click event after a certain time
      $(".simplebar-mask .sidebar-inner ul.nav a").each(function(){
            $(this).parent( "li.nav-item" ).parent( "ul.nav" ).parent( "div.active_div.show" ).parent('li.nav-item').addClass("active");
      });
    }, 1);

    if((path.indexOf('products/product/') != -1) || (path.indexOf('products/product-view') != -1)){
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/products/product/']").addClass("active");
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/products/product/']").parent( "li" ).parent( "ul" ).parent( ".multi-level" ).addClass("active_div");
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/products/product/']").parent( "li" ).parent( "ul" ).parent( ".multi-level" ).addClass("show");
    }
      
    if((path.indexOf('products/update-product/') != -1) || (path.indexOf('/products/product-details/') != -1)){
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/products/product-list/']").addClass("active");
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/products/product-list/']").parent( "li" ).parent( "ul" ).parent( ".multi-level" ).addClass("active_div");
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/products/product-list/']").parent( "li" ).parent( "ul" ).parent( ".multi-level" ).addClass("show");
    }

    if((path.indexOf('/ingredient/') != -1)){
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/ingredient/']").addClass("active");
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/ingredient/']").parent( "li" ).parent( "ul" ).parent( ".multi-level" ).addClass("active_div");
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/ingredient/']").parent( "li" ).parent( "ul" ).parent( ".multi-level" ).addClass("show");
    }
    
    if(path.indexOf('/category/') != -1){
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/category/categories-list/']").addClass("active");
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/category/categories-list/']").parent( "li" ).parent( "ul" ).parent( ".multi-level" ).addClass("active_div");
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/category/categories-list/']").parent( "li" ).parent( "ul" ).parent( ".multi-level" ).addClass("show");
    }
   
    
    if(path.indexOf('/supplier/') != -1){
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/supplier/supplier-list/']").addClass("active");
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/supplier/supplier-list/']").parent( "li" ).parent( "ul" ).parent( ".multi-level" ).addClass("active_div");
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/supplier/supplier-list/']").parent( "li" ).parent( "ul" ).parent( ".multi-level" ).addClass("show");
    }
    
    if(path.indexOf('/roles/') != -1){
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/roles/list/']").addClass("active");
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/roles/list/']").parent( "li" ).parent( "ul" ).parent( ".multi-level" ).addClass("active_div");
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/roles/list/']").parent( "li" ).parent( "ul" ).parent( ".multi-level" ).addClass("show");
    }
  
    
    if(path.indexOf('/account/') != -1){
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/account/users-list/']").addClass("active");
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/account/users-list/']").parent( "li" ).parent( "ul" ).parent( ".multi-level" ).addClass("active_div");
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/account/users-list/']").parent( "li" ).parent( "ul" ).parent( ".multi-level" ).addClass("show");
    }

    if(path.indexOf('/purchase_order/') != -1){
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/purchase_order/']").addClass("active");
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/purchase_order/']").parent( "li" ).parent( "ul" ).parent( ".multi-level" ).addClass("active_div");
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/purchase_order/']").parent( "li" ).parent( "ul" ).parent( ".multi-level" ).addClass("show");
    }
    if((path.indexOf('/warehouses/') != -1)){
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/warehouses/list/']").addClass("active");
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/warehouses/list/']").parent( "li" ).parent( "ul" ).parent( ".multi-level" ).addClass("active_div");
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/warehouses/list/']").parent( "li" ).parent( "ul" ).parent( ".multi-level" ).addClass("show");
    }

    if((path.indexOf('/inventories/') != -1)){
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/inventories/list/']").addClass("active");
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/inventories/list/']").parent( "li" ).parent( "ul" ).parent( ".multi-level" ).addClass("active_div");
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/inventories/list/']").parent( "li" ).parent( "ul" ).parent( ".multi-level" ).addClass("show");
    }
    if((path.indexOf('/shipping-rates/') != -1)){
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/shipping-rates/']").addClass("active");
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/shipping-rates/']").parent( "li" ).parent( "ul" ).parent( ".multi-level" ).addClass("active_div");
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/shipping-rates/']").parent( "li" ).parent( "ul" ).parent( ".multi-level" ).addClass("show");
    }
    
    if((path.indexOf('/customer') != -1)){
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/customer/customers-list/']").addClass("active");
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/customer/customers-list/']").parent( "li" ).parent( "ul" ).parent( ".multi-level" ).addClass("active_div");
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/customer/customers-list/']").parent( "li" ).parent( "ul" ).parent( ".multi-level" ).addClass("show");
    }
    if((path.indexOf('/credits') != -1)){
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/credits/credits-list/']").addClass("active");
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/credits/credits-list/']").parent( "li" ).parent( "ul" ).parent( ".multi-level" ).addClass("active_div");
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/credits/credits-list/']").parent( "li" ).parent( "ul" ).parent( ".multi-level" ).addClass("show");
    }

    if((path.indexOf('/home/pages/') != -1)){
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/home/pages/list/']").addClass("active");
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/home/pages/list/']").parent( "li" ).parent( "ul" ).parent( ".multi-level" ).addClass("active_div");
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/home/pages/list/']").parent( "li" ).parent( "ul" ).parent( ".multi-level" ).addClass("show");
    }
    
    if((path.indexOf('/orders/') != -1)){
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/orders/']").addClass("active");
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/orders/']").parent( "li" ).parent( "ul" ).parent( ".multi-level" ).addClass("active_div");
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/orders/']").parent( "li" ).parent( "ul" ).parent( ".multi-level" ).addClass("show");
    }
    
    if(path.indexOf('/email-templates/') != -1){
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/email-templates/list/']").addClass("active");
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/email-templates/list/']").parent( "li" ).parent( "ul" ).parent( ".multi-level" ).addClass("active_div");
      $(".simplebar-mask .sidebar-inner ul.nav a[href*='/email-templates/list/']").parent( "li" ).parent( "ul" ).parent( ".multi-level" ).addClass("show");
    }

    
    

    function clickaction(){
      $('.selectedcat_margin input').click(function(){
          var checkedval = $('input[name=cat_marginselected]:checked');
          $('#id_wayrem_margin').val(checkedval.attr('val-autoops'));
          $('#id_margin_unit').val(checkedval.attr('val-autoopstype'));
      });
    }
    $('.form-file .form-file-input').change(function(e) {
        var file = e.target.files[0].name;
        $(this).next('.form-file-label').find('.form-file-text').text(file)
    });
    $('.form-file.multiple .form-file-input').change(function(e) {
        var file = e.target.files.length;
        $(this).next('.form-file-label').find('.form-file-text').text(file+' files')
    });
  });
</script>

<script src="https://appsrv1-147a1.kxcdn.com/volt-dashboard/vendor/popper.js/dist/umd/popper.min.js"></script>
   <script src="https://appsrv1-147a1.kxcdn.com/volt-dashboard/vendor/bootstrap/dist/js/bootstrap.min.js"></script>