{% load util_tags  %}
{% block content %}
<table class="table table-hover text-center" id="filtertable">
    <thead class="">
        <tr>
            <!-- <th scope="col">S. No.</th> -->
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            {% if perms.supplier_management.supplier_activate %}
            <th scope="col">Status</th>
            {% endif %}
            <th scope="col">Products</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody class="bg-white">
        {% for suppl in supplierlist %}
                {% if .is_superuser %}
                {% else %}
                <tr>
                    {% comment %} <th scope="row">{{forloop.counter}}</th> {% endcomment %}
                    <td>{{suppl.username}}</td>
                    <td>{{suppl.email}}</td>
                    {% if perms.supplier_management.supplier_activate %}
                    <td> 
                        {% if suppl.is_active %} <a href="{% url 'wayrem_admin:activeblocksupplier' suppl.id %}"
                            class="btn-sm text-success"><i class="fas fa-toggle-on"> Active</i></a> {% else %} <a
                            href="{% url 'wayrem_admin:activeblocksupplier' suppl.id %}" class="btn-sm text-danger"><i
                                class="fas fa-toggle-off"> Blocked</i> </a>
                        {% endif %} 
                    </td>
                    {% endif %}
                    <td>
                        {% comment %} <a class="btn btn-sm" href="{% url 'wayrem_admin:viewprodsupplier' %}?product={{prod.SKU}}"> {% endcomment %}
                        {% if perms.supplier_management.view_supplier %}
                        <a onclick="supplierprodFunc('{{suppl.id}}')">
                        View Products
                        </a>
                        {% endif %}
                    
                        <!-- Modal View Supplier -->
                        
                        <div class="modal fade" "text-center" id="supplier{{suppl.id}}" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                            <div class="modal-dialog modal-xl modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="">{{suppl.username |title}} Products</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div id="test{{suppl.id}}"></div>                            
                                    </div>                    
                                </div>
                            </div> 
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="deleteModal{{suppl.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"  aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Delete {{suppl.username | title}}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure want to delete {{suppl.username | title}} ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                                        <form method="POST" action="{% url 'wayrem_admin:deletesupplier' %}">
                                            {% csrf_token %}
                                            <input type="hidden" value="{{suppl.id}}" name="supplier_id">
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="icon icon-sm">
                                    <span class="fas fa-ellipsis-h icon-dark"></span>
                                </span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                {% if perms.supplier_management.view_supplier %}
                                <a class="dropdown-item" href="{% url 'wayrem_admin:supplierdetails' suppl.id %}"><span class="fas fa-eye mr-2"></span>View Details</a>
                                {% endif %}
                                {% if perms.supplier_management.edit_supplier %}
                                <a class="dropdown-item" href="{% url 'wayrem_admin:updatesupplier' suppl.id %}"><span class="fas fa-edit mr-2"></span>Edit</a>
                                {% endif %}
                                {% if perms.supplier_management.delete_supplier %}
                                <a class="dropdown-item text-danger"  data-bs-toggle="modal" data-bs-target="#deleteModal{{suppl.id}}" href="#"> <span class="fas fa-trash-alt mr-2"></span>Remove</a>
                                {% endif %}
                            </div>
                        </div>
                    </td>

                    
                </tr>
                {% endif %}
                {% endfor %}
    </tbody>
</table>
{% endblock content %}
