* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Inter', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    padding: 2rem 0;
}

h3 {
    color: #272f3a;
    font-weight: 600;
    margin: 2rem 0;
}

h2 {
    color: #272f3a;
    font-weight: 600;
    margin: 2rem 0;
}

strong {
    color: #272f3a;
    font-weight: 600;
}

p {
    color: #607d8b;
    text-align: justify;
}