{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Inventories List {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block head %}
<script src="{% static 'assets/js/datatable_ajax.js' %}"></script>
<link rel="stylesheet" href="{% static 'assets/css/datatable.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<script src="{% static 'assets/js/datatable_1.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="{% static 'assets/js/datatable.js' %}"></script>
{% comment %} 
    <script src=  "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">  </script>  
    <script src= "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">  </script>  
    <link href= "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css" />   {% endcomment %}
{% endblock head %}
{% load util_tags  %}
{% block content %}

<div class="filter_width p-4 dropdown_content" id="myProfile">
   
</div>

<div class="dashboard_content_inner">
    <div class="topbar_pages">
        <h4 class="text-title">All Inventories</h2>
        <div class="breadcrumb-section">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb padding-left-0">
                    <li class="breadcrumb-item"><a href="{% url 'wayrem_admin:dashboard' %}"><span class="sidebar-icon"><span class="fas fa-chart-pie"></span></span> Dashboard</a></li>
                    <li class="breadcrumb-item"><span class="sidebar-icon"><i class="fas fa-box-open"></i></span> <span class="sidebar-text">Inventory & Warehouses &nbsp; </span></li>
                    <li class="breadcrumb-item active" aria-current="page">Manage Inventories</li>
                </ol>
            </nav>
        </div>
    </div> 
    {% if messages %}
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible fade show" {% endif %} role="alert">
        <strong> {{ message }}!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    
    <div class="table-settings mb-4">
        <div class="subheader row align-items-center justify-content-between">
            <div class="col-xl-5 col-lg-5 col-5">
                
            </div>

            <div class="col-xl-4 col-lg-4 col-8 my-2">
                <div class="row d-flex align-items-center">
                    <div class="col-xl-12 col-lg-3 col-md-0 mb-3 mb-md-0 mb-sm-3 mb-lg-0 " style="height:40px;">
                    <form method="GET">    
                        <div class="input-group subadmin_search">
                            {{filter_form.SKU}}
                            <button type="submit" class="btn btn-dark border-0 col-xl-3 col-md-5 col-12 fas fa-search"> Search</button>
                        </div>
                    </form>
                    </div>
                </div>

            </div>

            <div class="col-xl-2 col-lg-2 col-md-2 padding-right-0 m-2 justify-content-end d-flex">
                        <a class=" btn btn-primary col-xl-12 col-lg-12" data-bs-toggle="modal" data-bs-target="#advance_filter" href="#">Filter <img src="/static/assets/img/logo/filter1.svg" height="" width=""> </a>
            </div>
</div>


<div class="modal fade" id="advance_filter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Advance filter - Search by:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="GET" autocomplete="off">
                    <div class="row">
                        <div class="col-4">
                            <div class="input_border text-black m-0 text-center d-flex alifn-item-center">
                                <label for="inputPassword4">Product Name</label>
                            </div>
                            <div class="col-12 input_border">
                                {{filter_form.name}}
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="input_border text-black m-0 text-center d-flex alifn-item-center">
                                <label for="inputPassword4">SKU</label>
                            </div>
                            <div class="col-12 input_border">
                                {{filter_form.SKU}}
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="input_border text-black m-0 text-center d-flex alifn-item-center">
                                <label for="inputPassword4">Category</label>
                            </div>
                            <div class="col-12 input_border">
                                {{filter_form.category}}
                            </div>
                        </div>
            
                    </div>
                    
                    <div class="row mt-4 d-flex justify-content-end">
                                    <button type="cancel" onclick="cancelBtn()" class="btn  btn-danger me-2 btn-block col-xl-3 col-md-5 col-12 mt-sm-3 mt-md-0 mt-3">Cancel</button>
                                <button type="submit" class="btn btn-dark border-0 col-xl-3 col-md-5 col-12">Apply</button>
                    </div>         
                </form>
            </div>
           
        </div>
    </div>
</div>
    </div>
    <div class="card card-body border-light shadow-sm table-wrapper table-responsive pt-0">
        <table class="table table-hover text-center" id="filtertable">
            <thead class="">
                <tr>
                    {% comment %} <th scope="col">S. No.</th> {% endcomment %}
                    <th scope="col">SKU</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Product</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Inventory type</th>
                    <th scope="col">Quantity In</th>
                    <th scope="col">Quantity Out</th>
                    <th scope="col">Created At</th>
                    {% if perms.inventory.view  %} <th scope="col">Actions</th>{% endif %}
                </tr>
            </thead>
            <tbody class="bg-white">
                {% if inventories %}
                {% for item in inventories %}
                <tr>
                    <td>{{item.product.SKU}}</td>
                    <td>
                        {% if item.product.mfr_name %}
                        {{item.product.mfr_name}}
                        {% else %}
                        -
                        {% endif %}
                    </td>
                    <td>{{item.product.name}}</td>
                    <td>
                        {% if item.order_id %}
                        {{item.order_id|inventory_customer}}
                        {% else %}
                          -
                        {% endif %}</td>
                    <td>{{item.inventory_type.type_name}}</td>
                    <td>
                        {% if item.inventory_type.id == 3 or item.inventory_type.id == 5  %}
                        --
                        {% else %}
                        {{item.quantity}}
                        {% endif %}
                    </td>
                    <td>
                        {% if item.inventory_type.id == 3 or item.inventory_type.id == 5 %}
                        {{item.quantity}}
                        {% else %}
                        --
                        {% endif %}
                    </td>

                   <td>{{item.created_at|date:"M d, Y" }}</td>
                   {% if perms.inventory.view  %}
                   <td>
                        <div class="btn-group">
                            <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="icon icon-sm">
                                    <span class="fas fa-ellipsis-h icon-dark"></span>
                                </span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                {% if perms.inventory.view %}<a class="dropdown-item" href="{% url 'wayrem_admin:view_inventory' item.id %}"><span class="fas fa-eye mr-2"></span>View Details</a>{% endif %}
                                {% comment %} <a class="dropdown-item" href="{% url 'wayrem_admin:update_inventory' item.id %}"><span class="fas fa-edit mr-2"></span>Edit</a>
                                <a class="dropdown-item text-danger"  data-bs-toggle="modal" data-bs-target="#deleteModal{{item.id}}" href="#"> <span class="fas fa-trash-alt mr-2"></span>Remove</a> {% endcomment %}
                            </div>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="deleteModal{{item.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Delete Inventory of Product: {{item.product.SKU | title}}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure want to delete Inventory of Product: {{item.product.SKU | title}} ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                                        <form method="POST" action="{% url 'wayrem_admin:deleteproduct' %}">
                                            {% csrf_token %}
                                            <input type="hidden" value="{{item.id}}" name="product_id">
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>{% endif %}
                </tr>
                {% endfor %}
                {% else %}
                        <td colspan="6">No data available in table.</td>
                {% endif %}
            </tbody>
        </table>
        
        
        <div class="card-footer px-3 border-0 d-flex align-items-center justify-content-between">
            <div class="font-weight-bold small">Showing <b class="searchfoundstart">{{ page_obj.start_index }}</b> to <b class="searchfound">{{ page_obj.end_index }}</b> out of <b>{{ page_obj.paginator.count }}</b> entries</div>
            <nav  aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link"><span>Previous</span></a></li>
                        {% endif %}
        
                        {% if page_obj.number|add:'-4' > 1 %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'-5' }}">&hellip;</a></li>
                        {% endif %}
        
                        {% for i in page_obj.paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li class="page-item active"><a class="page-link"><span>{{ i }} <span class="sr-only">(current)</span></span></a></li>
                            {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
        
                        {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'5' }}">&hellip;</a></li>
                        {% endif %}
        
                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link"><span>Next</i></span></a></li>
                        {% endif %}
        
                        </ul>
            </nav>
        
            </div>
    </div>
</div>

<script>
function supplierFunc(SKU){
  
    const url="{% url 'wayrem_admin:viewprodsupplier' %}";
    $.ajax({
        
        url:url,
        data: {
                    'product': SKU       // add the country id to the GET parameters
                },
        success:function(data){
        $("#test"+SKU).html(data);
        
        $("#supplier"+SKU).modal('show');
        },
    });

    }
    $(document).ready(function(){
    
        $('#supplier').modal('hide');
    
    });
</script>

<script>
function lowestFunc(SKU){
  
    const url="{% url 'wayrem_admin:lowest_price' %}";
    $.ajax({
        
        url:url,
        data: {
                    'product': SKU       // add the country id to the GET parameters
                },
        success:function(data){
        $("#lowest_price"+SKU).html(data);
        
        $("#lowest"+SKU).modal('show');
        },
    });

    }
    $(document).ready(function(){
    
        $('#lowest').modal('hide');
    
    });
</script>

<script>
function lowesttimeFunc(SKU){
  
    const url="{% url 'wayrem_admin:lowest_time' %}";
    $.ajax({
        
        url:url,
        data: {
                    'product': SKU       // add the country id to the GET parameters
                },
        success:function(data){
        $("#lowest_time"+SKU).html(data);
        
        $("#lowesttime"+SKU).modal('show');
        },
    });

    }
    $(document).ready(function(){
    
        $('#lowest').modal('hide');
    
    });
</script>
<script>
    function myProfile() {
        var x = document.getElementById("myProfile");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
      
        }
      }

      function cancelBtn() {
        console.log("button clicked")
        location = location.href.split('?')[0];
        
        
        var x = document.getElementById("myProfile");
        if (x.style.display === "block") {
            x.style.display = "none";
        } 
        
      }
</script>


<script>
    function myProfile() {
        var x = document.getElementById("myProfile");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
      
        }
      }

      function cancelBtn() {
        var x = document.getElementById("myProfile");
        if (x.style.display === "block") {
            x.style.display = "none";
        } 
      }
</script>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}


