<table class="table table-hover text-center" id="filtertable">
    <thead class="">
        <tr>
           <th scope="col">Product SKU</th>
           <th scope="col">Product Brand</th>
           <th scope="col">Inventory Type</th>
           <th scope="col">Quantity In</th>
           <th scope="col">Quantity Out</th>

            <th scope="col">Created At</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody class="bg-white">
        {% for inventory in inventories %}
        <tr>
       
            <td>{{inventory.product.SKU}}</td>
            <td>{{inventory.product.mfr_name}}</td>
            <td>{{inventory.inventory_type}}</td>
            <td>
                {% if inventory.inventory_type == 'Starting' or inventory.inventory_type == 'Received' %}
                    {{inventory.quantity}}
                {% elif inventory.inventory_type == 'Shipped' %}
                    --
                {% endif %}
            </td>
            <td>{% if inventory.inventory_type == 'Starting' or inventory.inventory_type == 'Received' %}
                    --
                {% elif inventory.inventory_type == 'Shipped' %}
                    {{inventory.quantity}}
                {% endif %}
            </td>

           <td>{{inventory.created_at|date:"M d, Y" }}</td>
            <td>                    
               <a type="button" class="btn btn-sm" href="{% url 'wayrem_admin:view_inventory' inventory.id %}"><i class="mx-1 fas fa-eye text-success" ></i> </a>
               <a type="button" class="btn btn-sm" href="{% url 'wayrem_admin:update_inventory' inventory.id %}" ><i class="fas fa-edit text-dark"></i> </a>
               </td>    
            </td>
           
        </tr>
        {% endfor %}
    </tbody>
</table>