<div class="card card-body bg-white border-light shadow-sm mb-4">
                    <h2 class="h5 mb-3">Status</h2>
                    <div>
                        <div class="mb-4">
                            <label class="my-1 mr-2" for="country">Lorem ipsum</label>
                            <select class="form-select" id="country" aria-label="Default select example">
                                <option selected="">Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                </div>