<div class="card card-body border-light shadow-sm mb-4">
              <h5>Timeline</h5> 
              <hr>

              <!--line-->
              <div class="timeline" style="">
                <div class="timeline_container right row ms-0 me-0">
                    <div class="timeline_content col-10">
                     <p>This order was archived</p>
                    </div>
                    <div class="col-2 pt-2 pb-4 text-muted d-flex justify-content-end">8:44 am</div>
                </div>
  
                <div class="timeline_container right row ms-0 me-0">
                    <div class="timeline_content col-10">
                     <p>Order confirmation Email was sent to Arthur Plummer</p>
                    </div>
                    <div class="col-2 pt-2 pb-4 text-muted d-flex justify-content-end">1:11 pm</div>
                </div>

                <div class="timeline_container right row ms-0 me-0">
                    <div class="timeline_content col-10">
                     <p>A 35.40 INR payment was processed on Razorpay</p>
                    </div>
                    <div class="col-2 pt-2 pb-4 text-muted d-flex justify-content-end">1:11 pm</div>
                </div>

              </div>
              <!--line end-->

        </div>