{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Scan Barcode {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="dashboard_content_inner">
    <div class="topbar_pages">
        <h4 class="text-title">Scan Product </h2>
        <div class="breadcrumb-section">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb padding-left-0">
                    <li class="breadcrumb-item"><a href="{% url 'wayrem_admin:dashboard' %}"><span class="sidebar-icon"><span class="fas fa-chart-pie"></span></span> Dashboard</a></li>
                    <li class="breadcrumb-item"><span class="sidebar-icon"><i class="fas fa-gift"></i></span> <span class="sidebar-text">Product Management &nbsp; </span></li>
                    {% comment %} <li class="breadcrumb-item"><a href="{% url 'wayrem_admin:productlist' %}"><span class="sidebar-icon"><i class="fas fa-gift"></i></span> <span class="sidebar-text">Manage Product &nbsp; </span></a></li> {% endcomment %}
                    <li class="breadcrumb-item active" aria-current="page">Scan Product </li>
                </ol>
            </nav>
        </div> 
    </div>
    <p>
        {% if messages %}
     {% for message in messages %}
     <div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible fade show" {% endif %} role="alert">
     <strong> {{ message }}</strong> 
     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
     </div>
     {% endfor %}        
     {% endif %}


     </p>
    <div class="row justify-content-center form-bg-image mt-3">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="bg-white  rounded p-4 p-lg-4 w-50 shadow-sm">
                <div class="text-center text-md-center mb-2 mt-md-0">
                    <h1 class="mb-0 h3">
                        {% comment %} <img src="{% static '/assets/img/logo/Wayrem_logo..svg'%}" style="width:80%" alt=""> {% endcomment %}
                    </h1>
                    <br />
                    
                </div>
                <form action="{% url 'wayrem_admin:product_barcode' %}" id="barcode_form" method="post">
                    {% csrf_token %}
                    <!-- Form -->
                    <div class="form-group mb-4">
                        <label for="code">Scan Barcode </label>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1"><span
                                    class="fas fa-barcode"></span></span>
                            <input type="text" onkeyup="lowestFunc()" placeholder="Barcode Number" class="form-control" id="code" autofocus required
                                name="barcode" aria-describedby="emailHelp">
                        </div>
                    </div>
                    <!-- End of Form -->
                   
                </form>
            </div>
        </div>
    </div>
    
</div>

<!-- Modal Lowest Price -->
<div class="modal fade" id="barData" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Barcode Data</h5>
                <button type="button" class="btn-close close_modal" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="details"></div>
            </div>
            <div class="modal-footer">
                <button id="close_btn" class="btn btn-danger" >Close</button>
              </div>
        </div>
    </div> 




{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
{% comment %} <script>

  $('#code').keyup(function(){
      if(this.value.length >=12){
      $('#subHere').click();
      }
  });
</script> {% endcomment %}

<script>
    $('#close_btn').on('click', function () {
        $("#barData").modal('hide');
        $("#barcode_form").trigger('reset');
        $("#code").focus();
    })


    function lowestFunc(){
      
        const url="{% url 'wayrem_admin:scaned_product' %}";
        var code = document.getElementById('code').value;
        console.log(code)
        if (code.length > 1) {
        $.ajax({
            
            url:url,
            data: {
                        'barcode': code 
                    },
            success:function(data){
            $("#details").html(data);
            
            $("#barData").modal('show');
            },
        });
    
        }
    }

    
</script>
{% comment %} <script>

    $('#sbmt').click(function(){
        var url="{% url 'wayrem_admin:product_barcode' %}";
        var code = document.getElementById('barcode').value;
        $.ajax({
            url: url,
            type: 'POST',
            cache: false,
            data: {
                'barcode': code 
            },
            success: function(data) {
                $('#orderpopup').modal('show');
                $("#orderpopup").html(data);
            }
        })
        
    })
  document.addEventListener('keydown', function(event) {
    if( event.keyCode == 13 || event.keyCode == 17 || event.keyCode == 74 )
      event.preventDefault();
  });
</script>  {% endcomment %}
{% endblock javascripts %}