{% load util_tags  %}
{% block content %}
<table class="table table-hover text-center" id="filtertable">
    <thead class="">
        <tr>
            {% comment %} <th scope="col">S. No.</th> {% endcomment %}
            <th scope="col">SKU</th>
            <th scope="col">Product Name</th>
            {% comment %} <th scope="col">Category Name</th> {% endcomment %}
            <th scope="col">Suppliers</th>
            <th scope="col">lowest quoted price</th>
            <th scope="col">lowest delivery time</th>
            <th scope="col">PO</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody class="bg-white">
        {% for prod in productslist %}
        <tr>
            {% comment %} <th scope="row">{{forloop.counter}}</th> {% endcomment %}
            <td>{{prod.SKU}}</td>
            <td>{{prod.name |truncatechars:9 }}</td>
            {% comment %} <td>
            {% for i in prod.product_category.all%}
            
                {{i}}
                {% endfor %}
                </td> {% endcomment %}
                <td>
                {% comment %} <a class="btn btn-sm" href="{% url 'wayrem_admin:viewprodsupplier' %}?product={{prod.SKU}}"> {% endcomment %}
                <a onclick="supplierFunc('{{prod.SKU}}')">
                View Supplier
                </a></td>
                <!-- Modal View Supplier -->
                <div class="modal fade" id="supplier{{prod.SKU}}" tabindex="-1" aria-labelledby="exampleModalLabel1"
                aria-hidden="true">
                <div class="modal-dialog  modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="">{{prod.product_name |title}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div id="test{{prod.SKU}}"></div>
                            
                        </div>                    
                    </div>
                </div> 
            </div>
            <td>
            {% comment %} <a class="btn btn-sm" href="{% url 'wayrem_admin:lowest_price' %}?product={{prod.SKU}}"> {% endcomment %}
            <a onclick="lowestFunc('{{prod.SKU}}')">View</a></td>
                <!-- Modal Lowest Price -->
                <div class="modal fade" id="lowest{{prod.SKU}}" tabindex="-1" aria-labelledby="exampleModalLabel1"
                aria-hidden="true">
                <div class="modal-dialog  modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="">{{prod.product_name |title}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div id="lowest_price{{prod.SKU}}"></div>
                            
                        </div>                    
                    </div>
                </div> 
            </div>
            <td>
            <a onclick="lowesttimeFunc('{{prod.SKU}}')">
            View
            </a></td>

            <!-- Modal Lowest Time -->
                <div class="modal fade" id="lowesttime{{prod.SKU}}" tabindex="-1" aria-labelledby="exampleModalLabel1"
                aria-hidden="true">
                <div class="modal-dialog  modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="">{{prod.product_name |title}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div id="lowest_time{{prod.SKU}}"></div>
                            
                        </div>                    
                    </div>
                </div> 
            </div>
            <td>
                <a  data-bs-toggle="modal" href="{% url 'wayrem_admin:create_po' %}?product={{prod.SKU}}">Raise PO
                </a>
            </td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="icon icon-sm">
                            <span class="fas fa-ellipsis-h icon-dark"></span>
                        </span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'wayrem_admin:productdetails' prod.id %}"><span class="fas fa-eye mr-2"></span>View Details</a>
                        <a class="dropdown-item" href="{% url 'wayrem_admin:updateproduct' prod.id %}"><span class="fas fa-edit mr-2"></span>Edit</a>
                        <a class="dropdown-item add_menu_quantity" href="#" data-bs-toggle="modal" data-bs-target="#updateQuantity" data-id="{{prod.id}}"><span class="fas fa-edit mr-2"></span>Add Quantity</a>
                        <a class="dropdown-item text-danger"  data-bs-toggle="modal" data-bs-target="#deleteModal{{prod.id}}" href="#"> <span class="fas fa-trash-alt mr-2"></span>Remove</a>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="deleteModal{{prod.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Delete {{prod.product_name | title}}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure want to delete {{prod.product_name | title}} ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                                <form method="POST" action="{% url 'wayrem_admin:deleteproduct' %}">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{prod.id}}" name="product_id">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            
            
        </tr>
        {% endfor %}
    </tbody>
</table>
   
<div class="modal fade" id="updateQuantity" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete {{prod.product_name | title}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="add_inventory" action="{% url 'wayrem_admin:add_inventory' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-body">
                <div class="col-md-12 mb-2">
                    <div>
                        <input name="product" type="hidden" class="form-control" value="" id="product_ids" />
                        <input name="inventory_type" type="hidden" class="form-control" value="1" id="inventorytype" />
                        <label for="quantity">Quantity <span class="text-danger">*</span>  <span class="text-danger"></span></label>
                        <input type="number" name="quantity" min="1" step="1" class="form-control" required="" value="1" id="id_quantity">
                        <div class="input-group" id="quantity_error_message" style="color: #d12525;"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-dark add_inventory_save">Save</button>
                
            </div>
        </form>
        </div>
    </div>
</div>
</td>


{% endblock content %}

{% block javascripts %}
<script>
$(document).ready(function(){

    $(".add_menu_quantity").on("click",function(e){
        e.preventDefault();
        pst=$(this).data("id");
        $("#product_ids").val(pst);
        $('#updateQuantity').modal('show');
})

    $('#updateQuantity').on('click','.add_inventory_save',function(e){
        e.preventDefault();
        url = $("#updateQuantity #add_inventory").attr("action")
        type_form=$("#updateQuantity #add_inventory").attr("method")
        data_ser=$("#updateQuantity #add_inventory").serialize()
        $.ajax({
            type: type_form,
            url: url,
            data: data_ser,
            cache: false,
            success: function (data) {
                $("#product_ids").val("");
                $('#updateQuantity').modal('hide');
                location.reload()
            }
        })


    })

    
   

});

</script>

{% endblock javascripts %}