{% if message %}
{{message}}
{% else %}
<div class="row">
    <!-- Form -->
    <div class="col-lg-6">
        <div class="form-group mb-4">
            <label for="name">SKU <span class="text-danger"><em> {{form.SKU.errors | striptags}}
            </em></span></label>
            <div class="input-group input_border">   
                {{form.SKU}}
                <div class="input-group" id="sku_error_message" style="color: #d12525;"></div>
            </div>
            
        </div>
    </div>
    <!-- End of Form -->

    <!-- Form -->
    <div class="col-lg-6">
        <div class="form-group mb-4">
            <label for="image">Product Name <span class="text-danger"> <em> {{form.name.errors | striptags}}
            </em> </span></label>
            <div class="input-group">
                
                {{form.name}}
                <div class="input-group" id="name_error_message" style="color: #d12525;"></div>
            </div>
            
        </div>
    </div>
    <!-- End of Form -->
</div>
<div class="row">
    
    <!-- Form -->
    <div class="col-lg-6">
        <div class="form-group mb-4">
            <label for="name">Price<span class="text-danger"><em> {{form.price.error | striptags}} 
                </em>
            </span></label>
            <div class="input-group">   
                {{form.price}}<span class="input-group-text" id="basic-addon1">SAR</span>
                <div class="input-group" id="price_error_message" style="color: #d12525;"></div>
            </div>
        
            <span class="text-error"></span>
        </div>
    </div>
    <!-- End of Form -->
    <!-- Form -->
    <div class="col-lg-6">
        <div class="form-group mb-4">
            <label for="name">Available Stock<span class="text-danger"><em> {{form.price.error | striptags}} 
                </em>
            </span></label>
            <div class="input-group">   
                {{form.quantity}}<span class="input-group-text" id="basic-addon1">{{quantity_unit}}</span>
                <div class="input-group" id="price_error_message" style="color: #d12525;"></div>
            </div>
        
            <span class="text-error"></span>
        </div>
    </div>
    <!-- End of Form -->
</div>



<div class="row">
    <!-- Form -->
    <div class="col-lg-6">
        <div class="form-group mb-4">
            <label for="description">Date of Manufacture  <span class="text-danger">
                <em> {{form.date_of_mfg.errors | striptags}}
                </em>
            </span></label>
            <div class="input-group">
                
                {{form.date_of_mfg}}
                <div class="input-group" id="dom_error_message" style="color: #d12525;"></div>
            </div>
            
        </div>
    </div>
    <!-- End of Form -->


    <!-- Form -->
    <div class="col-lg-6">
        <div class="form-group mb-4">
            <label for="provider">Date of Expiry   <span class="text-danger"> <em> {{form.date_of_exp.errors | striptags}}
            </em>
        </span></label>
            <div class="input-group date_input_box">
            
                {{form.date_of_exp}}
                <div class="input-group" id="doe_error_message" style="color: #d12525;"></div>
            </div>
            
        </div>
    </div>
    <!-- End of Form -->

    <!-- Form -->
    <div class="col-lg-6">
        <div class="form-group mb-4">
            <label for="provider">Manufacturer Name  <span class="text-danger"> <em> {{form.mfr_name.errors | striptags}}
            </em>
        </span></label>
            <div class="input-group date_input_box">
            
                {{form.mfr_name}}
                <div class="input-group" id="mfr_error_message" style="color: #d12525;"></div>
            </div>
        
        </div>
    </div>
    <!-- End of Form -->
    <!-- Form -->
    <div class="col-lg-6">
        <div class="form-group mb-4">
            <label for="provider">Supplier Name  <span class="text-danger"> <em> {{form.mfr_name.errors | striptags}}
            </em>
        </span></label>
            <div class="input-group date_input_box">
                <input type="text" name="supplier" value="{% for supp in supplier.all %}{{supp}}{% endfor %}" class="form-control" maxlength="100" disabled="" id="id_supplier">
                <div class="input-group" id="mfr_error_message" style="color: #d12525;"></div>
            </div>
        
        </div>
    </div>
    <!-- End of Form -->
</div>



<!-- Form -->
<div class="col-lg-12 mb-4">
    <div class="row">
        <div class="col-3">
            <div class="form-group">
                <label >Starting Inventory</label>
                <div class="">{{form.inventory_starting}}</div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label >Received Inventory</label>
                <div class="">{{form.inventory_received}}</div>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label >Shipped Inventory</label>
                <div class="">{{form.inventory_shipped}}</div>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label >Cancelled Inventory</label>
                <div class="">{{form.inventory_cancelled}}</div>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label >Removed Inventory</label>
                <div class="">{{form.inventory_removed}}</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#updateQuantity" data-id="{{product.id}}" type="button"><span class="fas fa-boxes mr-2"></span>&nbsp; Add Stock</button>
    </div>
    <div class="col-6 text-right">
        <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#removeQuantity" data-id="{{product.id}}" type="button"><span class="fas fa-dolly-flatbed mr-2"></span>&nbsp; Remove Stock</button>
    </div>
</div>
<!-- Update Quantity Modal start-->
<div class="modal fade" id="updateQuantity" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Stock in Inventory</h5>
                <button type="button" class="btn-close" onclick="$('#updateQuantity').modal('hide');" aria-label="Close"></button>
            </div>
            <form id="add_inventory" action="{% url 'wayrem_admin:add_inventory' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-body">
                <div class="col-md-12 mb-2">
                    <div>
                        <input name="product" type="hidden" class="form-control" value="{{product.id}}" id="product_ids" />
                        <input name="inventory_type" type="hidden" class="form-control" value="1" id="inventorytype" />
                        <label for="quantity">Quantity <span class="text-danger">*</span>  <span class="text-danger"></span></label>
                        <input type="number" name="quantity" min="1" step="1" class="form-control" required="" value="1" id="id_quantity">
                        <div class="input-group" id="quantity_error_message" style="color: #d12525;"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="$('#updateQuantity').modal('hide');">Close</button>
                    <button type="submit" class="btn btn-dark add_inventory_save">Save</button>
                
            </div>
        </form>
        </div>
    </div>
</div>
<!-- Update Quantity Modal end-->

<!-- Remove Quantity Modal start-->
<div class="modal fade" id="removeQuantity" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Remove Stock from Inventory</h5>
                <button type="button" class="btn-close close_modal" onclick="$('#removeQuantity').modal('hide');" aria-label="Close"></button>
            </div>
            <form id="remove_inventory" action="{% url 'wayrem_admin:add_inventory' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-body">
                <div class="col-md-12 mb-2">
                    <div>
                        <input name="product" type="hidden" class="form-control" value="{{product.id}}" id="rem_product_ids" />
                        <input name="inventory_type" type="hidden" class="form-control" value="5" id="rem_inventorytype" />
                        <label for="quantity">Quantity <span class="text-danger">*</span>  <span class="text-danger"></span></label>
                        <input type="number" name="quantity" min="1" step="1" class="form-control mb-2" required="" value="1" id="id_quantity">
                        
                        <label for="description">Reason for removal<span class="text-danger">*</span>  <span class="text-danger"></span></label>
                        <input type="text" name="description"  class="form-control" id="description" required >
                        <label class="input-group error_field_msg errormsg ">Field is required</label>
                        <div class="input-group" id="quantity_error_message" style="color: #d12525;"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" onclick="$('#removeQuantity').modal('hide');">Close</button>
                    <button type="submit" class="btn btn-danger rem_inventory_save">Remove</button>
                
            </div>
        </form>
        </div>
    </div>
</div>
<!-- Remove Quantity Modal end-->

<script>
    // Update Quantity
    $('#updateQuantity').on('click','.add_inventory_save',function(e){
        e.preventDefault();
        url = $("#updateQuantity #add_inventory").attr("action")
        type_form=$("#updateQuantity #add_inventory").attr("method")
        data_ser=$("#updateQuantity #add_inventory").serialize()
        $.ajax({
            type: type_form,
            url: url,
            data: data_ser,
            cache: false,
            success: function (data) {
                $("#product_ids").val("");
                $('#updateQuantity').modal('hide');
                location.reload()
            }
        })
    })

    // Remove Quantity
    $('#removeQuantity').on('click','.rem_inventory_save',function(e){
        e.preventDefault();
        var des=$("#description").val().trim()
        if (!des){
         $('.errormsg').css('display','contents');
         return false
        }else{
            $('.errormsg').css('display','none');
        }
        
        url = $("#removeQuantity #remove_inventory").attr("action")
        type_form=$("#removeQuantity #remove_inventory").attr("method")
        data_ser=$("#removeQuantity #remove_inventory").serialize()
        $.ajax({
            type: type_form,
            url: url,
            data: data_ser,
            cache: false,
            success: function (data) {
                $("#rem_product_ids").val("");
                $("#description").val("")
                $('#removeQuantity').modal('hide');
                location.reload()
            }
        })
    })
</script>
{% endif %}