{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Sign Up {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.css" integrity="sha512-p209YNS54RKxuGVBVhL+pZPTioVDcYPZPYYlKWS9qVvQwrlzxBxkR8/48SCP58ieEuBosYiPUS970ixAfI/w/A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="dashboard_content_inner">
    <div class="topbar_pages">
        <h4 class="text-title">Users</h2>
        <div class="breadcrumb-section">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb padding-left-0">
                    <li class="breadcrumb-item"><a href="{% url 'wayrem_admin:dashboard' %}"><span class="sidebar-icon"><span class="fas fa-chart-pie"></span></span> Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="#"><span class="sidebar-icon"><span class="fas fa-chart-pie"></span></span> User Management</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'wayrem_admin:userlist' %}"><span class="sidebar-icon"><span class="fas fa-chart-pie"></span></span> Users</a></li>
                    <li class="breadcrumb-item active" aria-current="page">create new user</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row justify-content-center form-bg-image">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="mb-4 mb-lg-0 bg-white  rounded p-4 p-lg-4 w-100 shadow-sm">
                <div class="mb-4 mt-md-0">
                    <h2 class="h5 mb-4 ">
                        <!-- <img src="{% static '/assets/img/logo/Wayrem_logo..svg'%}" alt=""> -->
                        User Registration
                    </h2>
                    <p>
                        {% if messages %}
                        {% for message in messages %}
                    <div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible fade show"
                        {% endif %} role="alert">
                        <strong> {{ message }}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                            aria-label="Close"></button>
                    </div>
                    {% endfor %}
                    {% endif %}


                    </p>
                </div>

                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{error}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                </div>
                {% endfor %}
                {% endif %}


                <form method="post" action="{% url 'wayrem_admin:sub-admin-register' %}" validate>

                    {% csrf_token %}
                    {{form.non_field_errors}}
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group mb-4">
                                <label for="email">Username <span class="text-danger">*</span> <span class="text-danger"><em>{{form.username.errors | striptags}}</em></span></label>
                                <div class="input-group">
                                    <span class="input-group-text" id="username"><span
                                            class="fas fa-user-shield"></span></span>
                                    {{form.username}}
                                    <div class="invalid-feedback" id="name_error_message"></div>
                                </div>
                                {% comment %} <div class="input-group">
                                    <span class="text-danger"> {{form.username.errors | striptags}} </span>
                                </div> {% endcomment %}
                                <span class="text-error"></span>
                            </div>
                        </div>


                        <!-- Form -->
                        <div class="col-lg-6">
                            <div class="form-group mb-4">
                                <label for="email">Email <span class="text-danger">*</span> <span class="text-danger"><em>{{form.email.errors | striptags}}</em></span></label>
                                <div class="input-group">
                                    <span class="input-group-text" id="email"><span
                                            class="fas fa-envelope"></span></span>
                                    {{form.email}}
                                    <div class="invalid-feedback" id="email_error_message"></div>

                                </div>
                                {% comment %} <div class="input-group">
                                    <span class="text-danger"> {{form.email.errors | striptags}} </span>
                                </div> {% endcomment %}
                                <span class="text-error"></span>
                            </div>
                        </div>
                        <!-- End of Form -->

                        <!-- Form -->
                        <div class="col-lg-6">
                            <div class="form-group mb-4">
                                <label for="contact">Contact <span class="text-danger">*</span> <span class="text-danger"><em>{{form.contact.errors | striptags}}</em></span></label>
                                <div class="input-group">
                                    <span class="input-group-text" id="contact"><span
                                            class="fas fa-phone-alt"></span></span>
                                    {{form.contact}}
                                    <div class="invalid-feedback" id="contact_error_message"></div>
                                </div>
                                {% comment %} <div class="input-group">
                                    <span class="text-danger"> {{form.contact.errors | striptags}} </span>
                                </div> {% endcomment %}
                                <span class="text-error"></span>
                            </div>
                        </div>
                        <!-- End of Form -->
                        <div class="col-lg-6">
                            <div class="form-group mb-4">
                                <label for="contact">Role <span class="text-danger"><em>{{form.role.errors | striptags}}</em></span></label>
                                <div class="input-group">
                                    <span class="input-group-text" id="contact"><span
                                            class="fas fa-user-tag"></span></span>
                                    {{form.role}}
                                </div>
                                {% comment %} <div class="input-group">
                                    <span class="text-danger"> {{form.role.errors | striptags}} </span>
                                </div> {% endcomment %}
                                <span class="text-error"></span>
                            </div>
                        </div>
                        <!-- End of Form -->
                        <!-- Form -->
                        <div class="col-lg-6">
                            <div class="form-group">
                                
                                <div class="form-check">
                                    {{form.po_notify}}
                                    <label for="id_po_notify">Purchase Order Notifications </label>
                                    <div class="invalid-feedback" id="email_error_message"></div>

                                </div>
                                {% comment %} <div class="input-group">
                                    <span class="text-danger"> {{form.email.errors | striptags}} </span>
                                </div> {% endcomment %}
                                <span class="text-error"></span>
                            </div>
                        </div>
                        <!-- End of Form -->

                        {% comment %} <span class="text-danger">*</span> {% endcomment %}
                        <!-- Form -->
                        {% comment %} <div class="col-lg-6">
                            <div class="form-group mb-4">
                                <label for="password">Password  </label>
                                <div class="input-group">
                                    <span class="input-group-text" id="password"><span
                                            class="fas fa-unlock-alt"></span></span> {% endcomment %}

                                    {{form.password1}}
                                    {% comment %} <span class="input-group-text" id="cpassword"><i class="far fa-eye"
                                            id="togglePassword"></i></span>
                                </div> {% endcomment %}
                                {% comment %} <div class="input-group">
                                    <span class="text-danger"> {{form.password1.errors | striptags}} </span>

                                </div> {% endcomment %}
                                {% comment %} <span class="text-error"></span> {% endcomment %}
                            {% comment %} </div>
                        </div> {% endcomment %}
                        <!-- End of Form -->

                        <!-- Form -->
                        {% comment %} <div class="col-lg-6">
                            <div class="form-group mb-4">
                                <label for="password">Confirm Password </label>
                                <div class="input-group">
                                    <span class="input-group-text" id="cpassword"><span
                                            class="fas fa-unlock-alt"></span></span> {% endcomment %}
                                    {{form.password2}}
                                    {% comment %} <span class="input-group-text" id="cpassword"><i class="far fa-eye"
                                            id="toggleCPassword"></i></span>

                                </div> {% endcomment %}
                                {% comment %} <div class="input-group">
                                    <span class="text-danger"> {{form.password2.errors | striptags}} </span>
                                </div>
                                <span class="text-error"></span> {% endcomment %}
                            {% comment %} </div>
                        </div> {% endcomment %}
                        <!-- End of Form -->
                    </div>

                    <div class="mt-4">
                        <a href="{% url 'wayrem_admin:userlist' %}"
                            class="btn  btn-danger btn-block col-xl-1 col-md-1 col-12 mt-sm-3 mt-md-0 mt-3">Cancel</a>
                        <button type="submit"
                            class="btn btn-dark border-0 col-xl-1 col-md-1 col-12">Register</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    const togglePassword = document.querySelector('#togglePassword');
    const toggleCPassword = document.querySelector('#toggleCPassword');
    const password = document.querySelector('#id_password1');
    const cpassword = document.querySelector('#id_password2');

    togglePassword.addEventListener('click', function (e) {
        // toggle the type attribute
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        // toggle the eye slash icon
        this.classList.toggle('fa-eye-slash');
    });
    toggleCPassword.addEventListener('click', function (e) {
        // toggle the type attribute
        const type = cpassword.getAttribute('type') === 'password' ? 'text' : 'password';
        cpassword.setAttribute('type', type);
        // toggle the eye slash icon
        this.classList.toggle('fa-eye-slash');
    });
</script>
<script>
    $(function() {
   
   var error_data = false;
   
   $("#id_username").focusout(function(){
    check_name();
   });
   $("#id_email").focusout(function() {
      check_email();
   });
   $("#id_contact").focusout(function() {
      check_contact();
   });
   
     
   function check_name() {
      var name = $("#id_username").val();
      if (name !== '') {
         $("#name_error_message").hide();
         $("#id_username").css("border-bottom","2px solid #34F458");
      } else {
         $("#name_error_message").html("Please Enter User Name ");
         $("#name_error_message").show();
         error_data = true;
      }
   }
   
   function check_email() {
      var Email = $("#id_email").val();
      if (Email !== '') {
         $("#email_error_message").hide();
         $("#id_email").css("border-bottom","2px solid #34F458");
      } else {
         $("#email_error_message").html("Please Enter EmailId ");
         $("#email_error_message").show();
         error_data = true;
      }
   }

   function check_contact() {
      var contacts = $("#id_contact").val();
      if (contacts !== '') {
         $("#contact_error_message").hide();
         $("#id_contact").css("border-bottom","2px solid #34F458");
      } else {
         $("#contact_error_message").html("Please Enter Contact ");
         $("#contact_error_message").show();
         error_data = true;
      }
   }
   });
   
   </script>
{% endblock javascripts %}