{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Sign Up {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<main class="align-items-center admin_signup_lg">
    <section class="d-flex   align-items-center my-5 mt-lg-6 mb-lg-5">
        <div class="container ">
            <div class="row justify-content-center form-bg-image">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="mb-4 mb-lg-0 bg-white  rounded p-4 p-lg-4 w-100"
                        style="box-shadow: 0px 14px 20px 0px #00000014;">
                        <div class="mb-4 mt-md-0">
                            <h1 class="mb-0 h3">
                                <!-- <img src="{% static '/assets/img/logo/Wayrem_logo..svg'%}" alt=""> -->
                                User Registration
                            </h1>
                            <hr>

                            <p>
                                {% if messages %}
                                {% for message in messages %}
                            <div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible fade show"
                                {% endif %} role="alert">
                                <strong> {{ message }}</strong>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                            </div>
                            {% endfor %}
                            {% endif %}


                            </p>
                        </div>

                        {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{error}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                        </div>
                        {% endfor %}
                        {% endif %}


                        <form method="post" action="{% url 'sub-admin-register' %}" novalidate>

                            {% csrf_token %}
                            {{form.non_field_errors}}
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group mb-4">
                                        <label for="email">Username <span class="text-danger">*</span> </label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="username"><span
                                                    class="fas fa-user-shield"></span></span>
                                            {{form.username}}
                                        </div>
                                        <div class="input-group">
                                            <span class="text-danger"> {{form.username.errors | striptags}} </span>
                                        </div>
                                        <span class="text-error"></span>
                                    </div>
                                </div>


                                <!-- Form -->
                                <div class="col-lg-6">
                                    <div class="form-group mb-4">
                                        <label for="email">Email <span class="text-danger">*</span> </label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="email"><span
                                                    class="fas fa-envelope"></span></span>
                                            {{form.email}}

                                        </div>
                                        <div class="input-group">
                                            <span class="text-danger"> {{form.email.errors | striptags}} </span>
                                        </div>
                                        <span class="text-error"></span>
                                    </div>
                                </div>
                                <!-- End of Form -->

                                <!-- Form -->
                                <div class="col-lg-6">
                                    <div class="form-group mb-4">
                                        <label for="contact">Contact <span class="text-danger">*</span> </label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="contact"><span
                                                    class="fas fa-phone-alt"></span></span>
                                            {{form.contact}}
                                        </div>
                                        <div class="input-group">
                                            <span class="text-danger"> {{form.contact.errors | striptags}} </span>
                                        </div>
                                        <span class="text-error"></span>
                                    </div>
                                </div>
                                <!-- End of Form -->
                                <div class="col-lg-6">
                                    <div class="form-group mb-4">
                                        <label for="contact">Role </label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="contact"><span
                                                    class="fas fa-user-tag"></span></span>
                                            {{form.role}}
                                        </div>
                                        <div class="input-group">
                                            <span class="text-danger"> {{form.role.errors | striptags}} </span>
                                        </div>
                                        <span class="text-error"></span>
                                    </div>
                                </div>
                                <!-- End of Form -->

                                {% comment %} <span class="text-danger">*</span> {% endcomment %}
                                <!-- Form -->
                                <div class="col-lg-6">
                                    <div class="form-group mb-4">
                                        <label for="password">Password  </label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="password"><span
                                                    class="fas fa-unlock-alt"></span></span>

                                            {{form.password1}}
                                            <span class="input-group-text" id="cpassword"><i class="far fa-eye"
                                                    id="togglePassword"></i></span>
                                        </div>
                                        {% comment %} <div class="input-group">
                                            <span class="text-danger"> {{form.password1.errors | striptags}} </span>

                                        </div> {% endcomment %}
                                        {% comment %} <span class="text-error"></span> {% endcomment %}
                                    </div>
                                </div>
                                <!-- End of Form -->

                                <!-- Form -->
                                <div class="col-lg-6">
                                    <div class="form-group mb-4">
                                        <label for="password">Confirm Password </label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="cpassword"><span
                                                    class="fas fa-unlock-alt"></span></span>
                                            {{form.password2}}
                                            <span class="input-group-text" id="cpassword"><i class="far fa-eye"
                                                    id="toggleCPassword"></i></span>

                                        </div>
                                        {% comment %} <div class="input-group">
                                            <span class="text-danger"> {{form.password2.errors | striptags}} </span>
                                        </div>
                                        <span class="text-error"></span> {% endcomment %}
                                    </div>
                                </div>
                                <!-- End of Form -->
                            </div>

                            <div class="mt-4">
                                <a href="{% url 'userlist' %}"
                                    class="btn  btn-danger btn-block col-xl-3 col-md-5 col-12 mt-sm-3 mt-md-0 mt-3">Cancel</a>
                                <button type="submit"
                                    class="btn btn-dark border-0 col-xl-3 col-md-5 col-12">Register</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    const togglePassword = document.querySelector('#togglePassword');
    const toggleCPassword = document.querySelector('#toggleCPassword');
    const password = document.querySelector('#id_password1');
    const cpassword = document.querySelector('#id_password2');

    togglePassword.addEventListener('click', function (e) {
        // toggle the type attribute
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        // toggle the eye slash icon
        this.classList.toggle('fa-eye-slash');
    });
    toggleCPassword.addEventListener('click', function (e) {
        // toggle the type attribute
        const type = cpassword.getAttribute('type') === 'password' ? 'text' : 'password';
        cpassword.setAttribute('type', type);
        // toggle the eye slash icon
        this.classList.toggle('fa-eye-slash');
    });
</script>

{% endblock javascripts %}