{% extends "layouts/base.html" %}

{% block title %}Page not found{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="dashboard_content_inner">
    <div class="topbar_pages">
        <h4 class="text-title">Page not found</h2>
    </div>

    <div class="row justify-content-center form-bg-image mt-5">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <p style="font-size: 20px;font-weight: bold;margin: 0px 0px;margin-top: 121px">The page you are looking is not exist.</p>
        </div>
    </div>
</div>
{% endblock content %}