
{% extends "layouts/base.html" %}

{% block title %} Add Category {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.css" integrity="sha512-p209YNS54RKxuGVBVhL+pZPTioVDcYPZPYYlKWS9qVvQwrlzxBxkR8/48SCP58ieEuBosYiPUS970ixAfI/w/A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="dashboard_content_inner">
    <div class="topbar_pages">
        <h4 class="text-title">Add Category</h2>
        <div class="breadcrumb-section">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb padding-left-0">
                    <li class="breadcrumb-item"><a href="{% url 'wayrem_admin:dashboard' %}"><span class="sidebar-icon"><span class="fas fa-chart-pie"></span></span> Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="#"><span class="sidebar-icon"><span class="fas fa-grip-horizontal"></span></span> Categories</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add Category</li>
                </ol>
            </nav>
        </div>
    </div> 
    <div class="row justify-content-center form-bg-image mt-5">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="bg-white  rounded p-4 p-lg-4 w-100 shadow-sm">
                <h2 class="h5 mb-4">Add Category</h2>
                <form action="{% url 'wayrem_admin:addcategory' %}" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                    <div class="row">
                       
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="name">Category Name  <span class="text-danger">*</span>  <span class="text-danger"><em>{{form.name.errors | striptags}}</em></span></label>
                                {{form.name}}
                                <div class="input-group" id="name_error_message" style="color: #d12525;"></div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="category_image">Parent Category </label>
                                <!-- <input class="form-control" id="last_name" type="text" placeholder="Also your last name" required> -->
                                {{form.parent_category}}
                                {{form.parent_category.errors}}
                                <span class="input-group submit" id="error" style="color: #d12525;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <!-- Form -->
                        <div class="col-lg-6">
                            <div class="form-group mb-4">
                                <label for="name">Margin <span class="text-danger">*</span><span class="text-danger"><em> {{form.margin.error | striptags}} {{form.unit.error | striptags}} 
                                    </em>
                                </span></label>
                                <div class="input-group first">
                                    <div class="w-75 pe-2"> {{form.margin}} </div>   
                                    <div class="w-25"> {{form.unit}} </div>
                                   
                                   <div class="input-group" id="weight_error_message" style="color: #d12525;"></div>
                                </div>
                                
                                <span class="text-error"></span>
                            </div>
                        </div>
                        <!-- End of Form -->
                        <div class="col-md-6 mb-3 form-file">
                            <label for="description">Image <span class="text-danger"></span>  
                                <span class="text-danger"><em>{{form.image.errors | striptags}}</em></span>
                            </label>
                              {{form.image}}
                              <label class="form-file-label ps-2 pe-2" for="customFile">
                                <span class="form-file-text">Choose file...</span>
                                <span class="form-file-button">Browse</span>
                            </label>
                            <div class="input-group" id="description_error_message" style="color: #d12525;"></div>
                        </div>    
                   </div>
                   <div class="col-md-12 mb-3">
                            <label for="description">Tag <span class="text-danger"></span>  <span class="text-danger"><em>{{form.tag.errors | striptags}}</em></span></label>
                              {{form.tag}}
                              <div class="input-group" id="description_error_message" style="color: #d12525;"></div>
                        </div>    
                    <div class="mt-3">
                        <a href="{% url 'wayrem_admin:categorieslist' %}"
                                        class="btn  btn-danger btn-block col-xl-1 col-lg-1 col-md-3 col-12 mt-sm-3 mt-md-0 mt-3">Cancel</a>
                        <button type="submit" class="btn  btn-dark btn-block col-xl-1 col-lg-1 col-md-3 col-12">Save</button>
                    </div>
                </form>
            </div>
            </div>
    </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
 
    $("input[type='file']").on("change", function () {
    
    var extension = $(this).val().split('.').pop().toLowerCase();
    var validFileExtensions = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
    if(this.files[0].size > 2000000) {
    // alert("Sorry!! Max allowed file size is 2 MB");
    $("#error").text("Sorry!! Max allowed file size is 2 MB").show();
    $(this).val('');
    }
    else if ($.inArray(extension, validFileExtensions) == -1) {
        $("#error").text("Sorry!! Upload only jpg, jpeg, png, gif, bmp file").show();
                $(this).replaceWith($(this).val('').clone(true));
                // $('#submit').prop('disabled', true);
        }
    else {
        $("#error").text('').hide();
    // $('#submit').prop('disabled', false);
    
    }
    });
    
        $(function () {
    
            var error_n = false;
            var error_d = false;
    
            $("#id_name").focusout(function () {
                check_name();
            });
            $("#id_description").focusout(function () {
                check_description();
            });
    
    
            function check_name() {
                var name = $("#id_name").val();
                if (name !== '') {
                    $("#name_error_message").hide();
                    // $("#id_name").css("border-bottom", "2px solid #34F458");
                } else {
                    $("#name_error_message").html("Please Enter Category Name ");
                    $("#name_error_message").show();
                    error_n = true;
                }
            }
    
            function check_description() {
                var description = $("#id_description").val();
                if (description !== '') {
                    $("#description_error_message").hide();
                    // $("#id_description").css("border-bottom", "2px solid #34F458");
                } else {
                    $("#description_error_message").html("Please Enter description");
                    $("#description_error_message").show();
                    error_d = true;
                }
            }
    
        });
    
    </script>

{% endblock javascripts %}
