<div class="row">
    <div class="col-md-6 mb-3">
        <div>
            <label for="first_name">SKU</label>
            <input type="text" name="sku" class="form-control" maxlength="150" value="{{data.0}}" disabled id="id_sku">
            <!-- <input class="form-control" id="first_name" type="text" placeholder="Enter your first name" required> -->
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div>
            <label for="last_name">Price</label>
            <!-- <input class="form-control" id="last_name" type="text" placeholder="Also your last name" required> -->
            <input type="text" name="price" value="{{data.1}}" class="form-control" disabled maxlength="150" id="id_price">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 mb-3">
        <div>
            <label for="first_name">Date of Expiry</label>
            <input type="date" name="doe" class="form-control" maxlength="150" value="{{data.2}}" disabled id="id_doe">
            <!-- <input class="form-control" id="first_name" type="text" placeholder="Enter your first name" required> -->
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div>
            <label for="last_name">Product Weight</label>
            <!-- <input class="form-control" id="last_name" type="text" placeholder="Also your last name" required> -->
            <input type="text" name="weight" disabled value="{{data.3}}" class="form-control" maxlength="150" id="id_weight">
        </div>
    </div>
</div>
<div class="col-md-6 mb-3">
    <div>
        <label for="last_name">Weight Unit</label>
        <!-- <input class="form-control" id="last_name" type="text" placeholder="Also your last name" required> -->
        <input type="text" name="unit" disabled value="{{data.4}}" class="form-control" maxlength="150" id="id_unit">
    </div>
</div>