{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Supplier List {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block head %}
<script src="{% static 'assets/js/datatable_ajax.js' %}"></script>
<link rel="stylesheet" href="{% static 'assets/css/datatable.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<script src="{% static 'assets/js/datatable_1.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="{% static 'assets/js/datatable.js' %}"></script>

{% comment %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"> {%
endcomment %}
{% comment %}
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,800&display=swap"
    rel="stylesheet"> {% endcomment %}



{% endblock head %}

{% block content %}
<!-- <div class="text-left">
    <a class="nav-link" href="{% url 'sub-admin-register' %}">
        <button class="btn btn-secondary" style="background-color: #f2e600; position: relative;left: 850px;">Create New User</button>
        </a>
</div> -->

<!-- <div class="col-xl-4 col-lg-4 col-md-6 d-flex align-items-center"><span class="page_title mb-md-2" style="font-size: 28px; font-weight:600;">User</span>
</div> -->

<div class="subheader row pe-4 ps-4 mt-5">
    <div class="row add_btn col-xl-4 col-lg-4 col-md-5 d-flex align-items-center">
        <div class="col">
            <a href="{% url 'categorypdf' %}" class="button button1 mt-2 export_file">Export to pdf</a>
        </div>
    </div>

    <div class="col-xl-8 col-lg-8 col-12">
        <div class="row d-flex align-items-center">
            <div class="col-xl-4 col-lg-3 col-md-0 mb-3 mb-md-0 mb-sm-3 mb-lg-0 " style="height:40px;">
                <!-- <input type="search" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Search"> -->
                <label class="subadmin_search d-flex align-items-center">
                    <input class="table_searchbar" id="table_search" type="search" placeholder="Search">
                    <!-- <img src="images/Search.svg" alt=""> -->
                </label>

            </div>
            <div class="col-xl-4 col-md-4">
                <select class="form-select form-select-md filter_select" aria-label=".form-select-md example" disabled>
                    <option selected="">All</option>
                    <option value="1">...</option>
                    <option value="2">...</option>
                    <option value="3">...</option>
                </select>
            </div>
            <div class="col-xl-4 col-lg-5 col-md-5"><a class="btn w-100 anchor_btn ps-0 pe-0"
                    href="{% url 'createcategory' %}">
                    <button class="btn col-sm-12 col-md-12 col-12 create_new">Create New Category</button>
                </a></div>
        </div>

    </div>

</div>




{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="fas fa-comment-dots" {% endif %}> {{ message }}</li>
        {% endfor %}
</ul>
{% endif %}

<table class="table  text-center" id="filtertable">
    <thead class="table-dark">
        <tr>
            <th scope="col">S.No.</th>
            <th scope="col">Category Name</th>
            <th scope="col">Category Image</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for cate in categorieslist %}

        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{cate.name}}</td>
            <td>
                {% if cate.category_image %}
                <img src="{{cate.category_image.url}}" style="height:45px">
                {% else %}
                No Image
                {% endif %}
            </td>
            <td>{{cate.description}}</td>
            <td><a type="button" class="btn btn-sm " data-bs-toggle="modal" href="{% url 'updatecategory' cate.id %}">
                    <i class="fas fa-edit text-dark"></i>
                </a> <a type="button" class="btn btn-sm" data-bs-toggle="modal"
                    data-bs-target="#deleteModal{{cate.id}}">
                    <i class="fas fa-trash-alt text-danger"></i>
                </a>
                <a type="button" class="btn btn-sm " data-bs-toggle="modal" href="{% url 'categorydetails' cate.id %}">
                    <i class="mx-1 fas fa-eye text-success" style="font-size:15px;"></i>
                </a>
            </td>
            <!-- Modal -->
            <div class="modal fade" id="deleteModal{{cate.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete {{cate.name | title}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure want to delete {{cate.name | title}} ??
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                            <form method="POST" action="{% url 'deletecategories' %}">
                                {% csrf_token %}
                                <input type="hidden" value="{{cate.id}}" name="category_id">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </tr>
        {% endfor %}

    </tbody>
</table>
</div>
</div>
</div>
</div>
</div>

<script>

    $(document).ready(function () {
        oTable = $('#filtertable').DataTable({
            dom: 'rtip',
            "oLanguage": {
                "oPaginate": {
                    "sNext": '<i class="fas fa-arrow-circle-right text-primary"></i>',
                    "sPrevious": '<i class="fas fa-arrow-circle-left text-primary"></i>'
                }
            },
            "fnDrawCallback": function (oSettings) {
                if (oSettings._iDisplayLength > oSettings.fnRecordsDisplay()) {
                    $(oSettings.nTableWrapper).find('.dataTables_paginate').hide();
                } else {
                    $(oSettings.nTableWrapper).find('.dataTables_paginate').show();
                }
            }
        });
        $('#table_search').keyup(function () {
            oTable.search($(this).val()).draw();
        })
    });
</script>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}