{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Edit PO{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}
<div class="dashboard_content_inner">
    <div class="topbar_pages">
        <h4 class="text-title">Edit Purchase Order</h2>
        <div class="breadcrumb-section">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb padding-left-0">
                    <li class="breadcrumb-item"><a href="{% url 'wayrem_admin:dashboard' %}"><span class="sidebar-icon"><span class="fas fa-chart-pie"></span></span> Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'wayrem_admin:polist' %}"><span class="sidebar-icon"><span class="fas fa-file-alt"></span></span> Purchase Order</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edit Purchase Order</li>
                </ol>
            </nav>
        </div>
    </div>
    {% if messages %}
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible fade show"
        {% endif %} role="alert">
        <strong> {{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
            aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    <div class="justify-content-center form-bg-image mt-5">
            <div class="card border-light shadow-sm components-section">
                <div class="card-body">
                    <h2 class="h5 mb-4"> Update Purchase Order </h2>
                    <!-- <h1 class="mb-0 h3">
                            {% comment %} <img src="{% static '/assets/img/logo/Wayrem_logo..svg'%}"
                                style="width:80%" alt=""> {% endcomment %}
                        </h1> -->
                        <form method="POST" action="{% url 'wayrem_admin:editpo' po.0.po_id %}" novalidate>
                            <div class="row">
                                <div class="col-md-3">
                                    <label>Purchase Order :</label>
                                    <p><input class="form-control" type="text" name="poname" value="{{po.0.po_name}}" placeholder="Default input" readonly></p>
                                </div>
                                <div class="col-md-3">
                                    <label>Supplier :</label>
                                    <p><input class="form-control" type="text" name="suppliername" value="{{po.0.supplier_name}}"  readonly></p>
                                </div>
                                <div class="col-md-2">
                                    <label for="product">Product Name</label>
                                    {{form.product_name}}
                                </div>
                                <div class="col-md-2 ">
                                    <label for="quantity">Quantity</label>
                                    {{form.product_qty}}
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-primary mt-4 " name="addMore" type="submit" >Add</button>
                                </div>
                            </div>    
                            <div class="mt-4">
                                {% csrf_token %}
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Product</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in po %}
                                        <tr>
                                            
                                            <td><input class="form-control" type="text" name="prodname{{forloop.counter}}" value="{{i.product_name}}" placeholder="Default input" disabled></td>
                                            <td><input class="form-control" type="text" name="prodqty{{forloop.counter}}" value="{{i.product_qty}}" placeholder="Default input"></td>
                                            <td><a class="btn btn-danger" href="{% url 'wayrem_admin:delete_in_edit' i.id %}" role="button">Delete</a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <div class="mt-4">
                                    <a href="{% url 'wayrem_admin:polist' %}" class="btn  btn-danger">Cancel</a>
                                    <button type="submit" class="btn btn-primary" >Update</button>
                                </div>
                            </div>    
                        </form>    
                </div>
            </div>
    </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
<script>

    $('#code').keyup(function () {
        if (this.value.length >= 12) {
            $('#subHere').click();
        }
    });
</script>

<script>
    document.addEventListener('keydown', function (event) {
        if (event.keyCode == 13 || event.keyCode == 17 || event.keyCode == 74)
            event.preventDefault();
    });
</script>
{% endblock javascripts %}