{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Input Barcode {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<main  class="  align-items-center admin_login_lg">
    <!-- Section -->
    <section class="d-flex align-items-center my-5 mt-lg-6 mb-lg-5">
        <div class="container">
            <div class="row justify-content-center form-bg-image">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                        <div class="text-center text-md-center mb-4 mt-md-0">
                            <h1 class="mb-0 h3">
                                {% comment %} <img src="{% static '/assets/img/logo/Wayrem_logo..svg'%}" style="width:80%" alt=""> {% endcomment %}
                            </h1>
                            <br />
                            <p>
                               {% if messages %}
{% for message in messages %}
<div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible fade show" {% endif %} role="alert">
  <strong> {{ message }}</strong> 
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}        
{% endif %}


                            </p>
                        </div>



                            <!-- Form -->
                            <div class="form-group mb-4">
                                <label for="code">Barcode Number</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1"><span
                                            class="fas fa-barcode"></span></span>
                                    <input type="text" placeholder="Barcode Number" class="form-control" id="code" required
                                        name="code" aria-describedby="emailHelp">
                                </div>
                            </div>
                            <!-- End of Form -->
                           
                            <div class="d-grid">
                                <button  onclick="lowestFunc()" id="subHere" class="btn btn-dark">Submit</button>
                            </div>
                <!-- Modal Lowest Price -->
                <div class="modal fade" id="barData" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog  modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="">Barcode Data</h5>
                            {% comment %} <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> {% endcomment %}
                        </div>
                        <div class="modal-body">
                            <div id="details"></div>
                        </div>
                        <div class="modal-footer">
                            <a type="button" href="{% url 'wayrem_admin:inputBar' %}" class="btn btn-secondary" >Close</a>
                            <a type="button" href="{% url 'wayrem_admin:productviewone' %}" class="btn btn-primary">Fill Data</a>
                          </div>
                    </div>
                </div> 
            </div>

                        <div class="d-flex justify-content-center align-items-center mt-4">
                            <span class="font-weight-normal">
                                 <a href="#" target="_blank"></a>
                                <a target="_blank" href="#"></a>
                            </span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


<script>
    function lowestFunc(){
      
        const url="{% url 'wayrem_admin:get_detail' %}";
        var code = document. getElementById('code').value;
        $.ajax({
            
            url:url,
            data: {
                        'barcode': code 
                    },
            success:function(data){
            $("#details").html(data);
            
            $("#barData").modal('show');
            },
        });
    
        }
        
    </script>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
{% comment %} <script>

  $('#code').keyup(function(){
      if(this.value.length >=12){
      $('#subHere').click();
      }
  });
</script> {% endcomment %}

{% comment %} <script>
  document.addEventListener('keydown', function(event) {
    if( event.keyCode == 13 || event.keyCode == 17 || event.keyCode == 74 )
      event.preventDefault();
  });
</script> {% endcomment %}
{% endblock javascripts %}