<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>SKU</th>
      <th>product_code</th>
      <th>product_meta_key</th>
      <th>feature_product</th>
      <th>product_deliverable</th>
      <th>date_of_mfg</th>
      <th>date_of_exp</th>
      <th>mfr_name</th>
      <th>dis_abs_percent</th>
      <th>image1</th>
      <th>image2</th>
      <th>image3</th>
      <th>image4</th>
      <th>image5</th>
      <th>product_name</th>
      <th>description</th>
      <th>ingredients1_id</th>
      <th>ingredients2_id</th>
      <th>ingredients3_id</th>
      <th>ingredients4_id</th>
      <th>calories1</th>
      <th>calories2</th>
      <th>calories3</th>
      <th>calories4</th>
      <th>nutrition</th>
      <th>product_qty</th>
      <th>product_weight</th>
      <th>unit</th>
      <th>price</th>
      <th>discount</th>
      <th>package_count</th>
      <th>wayrem_margin</th>
      <th>wayrem_abs_percent</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>23456723456</td>
      <td>i12</td>
      <td>mobile under 80000</td>
      <td>1</td>
      <td>1</td>
      <td>2021-10-01</td>
      <td>2021-10-30</td>
      <td>Pankaj</td>
      <td>None</td>
      <td>images/iphone_hQAxy6r.jpg</td>
      <td>images/iphone_ePk4bT6.jpg</td>
      <td>images/iphone_KRvlF5r.jpg</td>
      <td></td>
      <td></td>
      <td>Iphone</td>
      <td>best phone in the world</td>
      <td>e4288fd1e6fa4a738a2ad3dee72b7fab</td>
      <td>bddcbc2883b14cbe89a43823fe57bf2c</td>
      <td>e4288fd1e6fa4a738a2ad3dee72b7fab</td>
      <td>e4288fd1e6fa4a738a2ad3dee72b7fab</td>
      <td>23.0</td>
      <td>23.0</td>
      <td>23.0</td>
      <td>34.0</td>
      <td>None</td>
      <td>23</td>
      <td>23</td>
      <td>GRAM</td>
      <td>234.0</td>
      <td>23.0</td>
      <td>23</td>
      <td>234</td>
      <td>(Absolute</td>
    </tr>
    <tr>
      <th>1</th>
      <td>8901058851311</td>
      <td>Maggi3</td>
      <td>maggi masala</td>
      <td>0</td>
      <td>0</td>
      <td>2021-10-24</td>
      <td>2021-11-07</td>
      <td>Pankaj</td>
      <td>None</td>
      <td>images/icon_y7nxT0z.png</td>
      <td>images/icon_43nuETl.png</td>
      <td>images/ems_uVIatn6.png</td>
      <td></td>
      <td></td>
      <td>(3Pack) Maggi 2 minute Masala Noodles 280gm</td>
      <td>(3Pack) Maggi 2 minute Masala Noodles 280gm</td>
      <td>bddcbc2883b14cbe89a43823fe57bf2c</td>
      <td>e4288fd1e6fa4a738a2ad3dee72b7fab</td>
      <td>bb091176c65e4659b9d40da08c4422df</td>
      <td>bddcbc2883b14cbe89a43823fe57bf2c</td>
      <td>12.0</td>
      <td>12.0</td>
      <td>23.0</td>
      <td>12.0</td>
      <td>None</td>
      <td>23</td>
      <td>12</td>
      <td>GRAM</td>
      <td>12.0</td>
      <td>23.0</td>
      <td>234</td>
      <td>34</td>
      <td>(Absolute</td>
    </tr>
  </tbody>
</table>