<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>username</th>
      <th>first_name</th>
      <th>last_name</th>
      <th>is_active</th>
      <th>date_joined</th>
      <th>email</th>
      <th>contact</th>
      <th>dob</th>
      <th>gender</th>
      <th>address</th>
      <th>city</th>
      <th>zip_code</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>admin</td>
      <td></td>
      <td></td>
      <td>1</td>
      <td>2021-11-14 10:32:27.362669</td>
      <td></td>
      <td>None</td>
      <td>None</td>
      <td>M</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
  </tbody>
</table>