<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>username</th>
      <th>email</th>
      <th>contact</th>
      <th>address</th>
      <th>delivery_incharge</th>
      <th>company_name</th>
      <th>is_active</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>supplier1</td>
      <td>supplier1@gmail.com</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>supplier2</td>
      <td>supplier2@gmail.com</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>1</td>
    </tr>
  </tbody>
</table>