<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>name</th>
      <th>category_image</th>
      <th>description</th>
      <th>created_at</th>
      <th>updated_at</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>6f0abb6c61784e9697beef387eb763ef</td>
      <td>Electronics</td>
      <td></td>
      <td>Electronic items</td>
      <td>2021-10-28 05:29:45.162269</td>
      <td>2021-10-28 05:29:45.162293</td>
    </tr>
    <tr>
      <th>1</th>
      <td>7254eadc586b45e28c1a738afbb40bd2</td>
      <td>groceries</td>
      <td></td>
      <td>food items</td>
      <td>2021-10-28 05:29:45.162269</td>
      <td>2021-10-28 05:29:45.162293</td>
    </tr>
    <tr>
      <th>2</th>
      <td>cbc8705af0f947feacc808f1e4975f8e</td>
      <td>Mobiles</td>
      <td></td>
      <td>Mobile Phones</td>
      <td>2021-10-28 05:29:45.162269</td>
      <td>2021-10-28 05:29:45.162293</td>
    </tr>
  </tbody>
</table>