<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>SKU</th>
      <th>product_code</th>
      <th>product_meta_key</th>
      <th>feature_product</th>
      <th>product_deliverable</th>
      <th>date_of_mfg</th>
      <th>date_of_exp</th>
      <th>mfr_name</th>
      <th>dis_abs_percent</th>
      <th>image1</th>
      <th>image2</th>
      <th>image3</th>
      <th>image4</th>
      <th>image5</th>
      <th>product_name</th>
      <th>description</th>
      <th>ingredients1_id</th>
      <th>ingredients2_id</th>
      <th>ingredients3_id</th>
      <th>ingredients4_id</th>
      <th>calories1</th>
      <th>calories2</th>
      <th>calories3</th>
      <th>calories4</th>
      <th>nutrition</th>
      <th>product_qty</th>
      <th>product_weight</th>
      <th>unit</th>
      <th>price</th>
      <th>discount</th>
      <th>package_count</th>
      <th>wayrem_margin</th>
      <th>wayrem_abs_percent</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>6543456783456</td>
      <td>bbbbbbbb</td>
      <td>bb</td>
      <td>0</td>
      <td>0</td>
      <td>2021-11-02</td>
      <td>2021-12-02</td>
      <td>bbbb</td>
      <td>None</td>
      <td>images/icon_ZzZcxzE.png</td>
      <td>images/ems_ubMlFhI.png</td>
      <td>images/ems_E7HVEFW.png</td>
      <td></td>
      <td></td>
      <td>bbbbbbbb</td>
      <td>afdbbbbbb</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>54</td>
      <td>43</td>
      <td>GRAM</td>
      <td>43.00</td>
      <td>43.0</td>
      <td>343</td>
      <td>3334</td>
      <td>(Absolute</td>
    </tr>
    <tr>
      <th>1</th>
      <td>04012345678901</td>
      <td>eretrhjk</td>
      <td>23rthgfdfs</td>
      <td>0</td>
      <td>0</td>
      <td>2021-11-28</td>
      <td>2025-11-30</td>
      <td>adfadsf</td>
      <td>None</td>
      <td>images/ems_Kzu7sPD.png</td>
      <td>images/ems_xSOSLX0.png</td>
      <td>images/ems_pGSgjgs.png</td>
      <td></td>
      <td></td>
      <td>rwefgjhm,</td>
      <td>afdfgafda</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>213</td>
      <td>0</td>
      <td>KILO-GRAM</td>
      <td>47.11</td>
      <td>1234.0</td>
      <td>234</td>
      <td>234</td>
      <td>(Absolute</td>
    </tr>
    <tr>
      <th>2</th>
      <td>8901786421015</td>
      <td>aaaaaaaaa</td>
      <td>aaaaaa</td>
      <td>0</td>
      <td>0</td>
      <td>2021-11-05</td>
      <td>2021-11-22</td>
      <td>aaaaaa</td>
      <td>None</td>
      <td>images/icon_TahuxbA.png</td>
      <td>images/icon_2A1n7QR.png</td>
      <td>images/ems_8f48uis.png</td>
      <td></td>
      <td></td>
      <td>aaaaaaa</td>
      <td>234</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>234</td>
      <td>234</td>
      <td>GRAM</td>
      <td>2345.00</td>
      <td>234.0</td>
      <td>23</td>
      <td>23</td>
      <td>(Absolute</td>
    </tr>
    <tr>
      <th>3</th>
      <td>89764562323</td>
      <td>sffgsfgs</td>
      <td>ddasfdasfd adsf f</td>
      <td>0</td>
      <td>0</td>
      <td>2021-11-01</td>
      <td>2021-12-12</td>
      <td>sfdfggf</td>
      <td>None</td>
      <td>images/icon_DZ59OEp.png</td>
      <td>images/icon_U17ZkdZ.png</td>
      <td>images/ems_v2ZZTBU.png</td>
      <td></td>
      <td></td>
      <td>T-shirt</td>
      <td>dfda fas fd sdf asf asdf adss</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>34567</td>
      <td>454</td>
      <td>GRAM</td>
      <td>34.00</td>
      <td>34.0</td>
      <td>34567</td>
      <td>34</td>
      <td>(Absolute</td>
    </tr>
  </tbody>
</table>