<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>SKU</th>
      <th>product_code</th>
      <th>product_meta_key</th>
      <th>feature_product</th>
      <th>product_deliverable</th>
      <th>date_of_mfg</th>
      <th>date_of_exp</th>
      <th>mfr_name</th>
      <th>dis_abs_percent</th>
      <th>image1</th>
      <th>image2</th>
      <th>image3</th>
      <th>image4</th>
      <th>image5</th>
      <th>product_name</th>
      <th>description</th>
      <th>ingredients1_id</th>
      <th>ingredients2_id</th>
      <th>ingredients3_id</th>
      <th>ingredients4_id</th>
      <th>calories1</th>
      <th>calories2</th>
      <th>calories3</th>
      <th>calories4</th>
      <th>nutrition</th>
      <th>product_qty</th>
      <th>product_weight</th>
      <th>unit</th>
      <th>price</th>
      <th>discount</th>
      <th>package_count</th>
      <th>wayrem_margin</th>
      <th>wayrem_abs_percent</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>345678987654112</td>
      <td>afdgdhfsdfg</td>
      <td>ASDFGHJKLMNVBCVX</td>
      <td>1</td>
      <td>1</td>
      <td>2021-11-06</td>
      <td>2021-10-06</td>
      <td>zxcvbnn</td>
      <td>(Absolute</td>
      <td>images/grocery_9ApQJBF.jpg</td>
      <td>images/download_Dp8CaQ5.jpg</td>
      <td>images/iphone_image_WGQwp8B.jpg</td>
      <td>images/download_XO7PVyJ.jpg</td>
      <td>images/download_Ta8zZhM.jpg</td>
      <td>qwerty222</td>
      <td>dfgdhdrtdyierate5</td>
      <td>02be5bbc1c6649a7946e762b0a1ee395</td>
      <td>02be5bbc1c6649a7946e762b0a1ee395</td>
      <td>02be5bbc1c6649a7946e762b0a1ee395</td>
      <td>02be5bbc1c6649a7946e762b0a1ee395</td>
      <td>20.0</td>
      <td>20.0</td>
      <td>20.0</td>
      <td>20.0</td>
      <td>None</td>
      <td>20</td>
      <td>100</td>
      <td>GRAM</td>
      <td>455.0</td>
      <td>21.0</td>
      <td>12</td>
      <td>5</td>
      <td>%</td>
    </tr>
    <tr>
      <th>1</th>
      <td>8901058851311</td>
      <td>xyx</td>
      <td>maggi</td>
      <td>0</td>
      <td>1</td>
      <td>2021-10-21</td>
      <td>2021-10-31</td>
      <td>Pankaj</td>
      <td>None</td>
      <td>images/icon.png</td>
      <td>images/icon_82NJLlq.png</td>
      <td>images/icon_mxbvNnS.png</td>
      <td></td>
      <td></td>
      <td>(3Pack) Maggi 2 minute Masala Noodles 280gm</td>
      <td>(3Pack) Maggi 2 minute Masala Noodles 280gm</td>
      <td>02be5bbc1c6649a7946e762b0a1ee395</td>
      <td>5e11ca7d2faf43858f9860077e67683c</td>
      <td>b35cd7f4f3484c57bf4320e0cf7444f1</td>
      <td>5e11ca7d2faf43858f9860077e67683c</td>
      <td>1.0</td>
      <td>3.0</td>
      <td>4.0</td>
      <td>8.0</td>
      <td>None</td>
      <td>12</td>
      <td>12</td>
      <td>GRAM</td>
      <td>12.0</td>
      <td>12.0</td>
      <td>123</td>
      <td>2</td>
      <td>(Absolute</td>
    </tr>
  </tbody>
</table>