{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block head %}
<script src="{% static 'assets/js/datatable_ajax.js' %}"></script>
<link rel="stylesheet" href="{% static 'assets/css/datatable.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<script src="{% static 'assets/js/datatable_1.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="{% static 'assets/js/datatable.js' %}"></script>

{% comment %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"> {%
endcomment %}
{% comment %}
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,800&display=swap"
    rel="stylesheet"> {% endcomment %}



{% endblock head %}

{% block content %}
<!-- <div class="text-left">
    <a class="nav-link" href="{% url 'wayrem_admin:sub-admin-register' %}">
        <button class="btn btn-secondary" style="background-color: #f2e600; position: relative;left: 850px;">Create New User</button>
        </a>
</div> -->

<!-- <div class="col-xl-4 col-lg-4 col-md-6 d-flex align-items-center"><span class="page_title mb-md-2" style="font-size: 28px; font-weight:600;">User</span>
</div> -->

<div class="subheader row pe-4 ps-4 mt-5">
    {% comment %} <div class="row add_btn col-xl-4 col-lg-4 col-md-5 d-flex align-items-center">
        <div class="col">
            <a href="{% url 'wayrem_admin:userpdf' %}" class="button button1 mt-2 export_file">Export to pdf</a>
        </div>
    </div> {% endcomment %}

    <div class="col-xl-8 col-lg-8 col-12 offset-4">
        <div class="row d-flex align-items-center">
            <div class="col-xl-4 col-lg-3 col-md-0 mb-3 mb-md-0 mb-sm-3 mb-lg-0 " style="height:40px;">
                <!-- <input type="search" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Search"> -->
                <label class="subadmin_search d-flex align-items-center">
                    <input class="table_searchbar" id="table_search" type="search" placeholder="Search">
                    <!-- <img src="images/Search.svg" alt=""> -->
                </label>

            </div>

            <!-- <div class="col-xl-4 col-md-4">
                <select class="form-select form-select-md filter_select" aria-label=".form-select-md example" disabled>
                    <option selected="">All</option>
                    <option value="1">...</option>
                    <option value="2">...</option>
                    <option value="3">...</option>
                </select>
            </div> -->


            <!--====================filterbtn============================-->
            <div class="col-xl-3 col-md-3 col-md-3">
                <div class="dropdown">
                    <a class="btn btn-dark dropdown-toggle col-xl-12 col-md-12 col-md-12" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                      Filter
                      <img src="/static/assets/img/logo/filter1.svg" height="" width="">
                    </a>

                  <!--=====================filter_dropdown============================-->
                        <div class="filter_width p-4 dropdown-menu dropdown-content " aria-labelledby="dropdownMenuLink">
                                <div class="row">
            
                                    <div class="col-4">
                                        <div class="input_border m-0 text-center d-flex alifn-item-center"><label for="inputPassword4">Lorem Ipsum</label></div>
                                            <div class="col-8 input_border"><input type="text" class="form-control p-2"></div>
                                    </div>
            
                                    <div class="col-4">
                                        <div class="input_border m-0 text-center d-flex alifn-item-center"><label for="inputPassword4">Lorem Ipsum</label></div>
                                            <div class="col-8 input_border"><input type="text" class="form-control p-2"></div>
                                    </div>
            
                                    <div class="col-4">
                                        <div class="input_border m-0 text-center d-flex alifn-item-center"><label for="inputPassword4">Lorem Ipsum</label></div>
                                            <div class="col-8 input_border"><input type="text" class="form-control p-2"></div>
                                    </div>
            
                                </div>
            
                                <div class="row mt-4">
                                    <div class="col-4">
                                        <div class="input_border m-0 text-center d-flex alifn-item-center">
                                            <label for="inputPassword4">Lorem Ipsum</label>
                                        </div>
                                        <div class="col-8 input_border">
                                            <select class="form-select form-select-md rounded-1" aria-label=".form-select-md example">
                                            <option selected="">lorem</option>
                                            <option value="1">lorem</option>
                                            <option value="2">lorem</option>
                                            <option value="3">lorem</option>
                                          </select>
                                        </div>
                                    </div>
            
                                    <div class="col-4">
                                        <div class="input_border m-0 text-center d-flex alifn-item-center"><label for="inputPassword4">Lorem Ipsum</label></div>
                                            <div class="col-8 input_border">
                                                <select class="form-select form-select-md rounded-1" aria-label=".form-select-md example">
                                                    <option selected="">lorem</option>
                                                    <option value="1">lorem</option>
                                                    <option value="2">lorem</option>
                                                    <option value="3">lorem</option>
                                                  </select>
                                            </div>
                                    </div>
            
                                    <div class="col-4">
                                        <div class="input_border m-0 text-center d-flex alifn-item-center">
                                            <label for="inputPassword4">Lorem Ipsum</label>
                                        </div>
                                        <div class="col-8 input_border">
                                            <select class="form-select form-select-md rounded-1" aria-label=".form-select-md example">
                                                <option selected="">lorem</option>
                                                <option value="1">lorem</option>
                                                <option value="2">lorem</option>
                                                <option value="3">lorem</option>
                                                </select>
                                        </div>
                                    </div>
                                </div>
            
                                <div class="row mt-4">
                                    <div class="col-4">
                                        <div class="input_border m-0 text-center d-flex alifn-item-center">
                                            <label for="inputPassword4">Lorem Ipsum</label>
                                        </div>
                                        <div class="col-8 input_border">
                                            <div class="form-check" style="line-height: 27px;">lorem ipsum
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" style="display: flex;width: 20px;height: 20px;"></div>
                                        </div>
                                    </div>
            
                                    <div class="col-4">
                                        <div class="input_border m-0 text-center d-flex alifn-item-center">
                                            <label for="inputPassword4">Lorem Ipsum</label>
                                        </div>
                                        <div class="col-8 input_border">
                                            <div class="form-check" style="line-height: 27px;">lorem ipsum
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" style="display: flex;width: 20px;height: 20px;"></div>
                                        </div>
                                    </div>
            
                                    <div class="col-4">
                                        <div class="input_border m-0 text-center d-flex alifn-item-center">
                                            <label for="inputPassword4">Lorem Ipsum</label>
                                        </div>
                                        <div class="col-8 input_border">
                                            <div class="form-check" style="line-height: 27px;">lorem ipsum
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" style="display: flex;width: 20px;height: 20px;"></div>
                                        </div>
                                    </div>
            
                                </div>
            
                                <div class="row mt-4 d-flex justify-content-end">
                                        <a href="/roles/list/" class="btn  btn-danger me-2 btn-block col-xl-3 col-md-5 col-12 mt-sm-3 mt-md-0 mt-3">Cancel</a>
                                        <button type="submit" class="btn btn-dark border-0 col-xl-3 col-md-5 col-12">Apply</button>
                                </div>
                        </div>
            <!--=====================================-->
                    
                  </div>
            </div>



            <div class="col-xl-4 col-lg-5 col-md-5"><a class="btn w-100 anchor_btn ps-0 pe-0"
                    href="{% url 'wayrem_admin:create_po' %}">
                    <button class="btn col-sm-12 col-md-12 col-12 create_new">Create New PO</button>
                </a></div>
        </div>

    </div>

</div>




{% if messages %}
{% for message in messages %}
<div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible fade show" {% endif %} role="alert">
    <strong> {{ message }}!</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
<table class="table  text-center" id="filtertable">
    <thead class="table-dark ">
        <tr>
            <th scope="col">S. No.</th>
            <th scope="col">Purchase Order</th>
            <th scope="col">Supplier</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody class="bg-white">
        {% for item1,item2 in userlist %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{item1.po_name}}</td>
            <td>{{item2}}</td>
            <td>
            <form action="{% url 'wayrem_admin:po_status' item1.po_id %}"  method="post">
            {% csrf_token %}
                <select class="form-select form-select-sm" name="status" onchange='this.form.submit()' aria-label=".form-select-sm example">
                    <option selected>{{item1.status|title}}</option>
                    <option value="accept">Accept</option>
                    <option value="deny">Deny</option>
                    <option value="cancel">Cancel</option>
                    <option value="in progress">In Progress</option>
                    <option value="delivered">Delivered</option>
                </select>
            </form>
            </td>
            <td>
                <a type="button" data-toggle="tooltip" data-placement="bottom" title="View" href="{% url 'wayrem_admin:viewpo' item1.po_id %}" class="btn btn-sm"><i
                        class="fas fa-eye text-success"></i>
                </a>
                <a type="button" data-toggle="tooltip" data-placement="bottom" title="Edit" href="{% url 'wayrem_admin:editpo' item1.po_id %}" class="btn btn-sm"><i
                        class="fas fa-edit text-primary"></i>
                </a>
                
                <a type="button" data-toggle="tooltip" data-placement="bottom" title="Delete" class="btn btn-sm" data-bs-toggle="modal"
                    data-bs-target="#deleteModal{{item1.po_id}}"><i class="fas fa-trash-alt text-danger"></i>
                </a>
            </td>
            

            <!-- Modal -->
            <div class="modal fade" id="deleteModal{{item1.po_id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete {{item2}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure want to delete ??
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                            <form method="POST" action="{% url 'wayrem_admin:deletepo' %}">
                                {% csrf_token %}
                                <input type="hidden" value="{{item1.po_id}}" name="po_id">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </tr>

        {% endfor %}

    </tbody>
</table>
</div>
</div>
</div>
</div>
</div>

<script>

    $(document).ready(function () {
        oTable = $('#filtertable').DataTable({
            dom: 'rtip',
            'columnDefs': [{ 'orderable': false, 'targets': 4 }],
            "oLanguage": {
                "oPaginate": {
                    "sNext": '<i class="fas fa-arrow-circle-right text-primary"></i>',
                    "sPrevious": '<i class="fas fa-arrow-circle-left text-primary"></i>'
                }
            },
            "fnDrawCallback": function (oSettings) {
                if (oSettings._iDisplayLength > oSettings.fnRecordsDisplay()) {
                    $(oSettings.nTableWrapper).find('.dataTables_paginate').hide();
                } else {
                    $(oSettings.nTableWrapper).find('.dataTables_paginate').show();
                }
            }
        });
        $('#table_search').keyup(function () {
            oTable.search($(this).val()).draw();
        })
    });
</script>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}