{% extends "layouts/base.html" %}
{% load static %}{% load util_tags %}
{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link type="text/css" href="{% static 'assets/css/style.css' %}" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.css" integrity="sha512-p209YNS54RKxuGVBVhL+pZPTioVDcYPZPYYlKWS9qVvQwrlzxBxkR8/48SCP58ieEuBosYiPUS970ixAfI/w/A==" crossorigin="anonymous" referrerpolicy="no-referrer" />



<script type="text/javascript">
       $(document).ready(function () {
            $('#id_product_name').select2({
            placeholder: 'Select Product',
            })
            $('#id_supplier_name').select2({
            placeholder: 'Select Supplier Company',
            });
     });
    </script>
 <div class="dashboard_content_inner">
    <div class="topbar_pages">
        <h4 class="text-title">Create Purchase Order</h2>
        <div class="breadcrumb-section">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb padding-left-0">
                    <li class="breadcrumb-item"><a href="{% url 'wayrem_admin:dashboard' %}"><span class="sidebar-icon"><span class="fas fa-chart-pie"></span></span> Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'wayrem_admin:polist' %}"><span class="sidebar-icon"><span class="fas fa-file-alt"></span></span> Purchase Order</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Create Purchase Order</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="py-4 justify-content-center form-bg-image">
            {% if messages %}
            {% for message in messages %}
            <div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible fade show" {% endif %} role="alert">
                <strong> {{ message }}!</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
        <div class="card border-light shadow-sm components-section">
            <div class="card-body">
                <h2 class="h5 mb-4"> Create Purchase Order </h2>
                <form action="{% url 'wayrem_admin:create_po' %}" method="POST" >
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-5">
                            <label for="supplier">Supplier Company</label>
                            {{form.supplier_name}}
                        </div>
                        <div class="row col-md-7">
                            <div class="col-md-6">
                                <label for="product">Product Name</label>
                                {{form.product_name}}
                            </div>
            
                            <div class="col-md-6">
                                <label for="quantity">Quantity</label>
                            {{form.product_qty}}
                            </div>
                            
                        </div>
                    </div>
                    <div class="mt-2">
                        <button class="btn btn-primary" name="addMore" type="submit" >Add</button>
                    </div>
                </form>
                <div class="table-data">
                    {% if request.session.products %}
                    <form action="{% url 'wayrem_admin:create_po2' %}" method="POST" >
                    {% csrf_token %}
                    <table class="table text-center" id="enrolled">
                        <thead>
                            <tr>
                                <th scope="col">S. No.</th>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                {% for forecast_day in forecast_day %}
                                    <th scope="col">{{forecast_day.no_of_days}} days Forecast</th>
                                {% endfor %}
                                <th scope="col">Actions</th>
                                {% comment %} <th scope="col">Price</th> {% endcomment %}
                                
                            </tr>
                        </thead>
                        <tbody>
                        {% for data in po%}
                            
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td> {{data.1}}<input type="hidden" class="form-control" required name="product{{forloop.counter}}" value="{{data.0}}" id="product"></td>
                                <td>{{data.2}}</td>
                                <td><input type="number" class="form-control list_table_input" required name="quantity{{forloop.counter}}" value="{{data.3}}" id="quantity"></td>
                                {% if data.0 %}
                                    {% for forecast_day in forecast_day %}
                                        <td>{{forecast_day.no_of_days|forecast_quantity:data.0}}</td>
                                    {% endfor %}
                                {% endif %}
                                <td><a class="btn btn-success btn-small" href=" {% url 'wayrem_admin:delete_inserted' data.0 %}" >Delete</a></td>
                            </tr>
                            
                        {% endfor %}
                        </tbody>
                    </table>
                
                    <div class="mr-5 py-3">
                    <a href="{% url 'wayrem_admin:polist' %}"
                                            class="btn  btn-danger btn-block">Cancel</a>
                    <button type="submit" name="send" href="#" class="btn btn-primary btn-block">Create PO</button>
                    </form>
                    {% endif %}
                    {% comment %} <button class="btn btn-success mr-5" type="submit" >Next</button> {% endcomment %}
                </div>
            </div>
        </div>
        
            
    </div>
</div>    



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    $(document).ready(function () {
    $("#id_supplier_name").change(function () {
        const url = "{% url 'wayrem_admin:load_supplier_products' %}";
        const supplierId = $(this).val();

        $.ajax({
            url: url,
            data: {
                'supplier': supplierId
            },
            success: function (data) {
                $("#id_product_name").html(data);                
            }
        });

    });
    //const url = "{% url 'wayrem_admin:load_supplier_products' %}";
    //const supplierId = $("#id_supplier_name").val();

      //  $.ajax({
      //      url: url,
        //    data: {
        //        'supplier': supplierId
        //    },
        //    success: function (data) {
        //        $("#id_product_name").html(data);                
        //    }
        //});
});
</script>
{% endblock javascripts %}



