{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link type="text/css" href="{% static 'assets/css/style.css' %}" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
{% if messages %}
{% for message in messages %}
<div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible fade show" {% endif %} role="alert">
    <strong> {{ message }}!</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.css" integrity="sha512-p209YNS54RKxuGVBVhL+pZPTioVDcYPZPYYlKWS9qVvQwrlzxBxkR8/48SCP58ieEuBosYiPUS970ixAfI/w/A==" crossorigin="anonymous" referrerpolicy="no-referrer" />



<script type="text/javascript">
       $(document).ready(function () {
            $('#id_product_name').select2({
            placeholder: 'Select Product',
            })
            $('#id_supplier_name').select2({
            placeholder: 'Select Supplier',
            });
     });
    </script>

<div class="shadow p-3 bg-white rounded" style="height: auto;">
    <h1 class="mb-1 h3 text-center">
        Create Purchase Order
   </h1>
<form action="{% url 'wayrem_admin:create_po' %}" method="POST" novalidate>
{% csrf_token %}

<div class="container p-3 mt-4 w-75">
  <label for="supplier">Supplier Name</label>
                    {{form.supplier_name}}
      
  </div>


        <div class="container p-3 mt-4 w-75">
            <div class="row">
                <div class="col-md-4">
                    <label for="product">Product Name</label>
                    {{form.product_name}}
                </div>

                <div class="col-md-2">
                    <label for="quantity">Quantity</label>
                {{form.product_qty}}
                </div>

               

                <div class="col-md-3 mt-4 text-right offset-3">
                    <button class="btn btn-success mt-2" name="addMore" type="submit" >Add More</button>
                </div>
            </div>
        </div>

    <div class="container w-75 bg-white">
	  	<div class="table-data mt-5">
		    <table class="table text-center" id="enrolled">
		        <thead>
		            <tr>
		                <th scope="col">S. No.</th>
		                <th scope="col">Product</th>
		                <th scope="col">Quantity</th>
		                {% comment %} <th scope="col">Price</th> {% endcomment %}
		                
		            </tr>
		        </thead>
		        <tbody>
                {% for data in po%}
                    
		            <tr>
		                <td>{{forloop.counter}}</td>
		                <td>{{data.1}}</td>
		                <td>{{data.2}}</td>
		            </tr>
                    
		        {% endfor %}
		        </tbody>
		    </table>
		    <div class="text-right mr-5 px-2">
			<button type="submit" name="send" href="#" class="btn btn-danger btn-block col-xl-3 col-md-5 col-12 mt-sm-3 mt-md-0 mt-3">Send</button>
 </form>
		    {% comment %} <button class="btn btn-success mr-5" type="submit" >Next</button> {% endcomment %}
		    </div>
		</div>
		<!-- <div>
		    <button class="btn btn-success float-right" type="submit">Next</button>
		</div> -->
	</div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}



