{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link type="text/css" href="{% static 'assets/css/style.css' %}" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
{% if messages %}
{% for message in messages %}
<div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible fade show" {% endif %} role="alert">
    <strong> {{ message }}!</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}

<div class="shadow p-3 mb-5 bg-white rounded">
    <h1 class="mb-1 h3 text-center">
        Create Purchase Order | step-2
    </h1>

    <div class="container bg-white">
        <div class="table-data mt-5">
            <table class="table text-center" id="enrolled">
                <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>

                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>

                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>

                    </tr>
                </tbody>
            </table>
        </div>

<form class="row ms-auto">
  <div class="col  mr-sm-2">
  <label for="supplier">Supplier Name</label>
                    <select id="supplier" class="form-row" name="supplier">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                    </select>
      
  </div>
  <div class="col-auto">
      <button class="btn btn-success my-3" type="submit">Search</button>
  </div>
</form>

    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}