{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Supplier List {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block head %}
<script src="{% static 'assets/js/datatable_ajax.js' %}"></script>
<link rel="stylesheet" href="{% static 'assets/css/datatable.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<script src="{% static 'assets/js/datatable_1.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="{% static 'assets/js/datatable.js' %}"></script>




{% endblock head %}

{% block content %}


<div class="subheader row pe-4 ps-4 mt-5">
    <div class="row add_btn col-xl-4 col-md-4 col-lg-4 col-md-5 d-flex align-items-center">
        <div class="col">
        <div class="dropdown">
  <button class="button button1 mt-2 export_file dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Export
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="{% url 'wayrem_admin:productpdf' %}">Export to Pdf</a></li>
    <li><a class="dropdown-item" href="{% url 'wayrem_admin:excelproduct' %}">Export to Excel</a></li>
  </ul>
</div>
            {% comment %} <a href="{% url 'wayrem_admin:productpdf' %}" class="button button1 mt-2 export_file">Export to pdf</a> {% endcomment %}
        </div>
    </div>

    <div class="col-xl-8 col-md-8 col-lg-8 col-12">
        <div class="row d-flex align-items-center">
            <div class="col-xl-4 col-md-4 col-lg-3 col-md-0 mb-3 mb-md-0 mb-sm-3 mb-lg-0 " style="height:40px;">
                <label class="subadmin_search d-flex align-items-center">
                    <input class="table_searchbar" id="table_search" type="search" placeholder="Search">
                </label>

            </div>
            <!-- <div class="col-xl-4 col-md-4 col-md-4">
            <form action="#"  method="post">
            {% csrf_token %}
                <select class="form-select form-select-md filter_select" name="status" onchange='this.form.submit()' aria-label=".form-select-md example">
                    <option selected="">All</option>
                    <option value="1">Featured product</option>
                    <option value="2">Deliverable Product</option>
                </select>
                </form>
            </div> -->



<!--====================filterbtn============================-->
            <div class="col-xl-3 col-md-3 col-md-3">
                <div class="dropdown">
                    <a class="btn btn-dark dropdown-toggle col-xl-12 col-md-12 col-md-12" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                      Filter
                      <img src="/static/assets/img/logo/filter1.svg" height="" width="">
                    </a>

                  <!--=====================filter_dropdown============================-->
                        <div class="filter_width p-4 dropdown-menu dropdown-content " aria-labelledby="dropdownMenuLink">
                                <div class="row">
            
                                    <div class="col-4">
                                        <div class="input_border m-0 text-center d-flex alifn-item-center"><label for="inputPassword4">Lorem Ipsum</label></div>
                                            <div class="col-8 input_border"><input type="text" class="form-control p-2"></div>
                                    </div>
            
                                    <div class="col-4">
                                        <div class="input_border m-0 text-center d-flex alifn-item-center"><label for="inputPassword4">Lorem Ipsum</label></div>
                                            <div class="col-8 input_border"><input type="text" class="form-control p-2"></div>
                                    </div>
            
                                    <div class="col-4">
                                        <div class="input_border m-0 text-center d-flex alifn-item-center"><label for="inputPassword4">Lorem Ipsum</label></div>
                                            <div class="col-8 input_border"><input type="text" class="form-control p-2"></div>
                                    </div>
            
                                </div>
            
                                <div class="row mt-4">
                                    <div class="col-4">
                                        <div class="input_border m-0 text-center d-flex alifn-item-center">
                                            <label for="inputPassword4">Lorem Ipsum</label>
                                        </div>
                                        <div class="col-8 input_border">
                                            <select class="form-select form-select-md rounded-1" aria-label=".form-select-md example">
                                            <option selected="">lorem</option>
                                            <option value="1">lorem</option>
                                            <option value="2">lorem</option>
                                            <option value="3">lorem</option>
                                          </select>
                                        </div>
                                    </div>
            
                                    <div class="col-4">
                                        <div class="input_border m-0 text-center d-flex alifn-item-center"><label for="inputPassword4">Lorem Ipsum</label></div>
                                            <div class="col-8 input_border">
                                                <select class="form-select form-select-md rounded-1" aria-label=".form-select-md example">
                                                    <option selected="">lorem</option>
                                                    <option value="1">lorem</option>
                                                    <option value="2">lorem</option>
                                                    <option value="3">lorem</option>
                                                  </select>
                                            </div>
                                    </div>
            
                                    <div class="col-4">
                                        <div class="input_border m-0 text-center d-flex alifn-item-center">
                                            <label for="inputPassword4">Lorem Ipsum</label>
                                        </div>
                                        <div class="col-8 input_border">
                                            <select class="form-select form-select-md rounded-1" aria-label=".form-select-md example">
                                                <option selected="">lorem</option>
                                                <option value="1">lorem</option>
                                                <option value="2">lorem</option>
                                                <option value="3">lorem</option>
                                                </select>
                                        </div>
                                    </div>
                                </div>
            
                                <div class="row mt-4">
                                    <div class="col-4">
                                        <div class="input_border m-0 text-center d-flex alifn-item-center">
                                            <label for="inputPassword4">Lorem Ipsum</label>
                                        </div>
                                        <div class="col-8 input_border">
                                            <div class="form-check" style="line-height: 27px;">lorem ipsum
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" style="display: flex;width: 20px;height: 20px;"></div>
                                        </div>
                                    </div>
            
                                    <div class="col-4">
                                        <div class="input_border m-0 text-center d-flex alifn-item-center">
                                            <label for="inputPassword4">Lorem Ipsum</label>
                                        </div>
                                        <div class="col-8 input_border">
                                            <div class="form-check" style="line-height: 27px;">lorem ipsum
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" style="display: flex;width: 20px;height: 20px;"></div>
                                        </div>
                                    </div>
            
                                    <div class="col-4">
                                        <div class="input_border m-0 text-center d-flex alifn-item-center">
                                            <label for="inputPassword4">Lorem Ipsum</label>
                                        </div>
                                        <div class="col-8 input_border">
                                            <div class="form-check" style="line-height: 27px;">lorem ipsum
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" style="display: flex;width: 20px;height: 20px;"></div>
                                        </div>
                                    </div>
            
                                </div>
            
                                <div class="row mt-4 d-flex justify-content-end">
                                        <a href="/roles/list/" class="btn  btn-danger me-2 btn-block col-xl-3 col-md-5 col-12 mt-sm-3 mt-md-0 mt-3">Cancel</a>
                                        <button type="submit" class="btn btn-dark border-0 col-xl-3 col-md-5 col-12">Apply</button>
                                </div>
                        </div>
            <!--=====================================-->
                    
                  </div>
            </div>

            <div class="col-xl-4 col-md-4 col-lg-5 col-md-5"><a class="btn w-100 anchor_btn ps-0 pe-0"
                    href="{% url 'wayrem_admin:product' %}">
                    <button class="btn col-sm-12 col-md-12 col-12 create_new">Create New Product</button>
                </a></div>
        </div>

    </div>

</div>




{% if messages %}
{% for message in messages %}
<div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible fade show" {% endif %} role="alert">
    <strong> {{ message }}!</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}

<table class="table  text-center" id="filtertable">
    <thead class="table-dark">
        <tr>
            <th scope="col">S. No.</th>
            <th scope="col">SKU</th>
            <th scope="col">Product Name</th>
            <th scope="col">Category Name</th>
            <th scope="col">Suppliers</th>
            <th scope="col">lowest quoted price</th>
            <th scope="col">lowest delivery time</th>
            <th scope="col">Actions</th>
            <th scope="col">PO</th>
        </tr>
    </thead>
    <tbody>
    {% for prod in productslist %}

        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{prod.SKU}}</td>
            <td>{{prod.product_name}}</td>
            <td>
            {% for i in prod.product_category.all%}
            
                {{i}}
                {% endfor %}
                </td>
                <td><a class="btn btn-sm" href="{% url 'wayrem_admin:viewprodsupplier' %}?product={{prod.SKU}}">View Supplier
                </a></td>
            <td>{{forloop.counter|add:"55"}}</td>
            <td>Within 2 Days</td>


            {% comment %} <td><a type="button" class="btn btn-sm" data-bs-toggle="modal"
                data-bs-target="#supplier1{{prod.id}}">
                View Supplier
            </a>
            <div class="modal fade" id="supplier1{{prod.id}}" tabindex="-1" aria-labelledby="exampleModalLabel1"
                aria-hidden="true">
                <div class="modal-dialog  modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="">{{prod.product_name}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <table class="table  text-center">
                                <thead class="table-white">
                                    <tr>
                                        <th scope="col">Suppliers</th>
                                        <th scope="col">Deliverable Time</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">PO</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in prod.supplier_name.all%}
                                    <tr>
                                        <td class="btn w-100 anchor_btn ps-0 pe-0 " > 
                                            {{i}} 
                                        </td>
                                        <td>Within 1 day</td>
                                        <td>{{prod.price}}</td>
                                        <td>
                                            <a class="btn btn-sm btn-dark" href="{% url 'wayrem_admin:create_po' %}?supplier={{i.id}}">
                                                Raise PO
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            
                        </div>                    
                    </div>
                </div>
            </div>
        </td> {% endcomment %}
            <td><a type="button" class="btn btn-sm " data-bs-toggle="modal" href="{% url 'wayrem_admin:updateproduct' prod.id %}">

                    <i class="fas fa-edit text-dark"></i>
                </a> <a type="button" class="btn btn-sm" data-bs-toggle="modal"
                    data-bs-target="#deleteModal{{prod.id}}">
                    <i class="fas fa-trash-alt text-danger"></i>
                </a>
                <a type="button" class="btn btn-sm " data-bs-toggle="modal" href="{% url 'wayrem_admin:productdetails' prod.id %}">
                    <i class="mx-1 fas fa-eye text-success" style="font-size:15px;"></i>
                </a>
            </td>
            <!-- Modal -->
            <div class="modal fade" id="deleteModal{{prod.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete {{prod.product_name | title}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure want to delete {{prod.product_name | title}} ??
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                            <form method="POST" action="{% url 'wayrem_admin:deleteproduct' %}">
                                {% csrf_token %}
                                <input type="hidden" value="{{prod.id}}" name="product_id">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        <td><a type="button" class="btn btn-sm " data-bs-toggle="modal" href="{% url 'wayrem_admin:create_po' %}?product={{prod.id}}">Raise PO
                </a></td>
        </tr>
    {% endfor %}

    </tbody>
</table>
</div>
</div>
</div>
</div>
</div>

<script>

    $(document).ready(function () {
        oTable = $('#filtertable').DataTable({
            dom: 'rtip',            
            'columnDefs': [{ 'orderable': false, 'targets': 10 }],
            "oLanguage": {
                "oPaginate": {
                    "sNext": '<i class="fas fa-arrow-circle-right text-primary"></i>',
                    "sPrevious": '<i class="fas fa-arrow-circle-left text-primary"></i>'
                }
            },
            "fnDrawCallback": function (oSettings) {
                if (oSettings._iDisplayLength > oSettings.fnRecordsDisplay()) {
                    $(oSettings.nTableWrapper).find('.dataTables_paginate').hide();
                } else {
                    $(oSettings.nTableWrapper).find('.dataTables_paginate').show();
                }
            }
        });
        $('#table_search').keyup(function () {
            oTable.search($(this).val()).draw();
        })
    });
</script>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}