{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Create Product {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link type="text/css" href="{% static 'assets/css/style.css' %}" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.css" integrity="sha512-p209YNS54RKxuGVBVhL+pZPTioVDcYPZPYYlKWS9qVvQwrlzxBxkR8/48SCP58ieEuBosYiPUS970ixAfI/w/A==" crossorigin="anonymous" referrerpolicy="no-referrer" />



{% comment %} <script type="text/javascript">
       $(document).ready(function () {
            $('#id_product_category').select2({
            placeholder: 'Select Category',
            })
            $('#id_supplier_name').select2({
            placeholder: 'Select Supplier',
            });
     });
    </script> {% endcomment %}

<main class="align-items-center admin_signup_lg">
    <section class="d-flex   align-items-center my-5 mt-lg-6 mb-lg-5">
        <div class="container ">
            <div class="row justify-content-center form-bg-image">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div
                        class="mb-4 mb-lg-0 bg-white  rounded p-4 p-lg-4 w-100" style="box-shadow: 0px 14px 20px 0px #00000014;">
                        <div class="mb-4 mt-md-0">
                            <h1 class="mb-0 h3">
                                <!-- <img src="{% static '/assets/img/logo/Wayrem_logo..svg'%}" alt=""> -->
                                 Add Product | Step - 4
                            </h1>
                            <hr>
                            
                            <p>
                                {% if messages %}
                                {% for message in messages %}
                            <div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible fade show"
                                {% endif %} role="alert">
                                <strong> {{ message }}</strong>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                            </div>
                            {% endfor %}
                            {% endif %}


                            </p>
                        </div>

 {% if form.non_field_errors %}
  {% for error in form.non_field_errors %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{error}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</div>
  {% endfor %}
{% endif %}


                         <form method="post" action="{% url 'wayrem_admin:productviewfour' %}" enctype="multipart/form-data" validate>
                                {% csrf_token %}
                                {{ form.non_field_errors }}
                                <div class="row">
                            
                                    <!-- Form -->
                                    <div class="col-lg-6">
                                        <div class="form-group mb-4">
                                            <label for="name">Primary Image<span class="text-danger">*</span> <span class="text-danger"> <em> {{form.image1.errors | striptags}}
                                            </em> </span></label>
                                            <div class="input-group">
                                                 {{form.image1}}    
                                                 <span class="input-group submit" id="error" style="color: #d12525;"></span>                                                         
                                            </div>
                                            <span class="text-error"></span>
                                        </div>
                                    </div>
                                    <!-- End of Form -->

                                     <!-- Form -->
                                    <div class="col-lg-6">
                                        <div class="form-group mb-4">
                                            <label for="name">Image <span class="text-danger">*</span> <span class="text-danger"> <em> {{form.image2.errors | striptags}}
                                            </em> </span></label>
                                            <div class="input-group">
                                                {{form.image2}}      
                                                <span class="input-group submit" id="error1" style="color: #d12525;"></span>      
                                            </div>                                    
                                            <span class="text-error"></span>
                                        </div>
                                    </div>
                                    <!-- End of Form -->
                                    <!-- Form -->
                                    <div class="col-lg-6">
                                        <div class="form-group mb-4">
                                            <label for="name">Image <span class="text-danger">*</span> <span class="text-danger"> <em> {{form.image3.errors | striptags}}
                                            </em> </span></label>
                                            <div class="input-group">                                       
                                                {{form.image3}}  
                                                <!-- <div class="input-group" id="image3_error_message" style="color: #d12525;"></div>  -->
                                                <span class="input-group submit" id="error2" style="color: #d12525;"></span>   
                                            </div>                                            
                                            <span class="text-error"></span>
                                        </div>
                                    </div>
                                    <!-- End of Form -->
                                    <!-- Form -->
                                    <div class="col-lg-6">
                                        <div class="form-group mb-4">
                                            <label for="name">Image</label>
                                            <div class="input-group">
                                                {{form.image4}}         
                                            </div>                                        
                                            <span class="text-error"></span>
                                        </div>
                                    </div>
                                    <!-- End of Form -->
                                    <!-- Form -->
                                    <div class="col-lg-6">
                                        <div class="form-group mb-4">
                                            <label for="name">Image</label>
                                            <div class="input-group">
                                                {{form.image5}}         
                                            </div>                        
                                            <span class="text-error"></span>
                                        </div>
                                    </div>
                           {% comment %} <div class="row">
                                    <div class="col-md-6 d-grid">
                                                <a href="{% url 'wayrem_admin:productviewthree' %}" class="btn btn-secondary">Previous</a>
                                        </div>  
                                <div class="col-md-6 d-grid">
                                        <button type="submit" class="btn text-white"
                                            style="background-color:#29313d;">Save</button>
                                    </div> 
                                </div> {% endcomment %}

                                <div class="mt-1">
                                <a  href="{% url 'wayrem_admin:productviewthree' %}" class="btn  btn-danger btn-block col-xl-3 col-md-5 col-12 mt-sm-3 mt-md-0 mt-3">Previous</a>
                                <button type="submit" class="btn btn-dark border-0 col-xl-3 col-md-5 col-12" >Save</button>
                                </div>

                            </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>

    $("#id_image1").on("change", function () {
    
    var extension = $(this).val().split('.').pop().toLowerCase();
    var validFileExtensions = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
    if(this.files[0].size > 2000000) {
    // alert("Sorry!! Max allowed file size is 2 MB");
    $("#error").text("Sorry!! Max allowed file size is 2 MB").show();
    $(this).val('');
    }
    else if ($.inArray(extension, validFileExtensions) == -1) {
        $("#error").text("Sorry!! Upload only jpg, jpeg, png, gif, bmp file").show();
                $(this).replaceWith($(this).val('').clone(true));
                // $('#submit').prop('disabled', true);
        }
    else {
        $("#error").text('').hide();
    // $('#submit').prop('disabled', false);
    
    }
    });
    
    $("#id_image2").on("change", function () {
    
    var extension = $(this).val().split('.').pop().toLowerCase();
    var validFileExtensions = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
    if(this.files[0].size > 2000000) {
    // alert("Sorry!! Max allowed file size is 2 MB");
    $("#error1").text("Sorry!! Max allowed file size is 2 MB").show();
    $(this).val('');
    }
    else if ($.inArray(extension, validFileExtensions) == -1) {
        $("#error1").text("Sorry!! Upload only jpg, jpeg, png, gif, bmp file").show();
                $(this).replaceWith($(this).val('').clone(true));
                // $('#submit').prop('disabled', true);
        }
    else {
        $("#error1").text('').hide();
    // $('#submit').prop('disabled', false);
    
    }
    });

    $("#id_image3").on("change", function () {
    
    var extension = $(this).val().split('.').pop().toLowerCase();
    var validFileExtensions = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
    if(this.files[0].size > 2000000) {
    // alert("Sorry!! Max allowed file size is 2 MB");
    $("#error2").text("Sorry!! Max allowed file size is 2 MB").show();
    $(this).val('');
    }
    else if ($.inArray(extension, validFileExtensions) == -1) {
        $("#error2").text("Sorry!! Upload only jpg, jpeg, png, gif, bmp file").show();
                $(this).replaceWith($(this).val('').clone(true));
                // $('#submit').prop('disabled', true);
        }
    else {
        $("#error2").text('').hide();
    // $('#submit').prop('disabled', false);
    
    }
    });
    
    
    </script>

{% endblock javascripts %}
