
{% extends "layouts/base.html" %}

{% block title %} Update Category {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="row">
    <div class="col-xl-3"></div>
    <div class="col-12 col-xl-6">
        <div class="card card-body shadow-sm mb-4  mt-5">
            <h2 class="h5 mb-4">Update Your Categories</h2>
            <form action="{% url 'wayrem_admin:updatecategory' id %}" method="POST" enctype="multipart/form-data" novalidate>
              {% csrf_token %}
                <div class="row">
                   
                    <div class="col-md-6 mb-3">
                        <div>
                            <label for="name">Category Name  <span class="text-danger">*</span>  <span class="text-danger"><em>{{form.name.errors | striptags}}</em></span></label>
                            {{form.name}}
                            <div class="input-group" id="name_error_message" style="color: #d12525;"></div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div>
                            <label for="category_image">Category </label>
                            <!-- <input class="form-control" id="last_name" type="text" placeholder="Also your last name" required> -->
                            {{form.parent_category}}
                            {{form.parent_category.errors}}
                            <span class="input-group submit" id="error" style="color: #d12525;"></span>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <!-- Form -->
                    <div class="col-lg-6">
                        <div class="form-group mb-4">
                            <label for="name">Margin <span class="text-danger">*</span><span class="text-danger"><em> {{form.margin.error | striptags}} {{form.unit.error | striptags}} 
                                </em>
                            </span></label>
                            <div class="input-group first">   
                                {{form.margin}} 
                                {{form.unit}} 
                               <div class="input-group" id="weight_error_message" style="color: #d12525;"></div>
                            </div>
                            
                            <span class="text-error"></span>
                        </div>
                    </div>
                    <!-- End of Form -->
                    <div class="col-md-5 mb-3">
                        <label for="description">Image <span class="text-danger">*</span>  <span class="text-danger"><em>{{form.image.errors | striptags}}</em></span></label>
                          {{form.image}}
                          <div class="input-group" id="description_error_message" style="color: #d12525;"></div>
                    </div>    
               </div>
               <div class="col-md-12 mb-3">
                        <label for="description">Tag <span class="text-danger">*</span>  <span class="text-danger"><em>{{form.tag.errors | striptags}}</em></span></label>
                          {{form.tag}}
                          <div class="input-group" id="description_error_message" style="color: #d12525;"></div>
                    </div>    
               
                <div class="mt-3">
                    {% comment %} <button type="submit" class="btn  btn-dark">Save</button> {% endcomment %}
                    <div class="mt-3">
                    <a href="{% url 'wayrem_admin:categorieslist' %}"
                                    class="btn  btn-danger btn-block col-xl-3 col-md-5 col-12 mt-sm-3 mt-md-0 mt-3">Cancel</a>
                    <button type="submit" class="btn  btn-dark btn-block col-xl-3 col-md-5 col-12">Save</button>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
