{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Create Product {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="topbar_pages padding-0">
    <div class="container ">
        <h4 class="text-title">Add Product | Step - 1</h2>
        <div class="breadcrumb-section">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb padding-left-0">
                    <li class="breadcrumb-item"><a href="{% url 'wayrem_admin:dashboard' %}"><span class="sidebar-icon"><span class="fas fa-chart-pie"></span></span> Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="#"><span class="sidebar-icon"><i class="fas fa-gift"></i></span> <span class="sidebar-text">Product Management &nbsp; </span></a></li>
                    <li class="breadcrumb-item"><a href="{% url 'wayrem_admin:product' %}"><span class="sidebar-icon"><i class="fas fa-gift"></i></span> <span class="sidebar-text">Create Product   &nbsp; </span></a></li>
                    <li class="breadcrumb-item active" aria-current="page">Step 1</li>
                </ol>
            </nav>
        </div>
    </div> 
</div>
<main class="align-items-center admin_signup_lg">
    <section class="d-flex   align-items-center my-5 mt-lg-6 mb-lg-5">
        <div class="container ">
            <div class="row justify-content-center form-bg-image">
                <div class="col-12 d-flaex align-items-center justify-content-center">
                    <div
                        class="mb-4 mb-lg-0 bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-800">
                        <div class="text-center text-md-center mb-4 mt-md-0">
                            <h1 class="mb-0 h3">
                                <!-- <img src="{% static '/assets/img/logo/Wayrem_logo..svg'%}" alt=""> -->
                                Update Your Product
                            </h1>
                            <br />
                            <p>
                                {% if messages %}
                                {% for message in messages %}
                            <div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible fade show"
                                {% endif %} role="alert">
                                <strong> {{ message }}</strong>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                            </div>
                            {% endfor %}
                            {% endif %}


                            </p>
                        </div>

 {% if form.non_field_errors %}
  {% for error in form.non_field_errors %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{error}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</div>
  {% endfor %}
{% endif %}

<div class="container-fluid">
                        <form method="post" action="{% url 'wayrem_admin:updateproduct' id %}" enctype="multipart/form-data" novalidate>
                            {% csrf_token %}

                            {{ form.non_field_errors }}
                                <!-- Form -->
                                <div class="col-lg-12">
                                    <div class="form-group mb-4">
                                        <label for="name">Product Name</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="name"><span
                                                    class="fab fa-product-hunt"></span></span>
                                            {{form.name}}
                                            <div class="input-group">
                                                <span class="text-danger"> {{form.name.errors | striptags}} </span>
                                            </div>
                                            
                                        </div>
                                    <span class="text-error"></span>
                                </div>
                                </div>
                                <!-- End of Form -->

                                <!-- Form -->
                                <div class="col-lg-12">
                                    <div class="form-group mb-4">
                                        <label for="image">Image</label>
                                        <div class="input-group">
                                            {% comment %} <span class="input-group-text" id="image"><span
                                                    class="fas fa-lock"></span></span> {% endcomment %}
                                            {{form.image}}
                                            <div class="input-group">
                                                <span class="text-danger"> {{form.image.errors | striptags}} </span>
                                            </div>
                                            
                                        </div>
                                    <span class="text-error"></span>
                                </div>
                                </div>
                                <!-- End of Form -->

                                 <!-- Form -->
                                <div class="col-lg-12">
                                    <div class="form-group mb-4">
                                        <label for="category">Category</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="category"><span
                                                    class="fas fa-chevron-circle-down"></span></span>
                                            {{form.category}}
                                            <div class="input-group">
                                                <span class="text-danger"> {{form.category.errors | striptags}} </span>
                                            </div>
                                            
                                        </div>
                                    <span class="text-error"></span>
                                </div>
                                </div>
                                <!-- End of Form -->

                                <!-- Form -->
                                <div class="col-lg-12">
                                    <div class="form-group mb-4">
                                        <label for="price">Price</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="price"><span
                                                    class="fas fa-lock"></span></span>
                                            {{form.price}}
                                            <div class="input-group">
                                                <span class="text-danger"> {{form.price.errors | striptags}} </span>
                                            </div>
                                            
                                        </div>
                                    <span class="text-error"></span>
                                </div>
                                </div>
                                <!-- End of Form -->

                                <!-- Form -->
                                <div class="col-lg-12">
                                    <div class="form-group mb-4">
                                        <label for="quantity">Quantity</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="quantity"><span
                                                    class="fas fa-lock"></span></span>
                                            {{form.quantity}}
                                            <div class="input-group">
                                                <span class="text-danger"> {{form.quantity.errors | striptags}} </span>
                                            </div>
                                            
                                        </div>
                                    <span class="text-error"></span>
                                </div>
                                </div>
                                <!-- End of Form -->

                                 <!-- Form -->
                                <div class="col-lg-12">
                                    <div class="form-group mb-4">
                                        <label for="weight">Weight</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="weight"><span
                                                    class="fas fa-lock"></span></span>
                                            {{form.weight}}
                                            <div class="input-group">
                                                <span class="text-danger"> {{form.weight.errors | striptags}} </span>
                                            </div>
                                            
                                        </div>
                                    <span class="text-error"></span>
                                </div>
                                </div>
                                <!-- End of Form -->

                                <!-- Form -->
                                <div class="col-lg-12">
                                    <div class="form-group mb-4">
                                        <label for="description">Description</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="description"><span
                                                    class="fas fa-lock"></span></span>
                                            {{form.description}}
                                            <div class="input-group">
                                                <span class="text-danger"> {{form.description.errors | striptags}} </span>
                                            </div>
                                            
                                        </div>
                                    <span class="text-error"></span>
                                </div>
                                </div>
                                <!-- End of Form -->


                                 <!-- Form -->
                                <div class="col-lg-12">
                                    <div class="form-group mb-4">
                                        <label for="provider">Provider</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="provider"><span
                                                    class="fas fa-lock"></span></span>
                                            {{form.provider}}
                                            <div class="input-group">
                                                <span class="text-danger"> {{form.provider.errors | striptags}} </span>
                                            </div>
                                            
                                        </div>
                                    <span class="text-error"></span>
                                </div>
                                </div>
                                <!-- End of Form -->
                        
                            
                            <div class="d-grid">
                                <button type="submit" class="btn " style="background-color:#edfc21;">Save</button>
                            </div>

                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}