{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="fas fa-comment-dots" {% endif %}> {{ message }}</li>
        {% endfor %}
</ul>
{% endif %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Contact</th>
                <th scope="col">Role</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in userlist %}
            <tr>
                <th scope="row">{{user.id}}</th>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.contact}}</td>
                <td>{{user.role}}</td>
                <td> {% if user.is_active %} Active  {% else %} Blocked
                {% endif %} </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}