{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Product {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container mt-5">   
    
    <div class="row rounded p-4 card_shadow bg-white">
        <div class="mb-4 mt-md-0">
            <h1 class="mb-0 h3">
                 View Products
            </h1>
            <hr> 
        </div>
        <div class="col-xl-4 col-lg-4   other_info view_border">
            <div class="">
                <div class="row p-2">
                    <img src="{{proddata.image1.url}}" alt="">
                </div>
            </div>
        </div>
        <!-- <div class="col-xl-1 p-0"></div> -->
        <div class="col-xl-8 col-lg-8 d-flex other_info">
            <div class="row">
                <div class="col-xl-3 text_value">
                    <label for="">SKU:
                    </label>
                    <span class="">{{proddata.SKU}}</span>
                </div>
                <div class="col-xl-3 text_value">
                    <label for="">Product Code
                    </label>
                    <span class="">{{proddata.product_code}}</span>
                </div>
                <div class="col-xl-3 text_value">
                    <label for="">Product Name</label>
                    <span class="">{{proddata.product_name}}</span>
                </div> 
                <div class="col-xl-3 text_value">
                    <label for="">Feature Product</label>
                    <span class="">{{proddata.feature_product}}</span>
                </div>
                <div class="col-xl-3 text_value">
                    <label for="">Product Deliverable</label>
                    <span class="">{{proddata.product_deliverable}}</span>
                </div>
                <div class="col-xl-3 text_value">
                    <label for="">Date Of Manufacturing</label>
                    <span class="">{{proddata.date_of_mfg}}</span>
                </div>
                <div class="col-xl-3 text_value">
                    <label for="">Date of Expire </label>
                    <span class="">{{proddata.date_of_exp}}</span>
                </div>
                <div class="col-xl-3 text_value">
                    <label for="">Manufacturer Name</label>
                    <span class="">{{proddata.mfr_name}}</span>
                </div>
                <div class="col-xl-3 text_value">
                    <label for="">Supplier Name </label>
                    <span class="">{% for i in proddata.supplier_name.all%}{{i}}{% endfor %}</span>
                </div>
                <div class="col-xl-3 text_value">
                    <label for="">Product Weight</label>
                    <span class="">{{proddata.product_weight}}{{proddata.unit}}</span>
                </div>
                <div class="col-xl-3 text_value">
                    <label for="">Price </label>
                    <span class="">{{proddata.price}}</span>
                </div>
                <div class="col-xl-3 text_value">
                    <label for="">Discount</label>
                    <span class="">{{proddata.discount}}{{proddata.dis_abs_percent}}</span>
                </div>
                <div class="col-xl-3 text_value">
                    <label for="">Wayrem Margin</label>
                    <span class="">{{proddata.wayrem_margin}}{{proddata.wayrem_abs_percent}}</span>
                </div>
                <div class="col-xl-3 text_value">
                    <label for="">Package Count</label>
                    <span class="">{{proddata.package_count}}</span>
                </div>
                <div class="col-xl-3 text_value">
                    <label for="">Product Meta Key </label>
                    <span class="">{{proddata.product_meta_key}}</span>
                </div>
                <div class="col-xl-3 text_value">
                    <label for="">Price </label>
                    <span class="">{{proddata.price}}</span>
                </div>
                <div class="col-xl-3 text_value">
                    <label for="">Product QTY</label>
                    <span class="">{{proddata.product_qty}}</span>
                </div>               

            </div>
        </div>
        <div class="row ps-5 pe-5">
            <div class="col-xl-12 text_value">
                <label for="">Description </label>
                <span class="">{{proddata.description}}</span>
            </div>
            <div class="col-xl-12 text_value">
                <label for="">Ingredients</label>
                <span class="">{{proddata.ingredients1}}|{{proddata.ingredients2}}|{{proddata.ingredients3}}|{{proddata.ingredients4}}</span>
            </div>                    
            </div>
            <div class="text-right">
                                <a href="{% url 'wayrem_admin:productlist' %}" class="btn btn-dark my-3" >Back</a>
            </div>
        </div>
    </div>
</div>

<style>
    .text_value span{
        color: rgb(126, 126, 126);
    }
</style>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}