{% extends "layouts/base.html" %}
{% load static %}
{% load util_tags  %}
{% load template_tags %}
{% block title %} Credit Transactions {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
    .pending_type {display: flex;justify-content: space-between;align-items: center;padding: 0.7rem 1rem;width: fit-content;background: #ffc10712;border-radius: 10px;color: #d8a301;font-size: .9rem;width: 100%;}
    .paid_type {display: flex;justify-content: space-between;align-items: center;padding: 0.7rem 1rem;width: fit-content;background: #05a67717;border-radius: 10px;color: #05A677;font-size: .9rem;width: 100%;}
    .declined_type {width: 100%!important;padding: 0.7rem 1rem;background: #e11d470e;border-radius: 10px;color: #e11d48!important;font-size: .9rem;display: flex;justify-content: space-between;align-items: center;}
    .payment_status {background: #4caf50;color: white;padding: 0.2rem 0.5rem;width: fit-content;border-radius: 5px;font-size: 0.8rem;}
</style>
{% endblock stylesheets %}
{% block head %}
<script src="{% static 'assets/js/datatable_ajax.js' %}"></script>
<link rel="stylesheet" href="{% static 'assets/css/datatable.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<script src="{% static 'assets/js/datatable_1.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="{% static 'assets/js/datatable.js' %}"></script>
{% comment %} 
    <script src=  "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">  </script>  
    <script src= "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">  </script>  
    <link href= "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css" />   {% endcomment %}
{% endblock head %}
{% load util_tags  %}
{% block content %}

<div class="filter_width p-4 dropdown_content" id="myProfile">
   
</div>

<div class="dashboard_content_inner">
    <div class="topbar_pages">
        <h4 class="text-title">Credit Transaction - #{{payment_ref.reference_no}}</h2>
        <div class="breadcrumb-section">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb padding-left-0">
                    <li class="breadcrumb-item"><a href="{% url 'wayrem_admin:dashboard' %}"><span class="sidebar-icon"><span class="fas fa-chart-pie"></span></span> Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'wayrem_admin:paid_credits' %}"><span class="sidebar-icon"><i class="fa fa-credit-card"></i></span> <span class="sidebar-text">Paid Credits </span></a></li>
                    <li class="breadcrumb-item active" aria-current="page">Credit Transactions</li>
                </ol>
            </nav>
        </div>
    </div> 
    {% if messages %}
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible fade show" {% endif %} role="alert">
        <strong> {{ message }}!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    </div>
    <div class="row">
    <div class="col-12 col-xl-8">
        <div class="card card-body border-light shadow-sm table-wrapper table-responsive pt-0">
            <table class="table table-hover text-center" id="filtertable">
                <thead class="">
                    <tr>
                        <th scope="col">Order No.</th>
                        <th scope="col">Available</th>
                        <th scope="col">Paid Amount</th>
                        <th scope="col">Credit Date</th>
                        <th scope="col">Due Date</th>
                        <th scope="col">Paid Date</th>
                    </tr>
                </thead>
                <tbody class="bg-white">
                    {% if list %}
                    {% for item in list %}
                    <tr>
                        <td><a href="{% url 'wayrem_admin:orderupdate' item.order.id %}"> #{{item.order.ref_number}}</a></td>
                        <td>{{item.available|floatformat:2}}</td>
                        <td>
                            {% if item.paid_amount %}
                            <span class="font-weight-bold text-success">+ {{item.paid_amount|floatformat:2}}</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if item.credit_date %}
                            {{item.credit_date|date:"d M Y"}}
                            {% endif %}
                        </td>
                        <td>
                            {% if item.due_date %}
                            {{item.due_date|date:"d M Y"}}
                            {% endif %}
                        </td>
                        <td>
                            {% if item.paid_date %}
                            {{item.paid_date|date:"d M Y"}}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                            <td colspan="6">No transactions found.</td>
                    {% endif %}
                </tbody>
            </table>
            
            
            <div class="card-footer px-3 border-0 d-flex align-items-center justify-content-between">
                <div class="font-weight-bold small">Showing <b class="searchfoundstart">{{ page_obj.start_index }}</b> to <b class="searchfound">{{ page_obj.end_index }}</b> out of <b>{{ page_obj.paginator.count }}</b> entries</div>
                <nav  aria-label="Page navigation example">
                        <ul class="pagination justify-content-end">
                            {% if page_obj.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link"><span>Previous</span></a></li>
                            {% endif %}
            
                            {% if page_obj.number|add:'-4' > 1 %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'-5' }}">&hellip;</a></li>
                            {% endif %}
            
                            {% for i in page_obj.paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="page-item active"><a class="page-link"><span>{{ i }} <span class="sr-only">(current)</span></span></a></li>
                                {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
            
                            {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'5' }}">&hellip;</a></li>
                            {% endif %}
            
                            {% if page_obj.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link"><span>Next</i></span></a></li>
                            {% endif %}
            
                            </ul>
                </nav>
            
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-4">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card border-light text-center p-0">
                    <div class="text-center text-md-center mb-4 mt-md-0">
                        {% if customer.profile_pic %}
                        <div class="user-avatar large-avatar mx-auto mb-3 border-dark p-2"><img class="rounded-circle" alt="Image placeholder" src="{{DOCUMENT_URL}}{% image_tag customer.profile_pic %}"></div>
                        {% endif %}
                        <h1 class="mb-3 h3">{{customer.first_name}} {{customer.last_name}}</h1>
                        <p class="text-gray">{{customer.email}}</p>
                    </div>
                    </div>
            </div>
            {% if payment_ref.payment_type.id == 12 %}
            <div class="col-12 mb-4">
                <div class="card card-body bg-white border-light shadow-sm mb-4 orderpayment">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h2 class="h5 m-0">Payment</h2>
                        </div>
                        <div class="d-flex justify-content-between align-items-center flex-column">
                            <div class="pending_type">
                                <span>{{payment_ref.payment_type.name}}</span>
                                <span class="payment_status {% if payment_ref.payment_status.id == 27 %} bg-warning {% elif payment_ref.payment_status.id == 26 %}bg-danger{% else %}bg-success {% endif %}  ms-2">{{payment_ref.payment_status.name}}</span>
                            </div>
                            
                            {% if payment_ref.payment_type.id == 12 %}
                            <p style="padding-top:10px;margin-bottom:-12px">
                                <a href="{{DOCUMENT_URL}}customer_banks/{{payment_ref.bank_payment_file}}" target="_blank" class="small">Download Bank transfer Document</a>
                            </p>
                            {% endif %}
                            {% if payment_ref.payment_status.id == 27 %}
                            <div class="d-flex justify-content-between w-100 mt-4">
                                <button class="btn btn-success" data-toggle="modal" data-target="#modal-default">Confirm</button>
                                
                                <button class="btn btn-danger" type="button" data-id="26" data-bs-toggle="modal" data-bs-target="#modal-default-reject">Reject</button> 
                                
                            </div>
                            {% endif %}
                        </div>
                </div>
            </div>
                
            {% else %}
            <div class="col-12 mb-4">
                <div class="card card-body bg-white border-light shadow-sm mb-4 p-4">
                    <div class="d-flex justify-content-between align-items-center"><span class={% if payment_ref.payment_status.id == 6 %}"declined_type"{% else %}"paid_type"{% endif %}>
                        <span> Order has been {{payment_ref.payment_status.name}}!</span><span class="payment_status {% if payment_ref.payment_status.id == 6 %}bg-danger{% else %}bg-success {% endif %} ms-2">{{payment_ref.payment_status.name}}</span></span>
                    </div>
                </div>
            </div>
                
            {% endif %}
            <div class="col-12 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between border-bottom border-light pb-3">
                            <div>
                                <h4 class="text-center mb-0"><span class="fas fa-file-invoice-dollar"></span> Total Transactions</h4>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between border-bottom border-light py-3">
                            <div>
                                <h6 class="mb-0">Total Amount</h6>
                            </div>
                            <div>
                                <span class="font-weight-bold text-success">SAR {{total_amount}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Accept Modal-->
<div class="modal fade" id="modal-default" tabindex="-1" aria-labelledby="modal-default" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="h6 modal-title">Terms of Service</h2>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to confirm?</p>
                <form action="" id="acceptform" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="payment_ref_id" value="{{payment_ref.id}}">
                    <input type="hidden" name="payment_status" value="7">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="acceptbtn" class="btn btn-secondary">Accept</button>
                <button type="button" class="btn btn-link text-gray ml-auto" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Reject Modal-->
<div class="modal fade" id="modal-default-reject" tabindex="-1" aria-labelledby="modal-default" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="h6 modal-title">Terms of Service</h2>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to reject?</p>
                <form action="" id="rejectform" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="payment_ref_id" value="{{payment_ref.id}}">
                    <input type="hidden" name="payment_status" value="26">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="rejectbtn" class="btn btn-secondary">Reject</button>
                <button type="button" class="btn btn-link text-gray ml-auto" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $("#acceptbtn").on("click",function(e){
        e.preventDefault();
        url = $("#acceptform").attr("action")
            type_form=$("#acceptform").attr("method")
            data_ser=$("#acceptform").serialize()
            console.log(data_ser)
            $.ajax({
                    type: type_form,
                    url: url,
                    data: data_ser,
                    cache: false,
                    success: function (data) {
                            location.reload();
                    }
                })
    });
    $("#rejectbtn").on("click",function(e){
        e.preventDefault();
        url = $("#rejectform").attr("action")
            type_form=$("#rejectform").attr("method")
            data_ser=$("#rejectform").serialize()
            console.log(data_ser)
            $.ajax({
                    type: type_form,
                    url: url,
                    data: data_ser,
                    cache: false,
                    success: function (data) {
                            location.reload();
                    }
                })
    });


</script>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}


