{% extends "layouts/base.html" %}
{% load static %}
{% load util_tags  %}
{% load template_tags %}
{% block title %} Credit Transactions {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block head %}
<script src="{% static 'assets/js/datatable_ajax.js' %}"></script>
<link rel="stylesheet" href="{% static 'assets/css/datatable.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<script src="{% static 'assets/js/datatable_1.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="{% static 'assets/js/datatable.js' %}"></script>
{% comment %} 
    <script src=  "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">  </script>  
    <script src= "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">  </script>  
    <link href= "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css" />   {% endcomment %}
{% endblock head %}
{% load util_tags  %}
{% block content %}

<div class="filter_width p-4 dropdown_content" id="myProfile">
   
</div>

<div class="dashboard_content_inner">
    <div class="topbar_pages">
        <h4 class="text-title">Credit Transactions</h2>
        <div class="breadcrumb-section">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb padding-left-0">
                    <li class="breadcrumb-item"><a href="{% url 'wayrem_admin:dashboard' %}"><span class="sidebar-icon"><span class="fas fa-chart-pie"></span></span> Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'wayrem_admin:customerslist' %}"><span class="sidebar-icon"><i class="fas fa-users"></i></span> <span class="sidebar-text">Customers </span></a></li>
                    <li class="breadcrumb-item active" aria-current="page">Credit Transactions</li>
                </ol>
            </nav>
        </div>
    </div> 
    {% if messages %}
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible fade show" {% endif %} role="alert">
        <strong> {{ message }}!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    </div>
    <div class="row">
    <div class="col-12 col-xl-12">
        <div class="card card-body border-light shadow-sm table-wrapper table-responsive pt-0">
            <table class="table table-hover text-center" id="filtertable">
                <thead class="">
                    <tr>
                        <th scope="col">Reference No.</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Paid Date</th>
                        <th scope="col">Payment Type</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody class="bg-white">
                    {% for item in list %}
                    <tr>
                        <td><a href="{% url 'wayrem_admin:paid_credit_transactions' item.reference_no %}"> #{{item.reference_no}}</a></td>
                        <td>{{item.customer.first_name}} {{item.customer.last_name}}</td>
                        <td>
                            {% if item.created_at %}
                            {{item.created_at|date:"d M Y"}}
                            {% endif %}
                        </td>
                        <td>
                            {{item.payment_type.name}}
                        </td>
                        <td>
                            <span class="badge bg-primary {% if item.payment_status.id == 27  %} text-dark{% endif %}" style="padding: 3px 8px;line-height: 11px;background-color:{{item.payment_status.status_color}} !important">{{item.payment_status.name}}</span>
                        </td>
                        <td>
                            view
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            
            <div class="card-footer px-3 border-0 d-flex align-items-center justify-content-between">
                <div class="font-weight-bold small">Showing <b class="searchfoundstart">{{ page_obj.start_index }}</b> to <b class="searchfound">{{ page_obj.end_index }}</b> out of <b>{{ page_obj.paginator.count }}</b> entries</div>
                <nav  aria-label="Page navigation example">
                        <ul class="pagination justify-content-end">
                            {% if page_obj.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link"><span>Previous</span></a></li>
                            {% endif %}
            
                            {% if page_obj.number|add:'-4' > 1 %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'-5' }}">&hellip;</a></li>
                            {% endif %}
            
                            {% for i in page_obj.paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="page-item active"><a class="page-link"><span>{{ i }} <span class="sr-only">(current)</span></span></a></li>
                                {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
            
                            {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'5' }}">&hellip;</a></li>
                            {% endif %}
            
                            {% if page_obj.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link"><span>Next</i></span></a></li>
                            {% endif %}
            
                            </ul>
                </nav>
            
            </div>
        </div>
    </div>
    
</div>

<script>
function supplierFunc(SKU){
  
    const url="{% url 'wayrem_admin:viewprodsupplier' %}";
    $.ajax({
        
        url:url,
        data: {
                    'product': SKU       // add the country id to the GET parameters
                },
        success:function(data){
        $("#test"+SKU).html(data);
        
        $("#supplier"+SKU).modal('show');
        },
    });

    }
    $(document).ready(function(){
    
        $('#supplier').modal('hide');
    
    });
</script>

<script>
function lowestFunc(SKU){
  
    const url="{% url 'wayrem_admin:lowest_price' %}";
    $.ajax({
        
        url:url,
        data: {
                    'product': SKU       // add the country id to the GET parameters
                },
        success:function(data){
        $("#lowest_price"+SKU).html(data);
        
        $("#lowest"+SKU).modal('show');
        },
    });

    }
    $(document).ready(function(){
    
        $('#lowest').modal('hide');
    
    });
</script>

<script>
function lowesttimeFunc(SKU){
  
    const url="{% url 'wayrem_admin:lowest_time' %}";
    $.ajax({
        
        url:url,
        data: {
                    'product': SKU       // add the country id to the GET parameters
                },
        success:function(data){
        $("#lowest_time"+SKU).html(data);
        
        $("#lowesttime"+SKU).modal('show');
        },
    });

    }
    $(document).ready(function(){
    
        $('#lowest').modal('hide');
    
    });
</script>
<script>
    function myProfile() {
        var x = document.getElementById("myProfile");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
      
        }
      }

      function cancelBtn() {
        console.log("button clicked")
        location = location.href.split('?')[0];
        
        
        var x = document.getElementById("myProfile");
        if (x.style.display === "block") {
            x.style.display = "none";
        } 
        
      }
</script>


<script>
    function myProfile() {
        var x = document.getElementById("myProfile");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
      
        }
      }

      function cancelBtn() {
        var x = document.getElementById("myProfile");
        if (x.style.display === "block") {
            x.style.display = "none";
        } 
      }
</script>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}


