{% extends "layouts/base.html" %}
{% load static util_tags %}
{% block title %} Settings {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block head %}
<script src="{% static 'assets/js/datatable_ajax.js' %}"></script>
<link rel="stylesheet" href="{% static 'assets/css/datatable.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<script src="{% static 'assets/js/datatable_1.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="{% static 'assets/js/datatable.js' %}"></script>

<style>
    .timeline {
  position: relative;
  max-width: 1200px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 4px;
  background-color: rgb(201, 201, 201);
  top: 0;
  bottom: 0;
  margin-left: -3px;
}

/* Container around content */
.timeline_container {
  position: relative;
  background-color: inherit;
}

/* The circles on the timeline */
.timeline_container::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  right: -17px;
  background-color: #a2a2a2;
  border: 3px solid #ffffff;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -11px;
}

/* The actual content */
.timeline_content {
  padding: 15px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}
</style>

{% endblock head %}

{% block content %}


<div class="d-flex justify-content-between w-100 flex-wrap mt-5 px-2">
    <div class="mb-3 mb-lg-0">
        <h1 class="h4">#{{order.ref_number}}</h1>
        <p class="mb-0">{{order.order_date|date:"d M Y "}} at {{order.order_date|date:"H:i"}} from Online Store</p>
    </div>
    
</div>

<!--============================================-->
<div class="row px-2">
    <div class="col-12 col-xl-8">
        <div class="card card-body bg-white border-light shadow-sm mb-4">
            <h2 class="h5 mb-4"> <span><img src="/static/assets/img/paid.svg" alt=""></span> Full filled (1)</h2>
               
                {% for order_detail in order_details %}
                
                <div class="row">
                    <div class="col-1">
                        <img class="rounded" src="/media/{{order_detail.product.primary_image}}" width="100%" alt="">
                    </div>
                    <div class="col-4">
                        <h6 class="mb-0">{{order_detail.product_name}}</h6>
                        <h6 class="text-muted">SKU: {{order_detail.sku}}</h6>
                    </div>
                    <div class="col-3 d-flex justify-content-end">
                        <h6>{{order_detail.price}} x {{order_detail.quantity}}</h6>
                    </div>
                    <div class="col-4 d-flex justify-content-end">
                        <h6>{% widthratio order_detail.price 1 order_detail.quantity %}</h6>
                    </div>
                </div>
                {% endfor %}
                

                <div class="mt-3 d-flex justify-content-end d-none">
                    <button type="submit" class="btn btn-success">Add Tracking</button>
                </div>
        </div>

        <!--=================================-->
            {% include "orders/order_detail/order_amount.html" %}
        
        <!--============================-->



        <!--=================timeline================-->
            {% include "orders/order_detail/order_timeline.html" %}
        
        <!--===========end timeline=================-->

    </div>
    <div class="col-12 col-xl-4">
        <div class="row">
            <div class="col-12">
                {% include "orders/order_detail/order_status.html" %} 
            </div>

            <div class="col-12">
                {% include "orders/order_detail/order_customer.html" %}
            </div>

        </div>
    </div>
</div>
<!--============================================-->


<!--============================================-->



<!--============================================-->


<!-- <script>

    $(document).ready(function () {
        oTable = $('#filtertable').DataTable({
            dom: 'rt',
            'columnDefs': [{ 'orderable': false, 'targets': [2, 3] }],
            "oLanguage": {
                "oPaginate": {
                    "sNext": '<i class="fas fa-arrow-circle-right text-primary"></i>',
                    "sPrevious": '<i class="fas fa-arrow-circle-left text-primary"></i>'
                }
            },
            "fnDrawCallback": function (oSettings) {
                if (oSettings._iDisplayLength > oSettings.fnRecordsDisplay()) {
                    $(oSettings.nTableWrapper).find('.dataTables_paginate').hide();
                } else {
                    $(oSettings.nTableWrapper).find('.dataTables_paginate').show();
                }
            }
        });
        $('#table_search').keyup(function () {
            oTable.search($(this).val()).draw();
        })
        $("#table_search").on(
          "change keyup paste input", function() {
           oTable.search($(this).val()).draw();
        })
    });
</script> -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}