<!DOCTYPE html>
<html class="no-js">
{% load static %}

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Invoice Wayrem</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="newinvoice_files/font-awesome.css">
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- <link href="newinvoice_files/css2.css" rel="stylesheet"> -->
</head>

<body style="font-family: 'Roboto', sans-serif; direction: ltr; text-align: left;">

    <!-- Header -->
    <table style="background-color:#F8F8F8;font-family: 'roboto', sans-serif !important; margin: auto;" width="100%" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td>
                    <table style="margin-top:20px 0; margin: auto;padding: 10px 5px;" width="100%">
                        <tbody>
                            <tr>
                                <td style="margin: 0; text-align: left;color:#4F4F4F;padding:20px;font-family: 'Roboto', sans-serif;width: 70%;" align="left">
                                    <span align="left" style=" display: flex; flex-direction: row; font-size: 1rem; font-weight: 600; text-align: left;">WAYREM</span>
                                    <span style=" display: flex; flex-direction: row; text-align: left; font-size:.8rem;">Tax Sales Invoice</span>
                                    <span style=" text-align: left;font-size:.8rem;">VAT NO: 9846322442242442</span>
                                </td>
                                <td style="font-size: 1rem; color:#4F4F4F;padding: 20px;font-family: 'Roboto', sans-serif;font-weight: 400;text-align: right;width: 30%;" align="right">
                                    <img src="{% static '/assets/img/logo/wayrem_logo.png' %}" alt="" align="right" style="text-align: right;"></td>
                            </tr>
                        </tbody>
                    </table>

                    <table style="margin-top:20px 0; margin: auto;padding: 10px 20px;" width="100%">
                        <tbody>
                            <tr>
                                <td style="font-size: 2.5rem;font-weight: 500;">Invoice</td>
                            </tr>
                            <tr>

                                <td style="color:#4F4F4F;padding: 20px 0;font-family: 'Roboto', sans-serif;width: 50%;line-height:1;" valign="top">

                                    <table style="width: 100%;">
                                        <tbody>
                                            <tr>
                                                <td style="width: 30%;font-size: .8rem; font-weight: 600; text-transform: capitalize; color: #000;" valign="top" align="left">Invoice No.</td>
                                                <td style="width: 70%;font-size: .8rem; color:#4F4F4F;" valign="top" align="left">#11224</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table style="width: 100%;">
                                        <tbody>
                                            <tr>
                                                <td style="width: 30%;font-size: .8rem; font-weight: 600; text-transform: capitalize; color: #000;" valign="top" align="left">Customer</td>
                                                <td style="width: 70%;font-size: .8rem; color:#4F4F4F;" valign="top" align="left">John Doe</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table style="width: 100%;">
                                        <tbody>
                                            <tr>
                                                <td style="width: 30%;font-size: .8rem; font-weight: 600; text-transform: capitalize; color: #000;" valign="top" align="left">Customer VAT</td>
                                                <td style="width: 70%;font-size: .8rem; color:#4F4F4F;" valign="top" align="left">76543234567</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </td>

                                <td style="color:#4F4F4F;padding: 20px 0;font-family: 'Roboto', sans-serif;width: 50%;    line-height: 1;" valign="top">


                                    <table style="width: 100%;">
                                        <tbody>
                                            <tr>
                                                <td style="width: 30%;font-size: .8rem; font-weight: 600; text-transform: capitalize; color: #000;" valign="top" align="left">Date</td>
                                                <td style="width: 70%;font-size: .8rem; color:#4F4F4F;" valign="top" align="left">00-00-0000</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table style="width: 100%;">
                                        <tbody>
                                            <tr>
                                                <td style="width: 30%;font-size: .8rem; font-weight: 600; text-transform: capitalize; color: #000;" valign="top" align="left">Order Ref.</td>
                                                <td style="width: 70%;font-size: .8rem; color:#4F4F4F;" valign="top" align="left">0000000</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table style="width: 100%;">
                                        <tbody>
                                            <tr>
                                                <td style="width: 30%;font-size: .8rem; font-weight: 600; text-transform: capitalize; color: #000;" valign="top" align="left">Payment Type</td>
                                                <td style="width: 70%;font-size: .8rem; color:#4F4F4F;" valign="top" align="left">Online</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>


                            </tr>
                        </tbody>
                    </table>

                    <!-- <hr style="width:100%; border:1px solid #e5e5e5 "> -->
                </td>
            </tr>
        </tbody>
    </table>


    <!-- Table -->
    <table style="background-color:#FFF; font-size: .8rem;font-family: 'roboto', sans-serif !important; margin: auto;padding: 1rem;" width="100%" cellspacing="0" cellpadding="0" valign="top" border="1">
        <tbody>
            <tr>
                <td style="width: 14.25%; padding: 1rem .5rem; text-align: left;" valign="top" align="left">S.no&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                <td style="width: 14.25%; padding: 1rem .5rem; text-align: left;" valign="top" align="left">SKU</td>
                <td style="width: 14.25%; padding: 1rem .5rem; text-align: center;" valign="top" align="left">Description</td>
                <td style="width: 14.25%; padding: 1rem .5rem; text-align: center;" valign="top" align="center">Qty</td>
                <td style="width: 14.25%; padding: 1rem .5rem; text-align: right;" valign="top" align="right">Unit Price&nbsp; </td>
                <td style="width: 14.25%; padding: 1rem .5rem; text-align: right;" valign="top" align="right">Discount&nbsp; </td>
                <td style="width: 14.25%; padding: 1rem .5rem; text-align: right;" valign="top" align="right">Total</td>
                <!-- <td style="width: 5%;" valign="top">Vat Amt.</td>
                <td style="width: 5%;" valign="top">Net Amt.</td> -->
            </tr>
        </tbody>
    </table>
    <!-- <hr style="border:1px solid #e5e5e5" width="100%"> -->
    <table style="background-color:#FFF; color: #828282; font-size: .8rem; font-family: 'roboto', sans-serif !important; margin: auto;padding:0 1rem; border-bottom: 1px solid #e5e5e5; border-top: 1px solid #e5e5e5;" width="100%" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td style="width: 14.25%; padding: 1rem .4rem; text-align: center;" valign="top" align="left">1</td>
                <td style="width: 14.25%; padding: 1rem .4rem;" valign="top" align="left">110208</td>
                <td style="width: 14.25%; padding: 1rem .4rem;" valign="top" align="left">Lipton Ice Tea Peach</td>
                <td style="width: 14.25%; padding: 1rem .4rem; text-align: center;" valign="top" align="center">5</td>
                <td style="width: 14.25%; padding: 1rem .4rem; text-align: center;" valign="top" align="right">SAR 5.5</td>
                <td style="width: 14.25%; padding: 1rem .4rem; text-align: center;" valign="top" align="right">0.5%</td>
                <td style="width: 14.25%; padding: 1rem .4rem; text-align: right;" valign="top" align="right">SAR 25.25</td>
                <!-- <td style="width: 5%; padding: 1rem 0;">245.25</td>
                <td style="width: 5%; padding: 1rem 0;">1,880.25</td> -->
            </tr>
            <tr>
                <td style="width: 14.25%; padding: 1rem .4rem; text-align: center;" valign="top" align="left">2</td>
                <td style="width: 14.25%; padding: 1rem .4rem;" valign="top" align="left">110208</td>
                <td style="width: 14.25%; padding: 1rem .4rem;" valign="top" align="left">Lipton Ice Tea Peach</td>
                <td style="width: 14.25%; padding: 1rem .4rem; text-align: center;" valign="top" align="center">5</td>
                <td style="width: 14.25%; padding: 1rem .4rem; text-align: center;" valign="top" align="right">SAR 5.5</td>
                <td style="width: 14.25%; padding: 1rem .4rem; text-align: center;" valign="top" align="right">0.5%</td>
                <td style="width: 14.25%; padding: 1rem .4rem; text-align: right;" valign="top" align="right">SAR 25.25</td>
                <!-- <td style="width: 5%; padding: 1rem 0;">245.25</td>
                <td style="width: 5%; padding: 1rem 0;">1,880.25</td> -->
            </tr>
        </tbody>

    </table>
    <table style="margin-top:20px 0; margin: auto;padding: 10px 20px;" width="100%">
        <tbody>

            <tr>

                <td style="width:50%"> </td>

                <td style="color:#4F4F4F;padding: 20px 0;font-family: 'Roboto', sans-serif;width: 30%; line-height: 1.6;" valign="top">

                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td style="width: 65%;font-size: .8rem; font-weight: 600; text-transform: capitalize; color: #000;" align="left">Subtotal</td>
                                <td style="width: 42%;font-size: .8rem; color:#4F4F4F; text-align: right;" align="right" valign="top">SAR 50.50</td>
                            </tr>
                        </tbody>
                    </table>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td style="width: 65%;font-size: .8rem; font-weight: 600; text-transform: capitalize; color: #000;" align="left">Discount</td>
                                <td style="width: 42%;font-size: .8rem; color:#4F4F4F; text-align: right;" align="right" valign="top">SAR 25</td>
                            </tr>
                        </tbody>
                    </table>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td style="width: 65%;font-size: .8rem; font-weight: 600; text-transform: capitalize; color: #000;" align="left">Vat(15%)</td>
                                <td style="width: 42%;font-size: .8rem; color:#4F4F4F; text-align: right;" align="right" valign="top">SAR 44.55</td>
                            </tr>
                        </tbody>
                    </table>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td style="width: 65%;font-size: .8rem; font-weight: 600; text-transform: capitalize; color: #000;" align="left">Grand Total</td>
                                <td style="width: 42%;font-size: .8rem; color:#4F4F4F; text-align: right;" align="right" valign="top">SAR 40.00</td>
                            </tr>
                        </tbody>
                    </table>

                </td>


            </tr>
        </tbody>
    </table>
    <!-- <table style="background-color:#FFF; font-size: 1.2rem; font-family: 'roboto', sans-serif !important; margin: auto;padding: 1rem;font-weight: 600;" width="100%" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td style="width: 50%;"></td>
                <td style="width: 50%;">
                    <table style="margin-left: auto; width: 100%;">
                        <tbody>
                            <tr>
                                <td>
                                    <span style="width: 50%;">Total Exc. Vat</span>
                                    <span style="width: 50%;">297</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="width: 50%;">Discount</span>
                                    <span style="width: 50%;">17</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="width: 50%;">Vat 15%</span>
                                    <span style="width: 50%;">44.55</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="width: 50%;">Total After Vat</span>
                                    <span style="width: 50%;">341.55</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

        </tbody>
    </table> -->


</body>

</html>