 {% load util_tags  %}
 {% block content %}
 <table class="table table-hover text-center" id="filtertable">
        <thead >
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Bank Name</th>
                <th scope="col">Account Name</th>
                <th scope="col">City</th>
                <th scope="col">Branch</th>
                <th scope="col">iban</th>
                <th scope="col">Status</th>
                {% if perms.banks_management.view or perms.banks_management.edit or perms.banks_management.remove %}<th scope="col">Action</th>{% endif %}
               
            </tr>
        </thead>
        <tbody class="bg-white">
        {% if banks %}
        {% for bank in banks %}
           <tr>
                <td>{{bank.title}}</td> 
                <td>{{bank.bank_name}}</td>
                <td>{{bank.account_name}}</td>
                <td>{{bank.city}}</td>
                <td>{{bank.branch}}</td>
                <td>{{bank.iban}}</td>
                <td>
                    {% if bank.status == 1 %}
                        <a href="{% url 'wayrem_admin:statusupdate' bank.id 0 %}"><i class="fas fa-toggle-on text-success"> Active</i> </a>
                    {% else %}
                    <a href="{% url 'wayrem_admin:statusupdate' bank.id 1 %}"><i class="fas fa-toggle-off"> Inactive</i></a>
                    {% endif %}
                </td>
                {% if perms.banks_management.view or perms.banks_management.edit or perms.banks_management.remove %}
                <td>
                    <div class="btn-group">
                        <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="icon icon-sm">
                                <span class="fas fa-ellipsis-h icon-dark"></span>
                            </span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                                    <div class="dropdown-menu">
                                        {% if perms.banks_management.view %}<a class="dropdown-item" href="{% url 'wayrem_admin:viewbank' bank.id %}"><span class="fas fa-eye mr-2"></span>View Details</a>{% endif %}
                                        {% if perms.banks_management.edit %}<a class="dropdown-item" href="{% url 'wayrem_admin:updatebank' bank.id %}"><span class="fas fa-edit mr-2"></span>Edit banks</a>{% endif %}
                                        {% if perms.banks_management.remove %}<a class="dropdown-item text-danger deletebank" data-id="{{bank.id}}"  href="#"> <span class="fas fa-trash-alt mr-2"></span>Remove</a>{% endif %}
                                    </div>
                                </div>
                </td>
                {% endif %}
           </tr>
           <tr></tr>
           {% endfor %}
           {% else %}
                <tr class="odd"><td valign="top" colspan="12" class="dataTables_empty">No data available in table</td></tr>

           {% endif %}
        </tbody>
    </table>
    
{% endblock content %}