{% extends "layouts/base.html" %}
{% load static %}

{% block title %} View Roles{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="topbar_pages padding-0">
    <div class="container ">
        <h4 class="text-title">View Role</h2>
        <div class="breadcrumb-section">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb padding-left-0">
                    <li class="breadcrumb-item"><a href="{% url 'wayrem_admin:dashboard' %}"><span class="sidebar-icon"><span class="fas fa-chart-pie"></span></span> Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'wayrem_admin:roles_list' %}"><span class="sidebar-icon"><span class="fas fa-users-cog"></span></span> Roles</a></li>
                    <li class="breadcrumb-item active" aria-current="page">View Role</li>
                </ol>
            </nav>
        </div>
    </div> 
  </div>
    <main>
        <!-- Section -->
        <section class="bg-soft d-flex align-items-center my-5 mt-lg-6 mb-lg-5">
            <div class="container">
                <div class="row justify-content-center form-bg-image">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-900">
                          {% if 'update' in request.path  %}
                              <h4 class="card-title add-role-title text-center">Edit Role</h4>
                              <hr>
                              
                          {% else %}
                              <h4 class="card-title add-role-title text-center">{{role_name}} Permissions</h4>
                              <hr>
                              
                          {% endif %}
                            <!-- <h1 class="h3 mb-4">Create Roles</h1> -->
                                <form method="post" enctype="multipart/form-data" class="role-permission">
                                  {% csrf_token %}
                                  <div class="row">
                                    {% for field in form %}
                                      {% comment %} <div class="{% if field.name == 'status' or field.name == 'role' %}col-md-6 mt-2{% else %}col-md-12 mt-2{% endif %}"> {% endcomment %}
                                        {% comment %} <div class="{% if field.name == 'permission' %}permission-clss{% else %}form-group{% endif %}"> {% endcomment %}
                                              <div class="col-md-12 mt-2">
                                            {% if field.name == 'permission'%} 
                                                {% comment %} <label class="mt-4">{{ field.label_tag }}</label> {% endcomment %}
                                                  <div class="row">
                                                     {% comment %} {% for permission in field %}
                                                        <div class="col-md-3 {{ permission.label }}" >{{ permission }}</div>
                                                      {% endfor %} {% endcomment %}
                                                      
                                                      <div class="col-md-12 ">
                                                        <div class="user-block ml-3">
                                                          <div class="row user-permission-list">
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <h5>User </h5>
                                                            </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="form-group">
                                                                  {% comment %} <input type="checkbox" disabled   id="userall" >
                                                                  <label class="bmd-label-floating" for="flexCheckuserAdd ">
                                                                    All
                                                                  </label> {% endcomment %}
                                                                </div>
                                                              </div>
                                                            <div class="col-md-2">
                                                              <div class="form-group">
                                                                <input class="User" type="checkbox" disabled name= "permission" value="User Add" id="flexCheckuserAdd" {% if 'User Add' in form.permission.value %}checked disabled{% endif %}>
                                                                <label class="bmd-label-floating" for="flexCheckuserAdd">
                                                                   Add
                                                                </label>
                                                              </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                              <div class="form-group">
                                                                <input class="User" type="checkbox" disabled name= "permission" value="User Edit" id="flexCheckuserEdit" {% if 'User Edit' in form.permission.value %}checked disabled{% endif %}>
                                                                <label class="bmd-label-floating" for="flexCheckuserEdit">
                                                                   Edit
                                                                </label>
                                                              </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                              <div class="form-group">
                                                                <input class="User" type="checkbox" disabled name= "permission" value="User Delete" id="flexCheckuserDelete" {% if 'User Delete' in form.permission.value %}checked disabled{% endif %}>
                                                                <label class="bmd-label-floating" for="flexCheckuserDelete">
                                                                   Delete
                                                                </label>
                                                              </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                              <div class="form-group">
                                                                <input class="User" type="checkbox" disabled name= "permission" value="User View" id="flexCheckuserView" {% if 'User View' in form.permission.value %}checked disabled{% endif %}>
                                                                <label class="bmd-label-floating" for="flexCheckuserView">
                                                                   View
                                                                </label>
                                                              </div>
                                                            </div>
                                                            
                                                          </div>
                                                        </div>
                                                      </div>
                      
                                                      
                                                      <div class="col-md-12">
                                                        
                                                        <div class="branches-block ml-3">
                                                          <div class="row">
                                                            <div class="col-md-2">
                                                                <div class="form-group">
                                                                    <h5>Roles </h5>
                                                                </div>
                                                              </div>
                                                              <div class="col-md-2">
                                                                <div class="form-group">
                                                                  {% comment %} <input type="checkbox" disabled >
                                                                  <label class="bmd-label-floating" for="flexCheckBranchEdit">
                                                                    All
                                                                  </label> {% endcomment %}
                                                                </div>
                                                              </div>
                                                              <div class="col-md-2">
                                                                <div class="form-group">
                                                                  <input type="checkbox" disabled name= "permission" value="Roles Add" id="flexCheckBranchEdit" {% if 'Roles Add' in form.permission.value %}checked disabled{% endif %}>
                                                                  <label class="bmd-label-floating" for="flexCheckBranchEdit">
                                                                     Add
                                                                  </label>
                                                                </div>
                                                              </div>
                                                            <div class="col-md-2">
                                                              <div class="form-group">
                                                                <input type="checkbox" disabled name= "permission" value="Roles Edit" id="flexCheckBranchEdit" {% if 'Roles Edit' in form.permission.value %}checked disabled{% endif %}>
                                                                <label class="bmd-label-floating" for="flexCheckBranchEdit">
                                                                   Edit
                                                                </label>
                                                              </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                              <div class="form-group">
                                                                <input type="checkbox" disabled name= "permission" value="Roles Delete" id="flexCheckBranchDelete" {% if 'Roles Delete' in form.permission.value %}checked disabled{% endif %}>
                                                                <label class="bmd-label-floating" for="flexCheckBranchDelete">
                                                                   Delete
                                                                </label>
                                                              </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                              <div class="form-group">
                                                                <input type="checkbox" disabled name="permission" value="Roles View" id="flexCheckBranchView" {% if 'Roles View' in form.permission.value %}checked disabled{% endif %}>
                                                                <label class="bmd-label-floating" for="flexCheckBranchView">
                                                                   View
                                                                </label>
                                                              </div>
                                                            </div>
                                                            
                                                          </div>
                                                        </div>
                                                      </div>
                      
                                                      <div class="col-md-12">
                                                        <div class="appointment-block ml-3">
                                                          <div class="row">
                                                            <div class="col-md-2">
                                                                <div class="form-group">
                                                                <h5>Categories</h5>
                                                                </div>
                                                              </div><div class="col-md-2">
                                                                <div class="form-group">
                                                                  {% comment %} <input type="checkbox" disabled >
                                                                  <label class="bmd-label-floating" for="flexCheckAppointmentAdd">
                                                                    All
                                                                  </label> {% endcomment %}
                                                                </div>
                                                              </div>
                                                            <div class="col-md-2">
                                                              <div class="form-group">
                                                                <input type="checkbox" disabled name="permission" value="Categories Add" id="flexCheckAppointmentAdd" {% if 'Categories Add' in form.permission.value %}checked disabled{% endif %}>
                                                                <label class="bmd-label-floating" for="flexCheckAppointmentAdd">
                                                                   Add
                                                                </label>
                                                              </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                              <div class="form-group">
                                                                <input type="checkbox" disabled name="permission" value="Categories Edit" id="flexCheckAppointmentEdit" {% if 'Categories Edit' in form.permission.value %}checked disabled{% endif %}>
                                                                <label class="bmd-label-floating" for="flexCheckAppointmentEdit">
                                                                   Edit
                                                                </label>
                                                              </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                              <div class="form-group">
                                                                <input type="checkbox" disabled name="permission" value="Categories Delete" id="flexCheckAppointmentDelete" {% if 'Categories Delete' in form.permission.value %}checked disabled{% endif %}>
                                                                <label class="bmd-label-floating" for="flexCheckAppointmentDelete">
                                                                   Delete
                                                                </label>
                                                              </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                              <div class="form-group">
                                                                <input type="checkbox" disabled name="permission" value="Categories View" id="flexCheckAppointmentView" {% if 'Categories View' in form.permission.value %}checked disabled{% endif %}>
                                                                <label class="bmd-label-floating" for="flexCheckAppointmentView">
                                                                   View
                                                                </label>
                                                              </div>
                                                            </div>
                                                            
                                                          </div>
                                                        </div>
                                                      </div>
                      
                                                      <div class="col-md-12">
                                                        <div class="report-block ml-3">
                                                          <div class="row">
                                                            <div class="col-md-2">
                                                                <h5>Products</h5>
                                                              </div>
                                                              <div class="col-md-2">
                                                                <div class="form-group">
                                                                  {% comment %} <input type="checkbox" disabled>
                                                                  <label class="bmd-label-floating" for="flexCheckReportAdd">
                                                                    All
                                                                  </label> {% endcomment %}
                                                                </div>
                                                              </div>
                                                            <div class="col-md-2">
                                                              <div class="form-group">
                                                                <input type="checkbox" disabled name="permission" value="Products Add" id="flexCheckReportAdd" {% if 'Products Add' in form.permission.value %}checked disabled{% endif %}>
                                                                <label class="bmd-label-floating" for="flexCheckReportAdd">
                                                                  Add
                                                                </label>
                                                              </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                              <div class="form-group">
                                                                <input type="checkbox" disabled name="permission" value="Products Edit" id="flexCheckReportEdit" {% if 'Products Edit' in form.permission.value %}checked disabled{% endif %}>
                                                                <label class="bmd-label-floating" for="flexCheckReportEdit">
                                                                Edit
                                                                </label>
                                                              </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                              <div class="form-group">
                                                                <input type="checkbox" disabled name="permission" value="Products Delete" id="flexCheckReportDelete" {% if 'Products Delete' in form.permission.value %}checked disabled{% endif %}>
                                                                <label class="bmd-label-floating" for="flexCheckReportDelete">
                                                                  Delete
                                                                </label>
                                                              </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                              <div class="form-group">
                                                                <input type="checkbox" disabled name="permission" value="Products View" id="flexCheckReportView" {% if 'Products View' in form.permission.value %}checked disabled{% endif %}>
                                                                <label class="bmd-label-floating" for="flexCheckReportView">
                                                                  View
                                                                </label>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                      
                                                      <div class="col-md-12">
                                                        <div class="patient-block ml-3">
                                                          <div class="row">
                                                            <div class="col-md-2">
                                                                <h5>Supplier</h5>
                                                              </div>
                                                              <div class="col-md-2">
                                                                <div class="form-group">
                                                                  {% comment %} <input type="checkbox" disabled>
                                                                  <label class="bmd-label-floating" for="flexCheckPatientAdd">
                                                                     All
                                                                  </label> {% endcomment %}
                                                                </div>
                                                              </div>
                                                            <div class="col-md-2">
                                                              <div class="form-group">
                                                                <input type="checkbox" disabled name="permission" value="Supplier Add" id="flexCheckPatientAdd" {% if 'Supplier Add' in form.permission.value %}checked disabled{% endif %}>
                                                                <label class="bmd-label-floating" for="flexCheckPatientAdd">
                                                                   Add
                                                                </label>
                                                              </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                              <div class="form-group">
                                                                <input type="checkbox" disabled name="permission" value="Supplier Edit" id="flexCheckPatientEdit" {% if 'Supplier Edit' in form.permission.value %}checked disabled{% endif %}>
                                                                <label class="bmd-label-floating" for="flexCheckPatientEdit">
                                                                   Edit
                                                                </label>
                                                              </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                              <div class="form-group">
                                                                <input type="checkbox" disabled name="permission" value="Supplier Delete" id="flexCheckPatientDelete" {% if 'Supplier Delete' in form.permission.value %}checked disabled{% endif %}>
                                                                <label class="bmd-label-floating" for="flexCheckPatientDelete">
                                                                   Delete
                                                                </label>
                                                              </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                              <div class="form-group">
                                                                <input type="checkbox" disabled name="permission" value="Supplier View" id="flexCheckPatientView" {% if 'Supplier View' in form.permission.value %}checked disabled{% endif %}>
                                                                <label class="bmd-label-floating" for="flexCheckPatientView">
                                                                   View
                                                                </label>
                                                              </div>
                                                            </div>
                                                            
                                                          </div>
                                                        </div>
                                                      </div>
                      
                                                      <div class="col-md-12">
                                                        <div class="role-block ml-3">
                                                          <div class="row">
                                                            <div class="col-md-2">
                                                                <h5>Purchase </h5>
                                                              </div>
                                                              <div class="col-md-2">
                                                                <div class="form-group">
                                                                  {% comment %} <input type="checkbox" disabled>
                                                                  <label class="bmd-label-floating" for="flexCheckRolesAdd">
                                                                    All
                                                                  </label> {% endcomment %}
                                                                </div>
                                                              </div>
                                                            <div class="col-md-2">
                                                              <div class="form-group">
                                                                <input type="checkbox" disabled name="permission" value="Purchase Order Add" id="flexCheckRolesAdd" {% if 'Purchase Order Add' in form.permission.value %}checked disabled{% endif %}>
                                                                <label class="bmd-label-floating" for="flexCheckRolesAdd">
                                                                   Add
                                                                </label>
                                                              </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                              <div class="form-group">
                                                                <input type="checkbox" disabled name="permission" value="Purchase Order Edit" id="flexCheckRolesEdit" {% if 'Purchase Order Edit' in form.permission.value %}checked disabled{% endif %}>
                                                                <label class="bmd-label-floating" for="flexCheckRolesEdit">
                                                                   Edit
                                                                </label>
                                                              </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                              <div class="form-group">
                                                                <input type="checkbox" disabled name="permission" value="Purchase Order Delete" id="flexCheckRolesDelete" {% if 'Purchase Order Delete' in form.permission.value %}checked disabled{% endif %}>
                                                                <label class="bmd-label-floating" for="flexCheckRolesDelete">
                                                                   Delete
                                                                </label>
                                                              </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                              <div class="form-group">
                                                                <input type="checkbox" disabled name="permission" value="Purchase Order View" id="flexCheckRolesView" {% if 'Purchase Order View' in form.permission.value %}checked disabled{% endif %}>
                                                                <label class="bmd-label-floating" for="flexCheckRolesView">
                                                                   View
                                                                </label>
                                                              </div>
                                                            </div>
                                                            
                                                          </div>
                                                        </div>
                                                      </div>

                                                      <div class="col-md-12">
                                                        <div class="role-block ml-3">
                                                          <div class="row">
                                                            <div class="col-md-2">
                                                                <h5>Customer </h5>
                                                              </div>
                                                              <div class="col-md-2">
                                                                <div class="form-group">
                                                                  {% comment %} <input type="checkbox" disabled>
                                                                  <label class="bmd-label-floating" for="flexCheckRolesAdd">
                                                                    All
                                                                  </label> {% endcomment %}
                                                                </div>
                                                              </div>
                                                            <div class="col-md-2">
                                                              <div class="form-group">
                                                                <input type="checkbox" disabled name="permission" value="Customer Profile Add" id="flexCheckRolesAdd" {% if 'Customer Profile Add' in form.permission.value %}checked disabled{% endif %}>
                                                                <label class="bmd-label-floating" for="flexCheckRolesAdd">
                                                                   Add
                                                                </label>
                                                              </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                              <div class="form-group">
                                                                <input type="checkbox" disabled name="permission" value="Customer Profile Edit" id="flexCheckRolesEdit" {% if 'Customer Profile Edit' in form.permission.value %}checked disabled{% endif %}>
                                                                <label class="bmd-label-floating" for="flexCheckRolesEdit">
                                                                   Edit
                                                                </label>
                                                              </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                              <div class="form-group">
                                                                <input type="checkbox" disabled name="permission" value="Customer Profile Delete" id="flexCheckRolesDelete" {% if 'Customer Profile Delete' in form.permission.value %}checked disabled{% endif %}>
                                                                <label class="bmd-label-floating" for="flexCheckRolesDelete">
                                                                   Delete
                                                                </label>
                                                              </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                              <div class="form-group">
                                                                <input type="checkbox" disabled name="permission" value="Customer Profile View" id="flexCheckRolesView" {% if 'Customer Profile View' in form.permission.value %}checked disabled{% endif %}>
                                                                <label class="bmd-label-floating" for="flexCheckRolesView">
                                                                   View
                                                                </label>
                                                              </div>
                                                            </div>
                                                            
                                                          </div>
                                                        </div>
                                                      </div>

                                                      
                                                      <div class="col-md-12">
                                                        <div class="role-block ml-3">
                                                          <div class="row">
                                                            <div class="col-md-2">
                                                                <h5>Static Pages </h5>
                                                              </div>
                                                              <div class="col-md-2">
                                                                <div class="form-group">
                                                                  {% comment %} <input type="checkbox" disabled onclick="toggle(this);">
                                                                  <label class="bmd-label-floating" for="flexCheckRolesAdd">
                                                                    All
                                                                  </label> {% endcomment %}
                                                                </div>
                                                              </div>
                                                            <div class="col-md-2">
                                                              <div class="form-group">
                                                                <input type="checkbox" disabled name="permission" value="Static Pages Add" class="Static Pagesone" id="flexCheckRolesAdd" {% if 'Static Pages Add' in form.permission.value %}checked disabled{% endif %}>
                                                                <label class="bmd-label-floating" for="flexCheckRolesAdd">
                                                                   Add
                                                                </label>
                                                              </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                              <div class="form-group">
                                                                <input type="checkbox" disabled name="permission" value="Static Pages Edit" id="flexCheckRolesEdit" {% if 'Static Pages Edit' in form.permission.value %}checked disabled{% endif %}>
                                                                <label class="bmd-label-floating" for="flexCheckRolesEdit">
                                                                   Edit
                                                                </label>
                                                              </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                              <div class="form-group">
                                                                <input type="checkbox" disabled name="permission" value="Static Pages Delete" id="flexCheckRolesDelete" {% if 'Static Pages Delete' in form.permission.value %}checked disabled{% endif %}>
                                                                <label class="bmd-label-floating" for="flexCheckRolesDelete">
                                                                   Delete
                                                                </label>
                                                              </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                              <div class="form-group">
                                                                <input type="checkbox" disabled name="permission" value="Static Pages View" id="flexCheckRolesView" {% if 'Static Pages View' in form.permission.value %}checked disabled{% endif %}>
                                                                <label class="bmd-label-floating" for="flexCheckRolesView">
                                                                   View
                                                                </label>
                                                              </div>
                                                            </div>
                                                            
                                                          </div>
                                                        </div>
                                                      </div>
                                                      
                      
                                                     
                      
                                                  </div>
                                              {% else %}
                                                  <label>{{ field.label_tag }}</label>
                                                  {{ field }}
                                                  {% if field.errors %}<li class='form-error'>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                                              {% endif %}
                                              <hr>
                                              <div class="text-right">
                                                <a href="{% url 'wayrem_admin:roles_list' %}" class="btn btn-dark my-3" >Back</a>
                                              </div>
                                        </div>
                                      </div>
                                      {% endfor %} 
                                  </div>
                                  <div class="clearfix"></div>
                                  
                                  
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                    </main>
                    


    
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
