
{% extends 'layouts/base-fullscreen.html' %}


{% block title %}  Forgot Password {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
  {% load static %}
  <style>
      .dynamicAlertHide{
        animation:hideMe 0.3s forwards;
      }

      @keyframes hideMe{
        from{
         opacity:1; 
        }
        to{
          opacity:0;
        }
      }
  </style>
{% endblock stylesheets %}

{% block content %}

  <section>
    <div class="page-header section-height-75">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
            <div class="card card-plain mt-8">
              <div class="card-header pb-0 text-left bg-transparent">
                <h3 class="text-info text-gradient">
                  <img src="{% static '/assets/img/logos/Wayrem_logo..svg' %}" alt="">
                </h3>
                <h3 class="text-info text-gradient">
                  Forgot your password?
                </h3>
                
               
                <p class="mb-0">
                    {% if msg %}
                        {{ msg | safe }}
                    {% else %}
                    Don't fret! Just type in your email and we will send you a code to reset your password!
                    {% endif %}                  
                </p>
              </div>
              <div class="card-body">
                <form role="form text-left" method="post" action="{% url 'wayrem_supplier:forgot-pass'%}">
                  
                  {% csrf_token %}
                  <div class="">
                    <label for="email">Your Email</label>
                    <div class="input-group">
                        <input type="email" class="form-control" id="email" name="email" placeholder="john@company.com" required autofocus>
                    </div>  
                </div>
                  {% for message in messages %}
                  {% if message.tags %} {% endif %}
                <div class="alert alert-{{ message.tags }}" role="alert" id="alertElement"> 
                  <strong>Message: </strong>{{ message}}
                </div>
                  {% endfor %}
                 
                  <div class="text-center">
                    <button type="submit" name="login" class="btn bg-gradient-info w-100 mt-4 mb-0">Recover password</button>
                  </div>
                </form>
              </div>
              <div class="card-footer text-center pt-0 px-lg-2 px-1">
                <p class="mb-4 text-sm mx-auto">
                  
                </p>
              </div>
              <div class="card-footer text-center pt-0 px-lg-2 px-1">
                <p class="mb-4 text-sm mx-auto">
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
              <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image:url('{% static '/assets/img/supplier_bg_1.png' %}');"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
 

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }

    var alertElement = document.getElementById('alertElement')
    console.log(alertElement)
      
      window.setTimeout(function () { 
        alertElement.classList.add('dynamicAlertHide');
      }, 2000); 
      
      window.setTimeout(function(){
        alertElement.style.display = 'none';
      },2322);

  </script>

{% endblock javascripts %}
