{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Edit Profile {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="topbar_pages px-4 py-1">
    <h5 class="font-weight-bolder mb-0">Dashboard</h5>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
          <li class="breadcrumb-item text-sm"><a href="{% url 'wayrem_supplier:supplier_profile' %}"><span class="sidebar-icon"><span class="fas fa-chart-pie"></span></span> Dashboard</a></li>
          <li class="breadcrumb-item text-sm"><a href="#"><span class="sidebar-icon"><span class="fa fa-user me-sm-1"></span></span> Update Profile</a></li>
        </ol>
    </nav>
    
</div>

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
      <div>
          
          <div class="dropdown-menu dashboard-dropdown dropdown-menu-start mt-2 py-0">
              <a class="dropdown-item fw-normal rounded-top" href="#"><span class="far fa-file-alt me-2"></span>Document</a>
              <a class="dropdown-item fw-normal" href="#"><span class="far fa-comment-dots me-2"></span>Message</a>
              <a class="dropdown-item fw-normal" href="#"><span class="fas fa-box-open me-2"></span>Product</a>
              <div role="separator" class="dropdown-divider my-0"></div>
              <a class="dropdown-item fw-normal rounded-bottom" href="#"><span class="fas fa-rocket text-danger me-2"></span>My Plan</a>
          </div>
      </div>
      <div>
         
          <div class="dropdown-menu dashboard-dropdown dropdown-menu-start mt-2 py-0">
              <a class="dropdown-item fw-normal rounded-top" href="#"><span class="fas fa-box-open"></span>Products</a>
              <a class="dropdown-item fw-normal" href="#"><span class="fas fa-store"></span>Customers</a>
              <a class="dropdown-item fw-normal" href="#"><span class="fas fa-cart-arrow-down"></span>Orders</a>
              <a class="dropdown-item fw-normal" href="#"><span class="fas fa-chart-pie"></span>Console</a>
              <div role="separator" class="dropdown-divider my-0"></div>
              <a class="dropdown-item fw-normal rounded-bottom" href="#"><span class="fas fa-rocket text-success"></span>All Reports</a>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-12 col-xl-8 card">
          <div class=" card-body mb-2 mb-3">
              <!-- <h1 class="h3 mb-2">Update Profile </h1> -->
              <form action= "{% url 'wayrem_supplier:update_supplier_profile' %}" method="POST" enctype="multipart/form-data" >
                {% csrf_token %}
                <h2 class="h5 my-4">Update Profile</h2>     
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div>
                            <label for="email">First Name</label>
                            {{form.first_name}}
                            
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div>
                            <label for="contact">Last Name</label>
                         
                            {{form.last_name}}
                        </div>
                    </div>
                </div>                           
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div>
                            <label for="email">Email</label>
                            {{form.email}}                              
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div>
                            <label for="contact">Phone</label>                           
                            {{form.contact}}
                        </div>
                    </div>
                </div>
                <h2 class="h5 my-4">Supplier Company Details -</h2>     
                  <div class="row align-items-center">
                      <div class="col-md-6 mb-3">
                          <label for="company_name">Company Name</label>
                            {{form.company_name}}
                      </div>
                      <div class="col-md-6 mb-3">
                          <label for="delivery_incharge">Delivery Incharge</label>
                          {{form.delivery_incharge}}
                      </div>
                  </div>
                  <div class="row align-items-center">
                    <div class="col-md-6 mb-3">
                        <label for="company_name">Company Phone No.</label>
                          {{form.company_phone_no}}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="delivery_incharge">Company Email</label>
                        {{form.company_email}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="address">Company Registration No.</label>
                            <!-- <input class="form-control" id="address" type="text" placeholder="Enter your home address" required> -->
                            {{form.registration_no}}
                        </div>
                    </div>    
                    <div class="col-md-6 mb-3">
                        <div>
                            <label for="logo">Logo</label>
                            <!-- <input class="form-control" id="last_name" type="text" placeholder="Also your last name" required> -->
                            {{form.logo}}
                            {{request.session.logo}}
                            {{form.logo.errors}}
                        </div>
                    </div>                                   
                </div>
                 
                <div class="row">
                    <div class="col-sm-9 mb-3">
                        <div class="form-group">
                            <label for="address">Address</label>
                            <!-- <input class="form-control" id="address" type="text" placeholder="Enter your home address" required> -->
                            {{form.address}}
                        </div>
                    </div>                      
                </div>
                <h2 class="h5 my-4">Company Work Timing -</h2>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="address">From Time</label>
                            <!-- <input class="form-control" id="address" type="text" placeholder="Enter your home address" required> -->
                            {{form.from_time}}
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="address">To Time</label>
                            <!-- <input class="form-control" id="address" type="text" placeholder="Enter your home address" required> -->
                            {{form.to_time}}
                        </div>
                    </div>                    
                </div>

                <h2 class="h5 my-4">Contact Person Details -</h2>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="address">Person Name</label>
                            <!-- <input class="form-control" id="address" type="text" placeholder="Enter your home address" required> -->
                            {{form.contact_person_name}}
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="address">Mobile No.</label>
                            <!-- <input class="form-control" id="address" type="text" placeholder="Enter your home address" required> -->
                            {{form.contact_phone_no}}
                        </div>
                    </div>                    
                </div>
               

                  <div class="mt-3">
                      <button type="submit" class="btn btn-dark">Update</button>
                  </div>
              </form>
          </div>
         
      </div>
      <div class="col-12 col-xl-4">
          <div class="row">
              <div class="col-12 mb-4">
                  <div class="card table_shadow text-center p-0">
                      {% comment %} <div class="profile-cover" data-background="{% static '/assets/img/curved-images/curved14.jpg' %}" style="background-image: url('{% static '/assets/img/curved-images/curved14.jpg' %}');"></div>  {% endcomment %}
                       <div class="card-body pb-5">
                          <img src="{% if logo %}{{logo.url}}{% else %}{% static '/assets/img/bruce-mars.jpg' %}{% endif %}" class="user-avatar large-avatar profile_img rounded-circle mx-auto mt-n7 mb-4" alt="Neil Portrait">
                          <h4 class="">{{username}}
                            
                          </h4>
                          <h6 class="fw-normal">
                            {{email}}
                          </h6>
                      </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}