{% load util_tags  %}
{% block content %}
<table class="table table-hover text-center" id="filtertable">
    <thead class="">
        <tr>
            <!-- <th scope="col">S. No.</th> -->
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Contact</th>
            <th scope="col">Role</th>
            {% if perms.user_management.user_activate %}
            <th scope="col">Status</th>
            {% endif %}
            {% if perms.user_management.delete_user or perms.user_management.view_user or perms.user_management.edit_user %}
            <th scope="col">Action</th>
            {% endif %}
        </tr>
    </thead>
    <tbody class="bg-white">
        {% for user in userlist %}
        {% if user.is_superuser %}
        {% else %}
        <tr>
            <!-- <th scope="row">{{forloop.counter}}</th> -->
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.contact}}</td>
            <td>{{user.role}}</td>
            {% if perms.user_management.user_activate %}
            <td>
                {% if not user.id == request.user.id %}
                    {% if user.is_active %} 
                    <a href="{% url 'wayrem_admin:activeblock' user.id %}" class="btn-sm text-success">
                        <!-- <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" url-action="{% url 'wayrem_admin:activeblock' user.id %}">
                            <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                        </div> -->
                        <i class="fas fa-toggle-on text-success"> Active</i></a> {% else %} <a
                        href="{% url 'wayrem_admin:activeblock' user.id %}" class="btn-sm text-danger"><i
                            class="fas fa-toggle-off"> Blocked</i>
                    </a>
                    {% endif %}
                    {% else %}

                {% endif %}
            </td>
            {% endif %}
            {% comment %} <td>{{user.role.content}}</td> {% endcomment %}
            {% if perms.user_management.delete_user or perms.user_management.view_user or perms.user_management.edit_user %}
            <td>
                <div class="btn-group">
                    <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="icon icon-sm">
                            <span class="fas fa-ellipsis-h icon-dark"></span>
                        </span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu" style="">
                        {% if perms.user_management.view_user %}
                        <a class="dropdown-item" href="{% url 'wayrem_admin:userdetails' user.id %}"><span class="fas fa-eye mr-2"></span>View Details</a>
                        {% endif %}
                        {% if perms.user_management.edit_user %}
                        <a class="dropdown-item" href="{% url 'wayrem_admin:updateuser' user.id %}"><span class="fas fa-edit mr-2"></span>Edit</a>
                        {% endif %}
                        {% if perms.user_management.delete_user %}
                        <a class="dropdown-item text-danger"  data-bs-toggle="modal" data-bs-target="#deleteModal{{user.id}}" href="#"> <span class="fas fa-trash-alt mr-2"></span>Remove</a>
                        {% endif %}
                    </div>
                </div>
                
                    <!-- Modal -->
                    <div class="modal fade" id="deleteModal{{user.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Delete {{user.username | title}}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure want to delete {{user.username | title}} ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                                    <form method="POST" action="{% url 'wayrem_admin:deleteuser' %}">
                                        {% csrf_token %}
                                        <input type="hidden" value="{{user.id}}" name="userid">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
            </td>
            {% endif %}
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
