
        <table class="table table-hover text-center" id="filtertable">
            <thead class=" ">
                <tr>
                    {% comment %} <th scope="col">S. No.</th> {% endcomment %}
                    <th scope="col">Title</th>
                    <th scope="col">Slug</th>
                    <th scope="col">Status</th>
                    {% comment %} <th scope="col">Created At</th> {% endcomment %}
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody class="bg-white">
                {% for user in userlist %}
                {% if user.is_superuser %}
                {% else %}
                <tr>
                
                    <td>{{user.page_title}}</td>
                    <td>{{user.slug}}</td>
                    <td>{% if user.status == True %}<i class="fas fa-toggle-on text-success"> Active</i> {% else %} <i
                        class="fas fa-toggle-off text-danger"> Inactive</i>{% endif %}</td>
                    {% comment %} <td>{{user.created_at|date:"M d, Y" }}</td> {% endcomment %}
                    <td>     
                            <div class="btn-group">
                                <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="icon icon-sm">
                                        <span class="fas fa-ellipsis-h icon-dark"></span>
                                    </span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                    {% if perms.static_page.view %}<a class="dropdown-item" href="{% url 'wayrem_admin:viewstaticpages' user.id %}"><span class="fas fa-eye mr-2"></span>View Details</a>{% endif %}
                                    {% if perms.static_page.edit %}<a class="dropdown-item" href="{% url 'wayrem_admin:updatestaticpages' user.id %}"><span class="fas fa-edit mr-2"></span>Edit</a>{% endif %}
                                    {% if perms.static_page.delete %}<a class="dropdown-item text-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{user.id}}" href="#"><span class="fas fa-trash-alt mr-2"></span>Remove</a>{% endif %}
                                    <!-- <a class="dropdown-item text-danger"  data-bs-toggle="modal" data-bs-target="#deleteModal{{prod.id}}" href="#"> <span class="fas fa-trash-alt mr-2"></span>Remove</a> -->
                                    
                                </div>
                            </div>          
                            <!-- Modal -->
                            <div class="modal fade" id="deleteModal{{user.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Delete {{user.page_title | title}}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure want to delete {{user.page_title | title}} ?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                                            <form method="POST" action="{% url 'wayrem_admin:deletestaticpages' %}">
                                                {% csrf_token %}
                                                <input type="hidden" value="{{user.id}}" name="pageid">
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </td>    
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>