
        <table class="table table-hover text-center" id="filtertable">
            <thead class=" ">
                <tr>
                    {% comment %} <th scope="col">S. No.</th> {% endcomment %}
                    <th scope="col">Title</th>
                    <th scope="col">Slug</th>
                    <th scope="col">Status</th>
                    {% comment %} <th scope="col">Created At</th> {% endcomment %}
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody class="bg-white">
                {% for user in userlist %}
                {% if user.is_superuser %}
                {% else %}
                <tr>
                
                    <td>{{user.page_title}}</td>
                    <td>{{user.slug}}</td>
                    <td>{% if user.status == True %}<i class="fas fa-toggle-on text-success"> Active</i> {% else %} <i
                        class="fas fa-toggle-off"> Inactive</i>{% endif %}</td>
                    {% comment %} <td>{{user.created_at|date:"M d, Y" }}</td> {% endcomment %}
                    <td>     
                            <div class="btn-group">
                                <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="icon icon-sm">
                                        <span class="fas fa-ellipsis-h icon-dark"></span>
                                    </span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'wayrem_admin:viewstaticpages' user.id %}"><span class="fas fa-eye mr-2"></span>View Details</a>
                                    <a class="dropdown-item" href="{% url 'wayrem_admin:updatestaticpages' user.id %}"><span class="fas fa-edit mr-2"></span>Edit</a>
                                    <!-- <a class="dropdown-item text-danger"  data-bs-toggle="modal" data-bs-target="#deleteModal{{prod.id}}" href="#"> <span class="fas fa-trash-alt mr-2"></span>Remove</a> -->
                                </div>
                            </div>          
                    </td>    
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>