<div class="subheader row align-items-center justify-content-between">
            <div class="col-xl-2 col-lg-5 col-5">
                <div class="col-xl-10 col-lg-10 col-md-12">
                    <form method="GET">
                        <div class="input-group search_filter_order">
                            {{status_filter_form.status}}
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-8">
                <div class="row d-flex align-items-center">
                    <div class="col-xl-12 col-lg-3 col-md-0 mb-3 mb-md-0 mb-sm-3 mb-lg-0 " style="height:40px;">
                    <form method="GET">    
                        <div class="input-group subadmin_search">
                            <input type="text" name="search" class="form-control p-2" id="id_search" value="{{search}}" placeholder="SKU">
                            <button type="submit" class="btn btn-dark border-0 col-xl-3 col-md-5 col-12 fas fa-search"> Search</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
</div>


