<div class="subheader row align-items-center justify-content-between">    
    <div class="table-settings mb-4">
        <div class="subheader row align-items-center justify-content-between"> 
            <div class="row add_btn col-xl-4 col-lg-4 col-md-5 d-flex align-items-center">
            </div>        
            <div class="col-xl-8 col-lg-8 col-12 mt-2 my-3">
                <div class="d-flex align-items-center ">
                    <div class="col-xl-6 col-lg-6 col-md-0 mb-3 mb-md-0 mb-sm-3 mb-lg-0 ml-0 pe-0" style="height:40px; margin-left: auto;">
                        <div class="input-group subadmin_search">
                            <form method="GET">    
                                <div class="input-group subadmin_search">
                                    {{filter_form.supplier_invoice}}
                                    <button type="submit" class="btn btn-dark border-0 col-xl-3 col-md-5 col-12 fas fa-search"> Search</button>
                                </div>
                            </form>
                        </div>      
                    </div>
                </div>       
            </div>       
        </div>            
    </div> 
    
</div>


