{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Email Templates {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block head %}
<script src="{% static 'assets/js/datatable_ajax.js' %}"></script>
<link rel="stylesheet" href="{% static 'assets/css/datatable.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<script src="{% static 'assets/js/datatable_1.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="{% static 'assets/js/datatable.js' %}"></script>
<style>
div.dataTables_wrapper div.dataTables_info{display: none;}
</style>
{% endblock head %}

{% block content %}
<div class="dashboard_content_inner">
    <div class="topbar_pages">
        <h4 class="text-title">Email Templates</h2>
        <div class="breadcrumb-section">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb padding-left-0">
                    <li class="breadcrumb-item"><a href="{% url 'wayrem_admin:dashboard' %}"><span class="sidebar-icon"><span class="fas fa-chart-pie"></span></span> Dashboard</a></li>                    
                    <li class="breadcrumb-item active" aria-current="page"><span class="sidebar-icon"><i class="fas fa-envelope"></i></span> Email Templates</li>
                </ol>
            </nav>
        </div>
    </div>
    {% if messages %}
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible fade show" {% endif %} role="alert">
        <strong> {{ message }}!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
     
    <div class="table-settings mb-4 pt-2">
        <div class="subheader row mt-3 align-items-center">
            <div class="col-xl-3 col-lg-3 col-md-3 padding-left-0" >
                <a href="{% url 'wayrem_admin:addemailtemplates' %}" class="btn btn-primary col-sm-12 col-md-12 col-12 create_new">Create Email Template</a>
            </div>
    
            <div class="col-xl-9 col-lg-9 col-12  padding-right-0">
                <div class="row d-flex align-items-center ">
                    <div class="col-xl-4 col-lg-3 col-md-0 mb-3 mb-md-0 mb-sm-3 mb-lg-0 ml-0 padding-right-0" style="height:40px; margin-left: auto;">
                            <div class="input-group subadmin_search">
                                    <span class="input-group-text" id="basic-addon2"><span class="fas fa-search"></span></span>
                                    <input type="text" class="form-control table_searchbar" id="table_search" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
                                </div>
                    </div>           
                </div>
            </div>
        </div>
    </div>        
    <div class="card card-body border-light shadow-sm table-wrapper table-responsive pt-0">
               {% include "emailtemplate/grid_emailtemplate.html" %} 
                {% include "emailtemplate/pagination.html" %}    
    </div>
</div>
<script>

    $(document).ready(function () {
        oTable = $('#filtertable').DataTable({
            dom: 'rtip',
            pageLength : 25,
            'columnDefs': [{ 'orderable': false, 'targets': [4,]}],
            "oLanguage": {
                "oPaginate": {
                    "sNext": '<i class="fas fa-arrow-circle-right text-primary"></i>',
                    "sPrevious": '<i class="fas fa-arrow-circle-left text-primary"></i>'
                }
            },
            "fnDrawCallback": function (oSettings) {
                if (oSettings._iDisplayLength > oSettings.fnRecordsDisplay()) {
                    $(oSettings.nTableWrapper).find('.dataTables_paginate').hide();
                } else {
                    $(oSettings.nTableWrapper).find('.dataTables_paginate').show();
                }
            }
        });
        $('#table_search').keyup(function () {
            oTable.search($(this).val()).draw();
            var info = oTable.page.info();
            $('.searchfound').text(info.recordsDisplay);
           if(info.recordsDisplay==0) {
            $('.searchfoundstart').text(0);
           } else {
            $('.searchfoundstart').text(1);
           }
        })
    });
</script>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}