{% load static %}
<style>
  .nav-label {
    float: right;
    margin-left: 1rem;
    font-style: normal;
    z-index: 1;
}
.nav-label .rounded {
  height: 22px;
  width: 22px;
  background-color:#f2e600;
  color:#1f2937;
  border-radius: 50% !important;
  display: inline-block;
  font-size: 70%;
  padding: 3px 4px  
}
</style>
<nav id="sidebarMenu" class="sidebar d-md-block bg-dark text-white collapse" data-simplebar>
  <div class="sidebar-inner px-3 pt-3">
    <div class="user-card d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">
      <div class="d-flex align-items-center">
        <div class="user-avatar lg-avatar me-4">
          <img src="{% static 'assets/img/team/profile-picture-3.jpg' %}" class="card-img-top rounded-circle border-white"
            alt="Bonnie Green">
        </div>
        <div class="d-block">
          <h2 class="h6">
            {{ request.user.username | title }}
          </h2>
          <a href="{% url 'wayrem_admin:logout' %}" class="btn btn-secondary text-dark btn-xs"><span class="me-2"><span
                class="fas fa-sign-out-alt"></span></span>Sign Out</a>
        </div>
      </div>
      <div class="collapse-close d-md-none">
        <a href="#sidebarMenu" class="fas fa-times" data-bs-toggle="collapse" data-bs-target="#sidebarMenu"
          aria-controls="sidebarMenu" aria-expanded="true" aria-label="Toggle navigation"></a>
      </div>
    </div>
    <ul class="nav flex-column pt-3 pt-md-0">
      <li class="nav-item {% if menu_list.menu.is_active == 1 %}active {% endif %}">
        <a  class="nav-link d-flex align-items-center">
          <span class="sidebar-text sidebar-logo">
            <img src="{% static '/assets/img/logo/Wayrem_logo_dashboard.svg'%}" height="100" width="" alt="Volt Logo">
          </span>
        </a>
      </li>

    {%if pages_menu%}
      {% for parent_id,menu_list in pages_menu.items %}
        {%if not menu_list.submenu%}
            <li class="nav-item {% if menu_list.menu.is_active == 1 %}active {% endif %}">
              {% if menu_list.menu.action_path != None %}
              
              <a href="{{menu_list.menu.action_path}}" class="nav-link">
                <span class="sidebar-icon">{{menu_list.menu.menu_icon|safe}}</span>
                {% if menu_list.menu.id == 31 %}
                <span class="sidebar-text">{{menu_list.menu.function_name}}</span><span class="nav-label"><b class="label rounded label-sm warn">{{request.new_order}}</b></span>
                {% elif menu_list.menu.id == 27 %}
                <span class="sidebar-text">{{menu_list.menu.function_name}}</span><span class="nav-label"><b class="label rounded label-sm warn">{{request.new_customer}}</b></span>
                {% else %}
                <span class="sidebar-text">{{menu_list.menu.function_name}}</span>
                {% endif %}
              </a>
            </li>
            {% endif %}
          {% else %}
          <li class="nav-item  {% if menu_list.menu.is_active == 1 %}active {% endif %}">
            {% if menu_list.menu.is_active == 1 %}
            <span class="nav-link d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target='
            #{{menu_list.menu.function_name.split|join:"-" }}' aria-expanded="true">
            {% else %}
            <span class="nav-link d-flex justify-content-between align-items-center collapsed " data-bs-toggle="collapse" data-bs-target='
            #{{menu_list.menu.function_name.split|join:"-" }}' >
            {% endif %}
            
              
            
            <span>
                
                <span class="sidebar-icon">{{menu_list.menu.menu_icon|safe}}</span>
                <span class="sidebar-text">{{menu_list.menu.function_name}}</span>
            </span>
              <span class="link-arrow"><span class="fas fa-chevron-right"></span></span>
            </span>
            <div class="multi-level collapse {% if menu_list.menu.is_active == 1 %}show {% endif %}" role="list" id='{{menu_list.menu.function_name.split|join:"-" }}' aria-expanded="false">
              <ul class="flex-column nav">
                  {% for sub in menu_list.submenu %}
                  {% if sub.action_path != None %}
                    <li class="nav-item {% if sub.is_active == 1 %}active {% endif %}">
                      <a class="nav-link" href="{{sub.action_path}}"><span class="sidebar-text">{{sub.function_name}} </span></a>
                    </li>
                    {% endif %}
                  {% endfor %}
              </ul>
            </div>
          </li>
      
        {%endif%}       
      {%endfor%}
    {%endif%}   

    <li role="separator" class="dropdown-divider mt-4 mb-3 border-black"></li>
    </ul>

        <div class="col-12   mb-3 mb-xl-0  status-icon shadow-sm">
          <div class="icon  icon-md  me-4 me-sm-0 status-icon_main">
              <span class="fas fa-cart-arrow-down"></span>        
          </div>
          <div class="icon-content"> 
            <a href="{% url 'wayrem_admin:orderlist' %}?status=16">       
              <h3 class="mb-0"><b>{{request.order_today}} Orders</b></h3>
              <!-- <p class="mb-0">8 minutes ago</p> -->
            </a>
          </div>
          <span class="fas fa-times"></span>
        </div>
  </div>
</nav>







<script>
  $('.status-icon_main').click(function(){
    $('.status-icon').removeClass('status-icon_main_open');
    $('.status-icon').addClass('status-icon_main_open');
  });
  
  $('.status-icon span.fas.fa-times').click(function(){
    $('.status-icon').removeClass('status-icon_main_open');
  });
</script>