{% extends "layouts/base.html" %} {% load static %} {% block title %} Purchase Order {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<div class="dashboard_content_inner">
    <div class="topbar_pages">
        <h4 class="text-title">View Purchase Order</h2>
            <div class="breadcrumb-section">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb padding-left-0">
                        <li class="breadcrumb-item"><a href="{% url 'wayrem_admin:dashboard' %}"><span class="sidebar-icon"><span class="fas fa-chart-pie"></span></span> Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'wayrem_admin:polist' %}"><span class="sidebar-icon"><span class="fas fa-file-alt"></span></span> Purchase Order</a></li>
                        <li class="breadcrumb-item active" aria-current="page">View Purchase Order</li>
                    </ol>
                </nav>
            </div>
    </div>

    <div class="subheader row  mt-3 mb-3">

        <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="d-flex justify-content-between mb-2">
                <h6 class="m-0">Purchase Order Details</h6>
            </div>

            <div class="bg-white rounded shadow-soft p-3 w-100 mb-3">

                <div class="d-flex justify-content-between">
                    <div>
                        <h4>#{{po.0.po_name}}</h4>
                        <span class="font-weight-bold text-dark">{{po.0.created_at|date:"d M Y"}}</span> at
                        <span class="font-weight-bold text-dark">{{po.0.created_at|time:"h:i a" }}</span><br>
                        {% if po.0.status == "waiting for approval" %}
                        <span class="font-weight-bold text-gray bg-gradient-danger badge badge-sm py-3">Your Purchase Order need to be approved by {{po.0.supplier_name|title}}</span>
                        {% endif %}
                    </div>

                    <div class="d-flex flex-column justify-content-end align-items-end">
                        <a href="{% url 'wayrem_admin:pdf_po' %}?po_id={{po.0.po_id}}" class="btn btn-info mb-2" type="button"><i class="fa fa-download" aria-hidden="true"></i>  Download Purchase Order</a>
                        <span class="font-weight-bold text-dark">{{po.0.supplier_name.company_name|title}}</span>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row justify-content-center form-bg-image">
        <div class="col-9 d-flex align-items-center flex-column">
            <div class="bg-white shadow-soft border rounded border-light p-3 w-100 ">
                <div class="text-center text-md-center mb-4 mt-md-0">
                    <h1 class="mb-0 h3">
                        {% comment %} <img src="{% static '/assets/img/logo/Wayrem_logo..svg'%}" style="width:80%" alt=""> {% endcomment %}
                    </h1>
                    <!-- <br/> -->
                    <p class="m-0 text-left">
                        {% if messages %} {% for message in messages %}
                        <div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible fade show" {% endif %} role="alert">
                            <strong> {{ message }}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %} {% endif %}
                    </p>
                    <!-- <div class="row">
                        <div class="col">
                            <h5>Purchase Order :</h5>
                            <p>{{po.0.po_name}}</p>
                        </div>
                        <div class="col">
                            <h5>Supplier :</h5>
                            <p>{{po.0.supplier_name}}</p>
                        </div>
                    </div> -->
                    <div class="container p-0">
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" class="border-0 rounded-start">#</th>
                                    <th scope="col" class="border-0">Product</th>
                                    <th scope="col" class="border-0">Quantity</th>
                                    <th scope="col" class="border-0">Unit Price (by supplier)</th>
                                    <th scope="col" class="border-0">Selling Price</th>
                                    {% comment %} <th scope="col" class="border-0">Delivery</th> {% endcomment %}
                                    <th scope="col" class="border-0 rounded-end">Availability</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in po %}
                                {% if i.available %}
                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <td>{{i.product_name}}</td>
                                    <td>{{i.product_qty}}</td>
                                    <td>
                                        <span> SAR {{i.unit_price}} </span>
                                    </td>
                                    <td>
                                       <span class="{% if i.supplier_product.price > i.product_name.price %} text-danger {% endif %}"> SAR {{i.product_name.price}} </span>
                                    </td>
                                    {% comment %} <td>within 2days</td> {% endcomment %}
                                    <td class="text-success font-weight-bold">Available</td>
                                </tr>
                                {% else %}
                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <td>{{i.product_name}}</td>
                                    <td>{{i.product_qty}}</td>
                                    <td>SAR {{i.product_name.price}}</td>
                                    {% comment %} <td>within 2days</td> {% endcomment %}
                                    <td class="text-danger font-weight-bold">Not Available</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                        <!-- <div class="text-right">
                            <a href="{% url 'wayrem_admin:polist' %}" class="btn btn-dark my-3">Back</a>
                        </div> -->
                    </div>
                </div>
            </div>

            <div class="bg-white shadow-soft rounded p-3 w-100 mt-3">
                Purchase order progress
                <section class="timeline_area">
                   
                    <div class="timline_status {% if po_logs.1.created_at %}  fill_status_comp {% elif po_logs.0.created_at %} fill_status_current {% else %}  {% endif %} pe-0">
                        {% if po_logs.1.created_at %}
                        <div class="comp_status">Approved</div>
                        {% elif po_logs.0.created_at %}
                        <div class="current_status">Approval Ongoing</div>
                        {% else %}
                        <div class="comp_status">Waiting for Approval</div> {% endif %}
                        <div class="d-flex align-items-end flex-column">
                            <span>{{po_logs.0.created_at|date:"d M Y"}}</span>
                            <span>{{po_logs.0.created_at|time:"h:i a"}}</span>
                        </div>
                    </div>
                    <div class="timline_status {% if po_logs.2.created_at %}  fill_status_comp {% elif po_logs.1.created_at %} fill_status_current {% else %}  {% endif %} pe-0">
                        {% if po_logs.2.created_at %}
                        <div class="comp_status">Prepared</div>
                        {% elif po_logs.1.created_at %}
                        <div class="current_status">Preperation Ongoing</div>
                        {% else %}
                        <div class="comp_status">Waiting for Preperation</div> {% endif %}
                        
                        <div class="d-flex align-items-end flex-column">
                            <span>{{po_logs.1.created_at|date:"d M Y"}}</span>
                            <span>{{po_logs.1.created_at|time:"h:i a"}}</span>
                        </div>
                    </div>
                    <div class="timline_status {% if po_logs.3.created_at %}  fill_status_comp {% elif po_logs.2.created_at %} fill_status_current {% else %}  {% endif %} pe-0">
                        {% if po_logs.3.created_at %}
                        <div class="comp_status">Shipped</div>
                        {% elif po_logs.2.created_at %}
                        <div class="current_status">Shipping Ongoing</div>
                        {% else %}
                        <div class="comp_status">Waiting for Shipping</div> {% endif %}
                        <div class="d-flex align-items-end flex-column">
                            <span>{{po_logs.2.created_at|date:"d M Y"}}</span>
                            <span>{{po_logs.2.created_at|time:"h:i a"}}</span>
                        </div>
                    </div>
                    <div class="timline_status {% if po_logs.4.created_at %}  fill_status_comp {% elif po_logs.3.created_at %} fill_status_current {% else %}  {% endif %} pe-0">
                        {% if po_logs.4.created_at %}
                        <div class="comp_status">Delivered</div>
                        {% elif po_logs.3.created_at %}
                        <div class="current_status">Delivery Ongoing</div>
                        {% else %}
                        <div class="comp_status">Waiting for Delivery</div> {% endif %}
                        <div class="d-flex align-items-end flex-column">
                            <span>{{po_logs.3.created_at|date:"d M Y"}}</span>
                            <span>{{po_logs.3.created_at|time:"h:i a"}}</span>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="col-3 ps-0">
            {% if po.0.status == "approved" %}
            <div class="bg-white table_shadow rounded p-3 w-100">
                <div class="approved_po"><i class="fa fa-check mx-2" aria-hidden="true"></i>
                    <span> #{{po.0.po_name}} was approved by <span class="text-dark font-weight-bold"> {{po.0.supplier_name.company_name|title}}</span></span>
                </div>
                <div class="d-flex justify-content-between flex-row py-3">
                    <span class="font-weight-bold text-dark"><i class="fa fa-calendar text-gray-500 px-2" aria-hidden="true"></i> {{po_logs.0.created_at|date:"d M Y"}}</span> at
                    <span class="font-weight-bold text-dark"><i class="far fa-clock text-gray-500 px-2"></i>{{po_logs.0.created_at|time:"h:i a"}}</span>
                </div>
            </div>
            {% elif po.0.status == "declined" %}
            <div class="bg-white table_shadow rounded p-3 w-100 mt-3">
                <div class="declined_po">
                    <span> Declined by <span class="text-dark font-weight-bold"> {{po.0.supplier_name}}</span></span>
                </div>
                <div>
                    <h6 class="my-2">Reason</h6>
                    <span class="text-gray-500">{{po.0.reason}}</span></div>
                <div class="d-flex justify-content-between flex-row py-3">
                    <span class="font-weight-bold text-dark"><i class="fa fa-calendar text-gray-500 px-2" aria-hidden="true"></i>{{po.0.updated_at|date:"d M Y"}}</span> at
                    <span class="font-weight-bold text-dark"><i class="far fa-clock text-gray-500 px-2"></i>{{po.0.updated_at|time:"H:i A" }}</span>
                </div>

            </div>
            {% endif %}

            {% if po_logs.4.created_at %}

            {% elif po_logs.3.created_at %}
            <div class="bg-white table_shadow rounded p-3 w-100  mt-3">
                {% if perms.purchase_orders.delivery %}
                <span>Order Delivery Confirmation</span>
                <div class="d-flex justify-content-between my-2">
                    <a href="{% url 'wayrem_admin:confirm_delivery' po.0.po_id %}" class="btn btn-success w-100" type="button">Confirm order Delivery</a>
                </div>
                {% endif %}
            </div>
            {% else %}

            {% endif %}
    
            {% if po.0.status != "waiting for approval" %}
            <div class="bg-white table_shadow rounded p-3 w-100 mt-3">
                <span>Download Supplier Invoice</span>
                <div class="d-flex justify-content-between my-2">
                    <a href="{% url 'wayrem_admin:downloadinvoicepo' %}?poName={{po.0.po_name}}" class="btn btn-info w-100" type="button">Download</a>
                </div>
            </div>
            {% else %}

            {% endif %}
        </div>
    </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
<script>
    $('#code').keyup(function() {
        if (this.value.length >= 12) {
            $('#subHere').click();
        }
    });
</script>

<script>
    document.addEventListener('keydown', function(event) {
        if (event.keyCode == 13 || event.keyCode == 17 || event.keyCode == 74)
            event.preventDefault();
    });
</script>
{% endblock javascripts %}